In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Merch.csv')

## По всей выборке:

In [3]:
# Вычисляем количество опрошенных пользователей по полу
df.groupby('Укажите ваш пол').count()[['Отметка времени']]

                 Отметка времени
Укажите ваш пол
Женский                      119
Мужской                       40

In [4]:
# Вычисляем количество опрошенных пользователей по возрасту
df.groupby('Укажите ваш возраст').count()[['Отметка времени']].sort_values('Отметка времени', ascending=False)

                     Отметка времени
Укажите ваш возраст
30-39 лет                         62
40-49 лет                         37
23-29 лет                         33
больше 50 лет                     13
18-22 лет                          9
до 18 лет                          5

In [5]:
# Вычисляем количество опрошенных пользователей по городу проживания
df.groupby('Укажите ваш город').count()[['Отметка времени']].sort_values('Отметка времени', ascending=False).head(10)

                   Отметка времени
Укажите ваш город
Москва                          39
Санкт-Петербург                 15
Новосибирск                      6
Самара                           5
Ростов-на-Дону                   5
Екатеринбург                     5
Краснодар                        4
Чехов                            3
Владимир                         3
Челябинск                        3

#### Исходя из полученных данных, оставляю те города, в которых проживают наибольшее количество опрошенных пользователей

In [6]:
df_city = df.loc[df['Укажите ваш город'].isin(['Москва', 'Санкт-Петербург', 'Новосибирск', 'Екатеринбург', 'Самара', 'самара'])]
df_city.iloc[[35], [3]] = 'Самара'

C:\Users\GRALEX\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-6-ee4b69f46042>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_city.iloc[[35], [3]] = 'Самара'

In [7]:
df_city.groupby('Укажите ваш пол').count()[['Отметка времени']]

                 Отметка времени
Укажите ваш пол
Женский                       54
Мужской                       17

In [8]:
df_city.groupby('Укажите ваш возраст').count()[['Отметка времени']].sort_values('Отметка времени', ascending=False).head(6)

                     Отметка времени
Укажите ваш возраст
30-39 лет                         24
23-29 лет                         21
40-49 лет                         12
больше 50 лет                      6
18-22 лет                          5
до 18 лет                          3

In [9]:
df_city.groupby('Укажите ваш город').count()[['Отметка времени']].sort_values('Отметка времени', ascending=False).head()

                   Отметка времени
Укажите ваш город
Москва                          38
Санкт-Петербург                 15
Новосибирск                      6
Самара                           6
Екатеринбург                     5

### Портреты пользователей ЦА: 
Мужчины и женщины, в возрасте от 23 до 49 лет, проживающие в Москве и Санкт-Петербурге

In [10]:
target_audience = df_city.loc[df_city['Укажите ваш возраст'].isin(['30-39 лет', '23-29 лет', '40-49 лет'])]
target_audience.rename(columns = {
    target_audience.columns[0]: 'Timestamp',
    target_audience.columns[1]: 'Age',
    target_audience.columns[2]: 'Sex',
    target_audience.columns[3]: 'City',
    target_audience.columns[4]: 'Color_Shop',
    target_audience.columns[5]: 'Time_order',
    target_audience.columns[6]: 'Discond',
    target_audience.columns[7]: 'Time_reply',
    target_audience.columns[8]: 'Feedback_method',
    target_audience.columns[9]: 'Bought_merch',
    target_audience.columns[10]: 'Size_logo',
    target_audience.columns[11]: 'Most_interested_merch',
    target_audience.columns[12]: 'Merch_without_logo',    
    target_audience.columns[13]: 'Citation',
    target_audience.columns[14]: 'Jumor_citation',
    target_audience.columns[15]: 'Merch_after_event',
    target_audience.columns[16]: 'Uniq_color_print',
    target_audience.columns[17]: 'Merch_for_lern',
    target_audience.columns[18]: 'Unique_merch',
    target_audience.columns[19]: 'Limit_merch',
    target_audience.columns[20]: 'Eco',
    target_audience.columns[21]: 'Charity',
    target_audience.columns[22]: 'Buy_for_charity'    
}, inplace = True)

C:\Users\GRALEX\anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [11]:
target_audience_f = target_audience.loc[target_audience.Sex == 'Женский']
target_audience_m = target_audience.loc[target_audience.Sex == 'Мужской']

In [12]:
# Женщины
target_audience_f.groupby('City').count()[['Timestamp']].sort_values('Timestamp', ascending=False).head()

                 Timestamp
City
Москва                  25
Санкт-Петербург         11
Новосибирск              6
Екатеринбург             4
Самара                   1

In [13]:
# Мужчины
target_audience_m.groupby('City').count()[['Timestamp']].sort_values('Timestamp', ascending=False).head()

                 Timestamp
City
Москва                   7
Санкт-Петербург          3

In [14]:
# В основном, женщины из Москвы и Санкт-Петербурга в возрасте 23-49 лет
target_audience_f.groupby('Age').count()[['Timestamp']].sort_values('Timestamp', ascending=False).head()

           Timestamp
Age
23-29 лет         19
30-39 лет         19
40-49 лет          9

In [15]:
# В основном, мужчины из Москвы и Санкт-Петербурга в возрасте 30-49 лет
target_audience_m.groupby('Age').count()[['Timestamp']].sort_values('Timestamp', ascending=False).head()

           Timestamp
Age
30-39 лет          5
40-49 лет          3
23-29 лет          2

### % опрошенных пользователей, которые так ответили:

In [16]:
df_f = df.loc[df['Укажите ваш пол'] == 'Женский']
df_m = df.loc[df['Укажите ваш пол'] == 'Мужской']

In [17]:
df1_f = round(df_f.iloc[:,[1]].value_counts() / df_f.iloc[:,[1]].value_counts().sum() * 100, 1).reset_index()
df1_f.columns = ['Укажите ваш возраст', 'Жен., %']
df1_f

  Укажите ваш возраст  Жен., %
0           30-39 лет     40.3
1           23-29 лет     23.5
2           40-49 лет     22.7
3       больше 50 лет      7.6
4           18-22 лет      4.2
5           до 18 лет      1.7

In [18]:
df1_m = round(df_m.iloc[:,[1]].value_counts() / df_m.iloc[:,[1]].value_counts().sum() * 100, 1).reset_index()
df1_m.columns = ['Укажите ваш возраст', 'Муж., %']
df1_m

  Укажите ваш возраст  Муж., %
0           30-39 лет     35.0
1           40-49 лет     25.0
2           23-29 лет     12.5
3       больше 50 лет     10.0
4           18-22 лет     10.0
5           до 18 лет      7.5

In [19]:
df2 = round(df.iloc[:,[2]].value_counts() / df.iloc[:,[2]].value_counts().sum() * 100, 1).reset_index()
df2.columns = ['Укажите ваш пол', '%']
df2

  Укажите ваш пол     %
0         Женский  74.8
1         Мужской  25.2

In [20]:
df3_f = round(df_f.iloc[:,[3]].value_counts() / df_f.iloc[:,[3]].value_counts().sum() * 100, 1).reset_index()
df3_f.columns = ['Укажите ваш город', 'Жен., %']
df3_f.head(10)

  Укажите ваш город  Жен., %
0            Москва     25.2
1   Санкт-Петербург     10.1
2       Новосибирск      5.0
3    Ростов-на-Дону      3.4
4      Екатеринбург      3.4
5         Краснодар      2.5
6         Челябинск      2.5
7           Алмере       2.5
8          Владимир      1.7
9   Нижний Новгород      1.7

In [21]:
df3_m = round(df_m.iloc[:,[3]].value_counts() / df_m.iloc[:,[3]].value_counts().sum() * 100, 1).reset_index()
df3_m.columns = ['Укажите ваш город', 'Муж., %']
df3_m.head(15)

   Укажите ваш город  Муж., %
0             Москва     22.5
1    Санкт-Петербург      7.5
2             Самара      7.5
3              Чехов      7.5
4        Симферополь      5.0
5             самара      2.5
6         Махачкала       2.5
7        Владивосток      2.5
8           Владимир      2.5
9       Екатеринбург      2.5
10       Зеленокумск      2.5
11            Ижевск      2.5
12        Краматорск      2.5
13         Краснодар      2.5
14        Красноярск      2.5

In [22]:
df4_f = round(df_f.iloc[:,[4]].value_counts() / df_f.iloc[:,[4]].value_counts().sum() * 100, 1).head().reset_index()
df4_f.columns = ['Какая цветовая гамма интернет-магазина вам нравится?', 'Жен., %']
df4_f

  Какая цветовая гамма интернет-магазина вам нравится?  Жен., %
0          Сдержанные оттенки (белый, черный, серый)       47.1
1              Яркая (синий, красный, зеленый и тд.)       31.1
2                                            Неважно       21.8

In [23]:
df4_m = round(df_m.iloc[:,[4]].value_counts() / df_m.iloc[:,[4]].value_counts().sum() * 100, 1).head().reset_index()
df4_m.columns = ['Какая цветовая гамма интернет-магазина вам нравится?', 'Муж., %']
df4_m

  Какая цветовая гамма интернет-магазина вам нравится?  Муж., %
0          Сдержанные оттенки (белый, черный, серый)       62.5
1              Яркая (синий, красный, зеленый и тд.)       27.5
2                                            Неважно       10.0

In [24]:
df5 = round(df.iloc[:,[5]].value_counts() / df.iloc[:,[5]].value_counts().sum() * 100, 1).head().reset_index()
df5.columns = ['Сколько по времени вы готовы ждать свой заказ?', '%']
df5

  Сколько по времени вы готовы ждать свой заказ?     %
0                               4-7 рабочих дней  41.5
1                                1-3 рабочих дня  40.9
2                                        Неважно   9.4
3                           более 7 рабочих дней   8.2

In [25]:
df6 = round(df.iloc[:,[6]].value_counts() / df.iloc[:,[6]].value_counts().sum() * 100, 1).reset_index()
df6.columns = ['Что из перечисленного могло бы мотивировать вас к покупке?', '%']
df6

  Что из перечисленного могло бы мотивировать вас к покупке?     %
0                                             Скидка          20.8
1                          Наличие промокода, Скидка          20.1
2      Наличие промокода, Скидка, Система лояльности          17.0
3                                  Наличие промокода          11.3
4                         Скидка, Система лояльности          10.7
5                                 Система лояльности           9.4
6                           Ничего из перечисленного           6.3
7              Наличие промокода, Система лояльности           3.8
8                   Скидка, Ничего из перечисленного           0.6

In [26]:
df7 = round(df.iloc[:,[7]].value_counts() / df.iloc[:,[7]].value_counts().sum() * 100, 1).reset_index()
df7.columns = ['Как долго вы готовы ждать ответа от менеджера по вашему заказу?', '%']
df7

  Как долго вы готовы ждать ответа от менеджера по вашему заказу?     %
0                                     В течение часа               40.9
1                                    В течение суток               30.8
2                                           1-3 часа               25.2
3                                            Неважно                3.1

In [27]:
df8 = round(df.iloc[:,[8]].value_counts() / df.iloc[:,[8]].value_counts().sum() * 100, 1).head(50).reset_index()
df8.columns = ['Какой способ обратной связи с менеджером вам наиболее удобен?', '%']
df8

   Какой способ обратной связи с менеджером вам наиболее удобен?     %
0             Получить ответ в мессенджере/в соцсетях             13.8
1                                На самом сайте (чат)             11.3
2   На самом сайте (чат), Получить ответ в мессенд...              8.8
3   На самом сайте (чат), Получить ответ на почту,...              7.5
4   Получить ответ на почту, Получить ответ в месс...              5.7
5   Получить ответ на телефон (звонок), Получить о...              5.0
6                  Получить ответ на телефон (звонок)              5.0
7                             Получить ответ на почту              4.4
8   Получить ответ на почту, Получить ответ на тел...              4.4
9                     Получить ответ на телефон (смс)              4.4
10      На самом сайте (чат), Получить ответ на почту              3.8
11  Получить ответ на почту, Получить ответ на тел...              3.8
12  Получить ответ на телефон (смс), Получить отве...              3.1
13  Получить ответ на почту, Получить ответ на тел...              3.1
14  Получить ответ на почту, Получить ответ на тел...              2.5
15  На самом сайте (чат), Получить ответ на почту,...              1.9
16  Получить ответ на почту, Получить ответ на тел...              1.3
17  На самом сайте (чат), Получить ответ на телефо...              1.3
18  На самом сайте (чат), Получить ответ на телефо...              1.3
19  На самом сайте (чат), Получить ответ на почту,...              1.3
20  Получить ответ на почту, Получить ответ на тел...              1.3
21  Получить ответ на телефон (звонок), Получить о...              1.3
22  На самом сайте (чат), Получить ответ на телефо...              0.6
23  На самом сайте (чат), Получить ответ на телефо...              0.6
24  На самом сайте (чат), Получить ответ на почту,...              0.6
25  На самом сайте (чат), Получить ответ на почту,...              0.6
26  На самом сайте (чат), Получить ответ на почту,...              0.6
27                                            Неважно              0.6

In [28]:
df9 = round(df.iloc[:,[9]].value_counts() / df.iloc[:,[9]].value_counts().sum() * 100, 1).head().reset_index()
df9.columns = ['Вы когда-нибудь покупали мерч?', '%']
df9

  Вы когда-нибудь покупали мерч?     %
0                             Да  53.5
1               Нет, но планирую  32.7
2              Нет и не планирую  13.8

In [29]:
df10 = round(df.iloc[:,[10]].value_counts() / df.iloc[:,[10]].value_counts().sum() * 100, 1).head().reset_index()
df10.columns = ['Вам важно, какого размера будет логотип на мерче?', '%']
df10

  Вам важно, какого размера будет логотип на мерче?     %
0    Да, нравится, когда логотип маленького размера  56.6
1    Нет, мне неважно, какого размера будет логотип  20.1
2             Не люблю, когда на мерче есть логотип  11.9
3               Да, нравится, когда логотип крупный  11.3

In [30]:
df11 = round(df.iloc[:,[11]].value_counts() / df.iloc[:,[11]].value_counts().sum() * 100, 1).head(20).reset_index()
df11.columns = ['Какой мерч вам интереснее всего?', '%']
df11

                     Какой мерч вам интереснее всего?     %
0                       Одежда (футболки, худи и др.)  36.5
1         Канцтовары (блокноты, ручки, стикеры и др.)  31.4
2                    Аксессуары (шоперы, шарфы и др.)  16.4
3                  Посуда (кружки, термокружки и др.)  10.1
4                             канцтовары и аксессуары   0.6
5                                         значки-пины   0.6
6                                                 все   0.6
7   Одежды сликом много у всех - я бы предпочла те...   0.6
8                     Канцтовары, аксессуары и посуда   0.6
9                Всё из перечисленного и можно больше   0.6
10                              Всё вышеперечисленное   0.6
11                         Все, что касается здоровьч   0.6
12                                 Все перечисленное    0.6

In [31]:
df12 = round(df.iloc[:,[12]].value_counts() / df.iloc[:,[12]].value_counts().sum() * 100, 1).head().reset_index()
df12.columns = ['Вам был бы интересен мерч без логотипа, который отражал бы философию конкретного бренда? Пример - футболки с надписью "Иноагент", выпущенные "Медузой" совместно с другими брендами', '%']
df12

,"Вам был бы интересен мерч без логотипа, который отражал бы философию конкретного бренда? Пример - футболки с надписью ""Иноагент"", выпущенные ""Медузой"" совместно с другими брендами",%
0,Да,75.5
1,Нет,24.5

In [32]:
df13 = round(df.iloc[:,[13]].value_counts() / df.iloc[:,[13]].value_counts().sum() * 100, 1).head().reset_index()
df13.columns = ['Вам нравятся цитаты в виде принта на мерче?', '%']
df13

  Вам нравятся цитаты в виде принта на мерче?     %
0                                          Да  78.0
1                                         Нет  22.0

In [33]:
df14 = round(df.iloc[:,[14]].value_counts() / df.iloc[:,[14]].value_counts().sum() * 100, 1).head().reset_index()
df14.columns = ['Как вы относитесь к юмористическим цитатам на мерче?', '%']
df14

  Как вы относитесь к юмористическим цитатам на мерче?     %
0                                           Нравится    75.5
1                                        Не нравится    24.5

In [34]:
df15 = round(df.iloc[:,[15]].value_counts() / df.iloc[:,[15]].value_counts().sum() * 100, 1).head().reset_index()
df15.columns = ['Вы обычно покупаете мерч после важных мероприятий? Например, после концерта или интересной отраслевой конференции', '%']
df15

,"Вы обычно покупаете мерч после важных мероприятий? Например, после концерта или интересной отраслевой конференции",%
0,Да,38.4
1,Нет,31.4
2,Я никогда не покупал мерч,30.2

In [35]:
df16 = round(df.iloc[:,[16]].value_counts() / df.iloc[:,[16]].value_counts().sum() * 100, 1).head().reset_index()
df16.columns = ['Вам важно, чтобы вы сами могли придумать свой дизайн для мерча: выбрать уникальное сочетание цвета и принта?', '%']
df16

,"Вам важно, чтобы вы сами могли придумать свой дизайн для мерча: выбрать уникальное сочетание цвета и принта?",%
0,"Нет, дизайнерам виднее",57.2
1,"Да, люблю эксперименты",42.8

In [36]:
df17 = round(df.iloc[:,[17]].value_counts() / df.iloc[:,[17]].value_counts().sum() * 100, 1).head().reset_index()
df17.columns = ['Мерч в качестве бонуса мотивировал бы вас лучше учиться?', '%']
df17

  Мерч в качестве бонуса мотивировал бы вас лучше учиться?     %
0                                                 Да        69.8
1                                                Нет        30.2

In [37]:
df18 = round(df.iloc[:,[18]].value_counts() / df.iloc[:,[18]].value_counts().sum() * 100, 1).head().reset_index()
df18.columns = ['Вам важно, чтобы мерч был уникальным продуктом, который больше ни у кого не встретишь?', '%']
df18

,"Вам важно, чтобы мерч был уникальным продуктом, который больше ни у кого не встретишь?",%
0,Да,67.3
1,Нет,32.7

In [38]:
df19 = round(df.iloc[:,[19]].value_counts() / df.iloc[:,[19]].value_counts().sum() * 100, 1).head().reset_index()
df19.columns = ['Вы готовы платить за лимитированный мерч? Лимитированная коллекция - та, которая выпускается один раз ограниченным тиражом', '%']
df19

,"Вы готовы платить за лимитированный мерч? Лимитированная коллекция - та, которая выпускается один раз ограниченным тиражом",%
0,Да,50.9
1,Нет,49.1

In [39]:
df20 = round(df.iloc[:,[20]].value_counts() / df.iloc[:,[20]].value_counts().sum() * 100, 1).head().reset_index()
df20.columns = ['Обращаете ли вы внимание на экологичность товаров при покупке вещей?', '%']
df20

  Обращаете ли вы внимание на экологичность товаров при покупке вещей?     %
0         Да, большая часть моих вещей - экологичные                    54.1
1  Нет, для меня это неважный критерий при выборе...                    45.9

In [40]:
df21 = round(df.iloc[:,[21]].value_counts() / df.iloc[:,[21]].value_counts().sum() * 100, 1).head().reset_index()
df21.columns = ['Вы с большей вероятностью купите мерч, если будете знать, что вырученные средства пойдут на благотворительность?', '%']
df21

,"Вы с большей вероятностью купите мерч, если будете знать, что вырученные средства пойдут на благотворительность?",%
0,Да,58.5
1,Нет,41.5

In [41]:
df22 = round(df.iloc[:,[22]].value_counts() / df.iloc[:,[22]].value_counts().sum() * 100, 1).head().reset_index()
df22.columns = ['Вы бы купили мерч в подарок для благотворительного фонда/детского дома?', '%']
df22

,Вы бы купили мерч в подарок для благотворительного фонда/детского дома?,%
0,Да,64.8
1,Нет,35.2

In [42]:
from scipy import stats
import scipy.stats as stats
import math

In [43]:
df.rename(columns = {
    df.columns[0]: 'Timestamp',
    df.columns[1]: 'Age',
    df.columns[2]: 'Sex',
    df.columns[3]: 'City',
    df.columns[4]: 'Color_Shop',
    df.columns[5]: 'Time_order',
    df.columns[6]: 'Discond',
    df.columns[7]: 'Time_reply',
    df.columns[8]: 'Feedback_method',
    df.columns[9]: 'Bought_merch',
    df.columns[10]: 'Size_logo',
    df.columns[11]: 'Most_interested_merch',
    df.columns[12]: 'Merch_without_logo',    
    df.columns[13]: 'Citation',
    df.columns[14]: 'Jumor_citation',
    df.columns[15]: 'Merch_after_event',
    df.columns[16]: 'Uniq_color_print',
    df.columns[17]: 'Merch_for_lern',
    df.columns[18]: 'Unique_merch',
    df.columns[19]: 'Limit_merch',
    df.columns[20]: 'Eco',
    df.columns[21]: 'Charity',
    df.columns[22]: 'Buy_for_charity'    
}, inplace = True)

In [44]:
df.loc[df.Merch_without_logo == 'Да', 'Merch_without_logo?'] = 1.0
df.loc[df.Citation == 'Да', 'Citation?'] = 1.0
df.loc[df.Jumor_citation == 'Нравится', 'Jumor_citation?'] = 1.0

df.loc[df.Uniq_color_print == 'Да, люблю эксперименты', 'Uniq_color_print?'] = 1.0
df.loc[df.Merch_for_lern == 'Да', 'Merch_for_lern?'] = 1.0
df.loc[df.Unique_merch == 'Да', 'Unique_merch?'] = 1.0
df.loc[df.Limit_merch == 'Да', 'Limit_merch?'] = 1.0
df.loc[df.Eco == 'Да, большая часть моих вещей - экологичные', 'Eco?'] = 1.0
df.loc[df.Charity == 'Да', 'Charity?'] = 1.0
df.loc[df.Buy_for_charity == 'Да', 'Buy_for_charity?'] = 1.0
df.fillna('')
df.loc[df.Merch_without_logo == 'Нет', 'Merch_without_logo?'] = 0.0
df.loc[df.Citation == 'Нет', 'Citation?'] = 0.0
df.loc[df.Jumor_citation == 'Не нравится', 'Jumor_citation?'] = 0.0

df.loc[df.Uniq_color_print == 'Нет, дизайнерам виднее', 'Uniq_color_print?'] = 0.0
df.loc[df.Merch_for_lern == 'Нет', 'Merch_for_lern?'] = 0.0
df.loc[df.Unique_merch == 'Нет', 'Unique_merch?'] = 0.0
df.loc[df.Limit_merch == 'Нет', 'Limit_merch?'] = 0.0
df.loc[df.Eco == 'Нет, для меня это неважный критерий при выборе товара', 'Eco?'] = 0.0
df.loc[df.Charity == 'Нет', 'Charity?'] = 0.0
df.loc[df.Buy_for_charity == 'Нет', 'Buy_for_charity?'] = 0.0

In [45]:
df_f.loc[df_f['Какая цветовая гамма интернет-магазина вам нравится?'] == 'Сдержанные оттенки (белый, черный, серый)', 'Color?'] = 1.0
df.fillna('')
df_f.loc[df_f['Какая цветовая гамма интернет-магазина вам нравится?'] == 'Яркая (синий, красный, зеленый и тд.)', 'Color?'] = 0.0
df.fillna('')
df_f.loc[df_f['Какая цветовая гамма интернет-магазина вам нравится?'] == 'Неважно', 'Color?'] = 0.5

C:\Users\GRALEX\anaconda3\lib\site-packages\pandas\core\indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\GRALEX\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [46]:
data4_f = df_f['Color?']

def mean_confidence_interval_4_f(data4_f, confidence=0.95):
    average = data4_f.mean()      
    delta = stats.sem(data4_f) * stats.norm.ppf((1 + confidence) / 2) / math.sqrt(len(data4_f))
    return round(average-delta, 2), round(average+delta, 2)

print('Доверительный интервал для выборки (ЖЕНЩИНЫ) "Какая цветовая гамма интернет-магазина вам нравится?": ', mean_confidence_interval_4_f(data4_f, 0.95))

Доверительный интервал для выборки (ЖЕНЩИНЫ) "Какая цветовая гамма интернет-магазина вам нравится?":  (0.57, 0.59)

In [47]:
df_m.loc[df_m['Какая цветовая гамма интернет-магазина вам нравится?'] == 'Сдержанные оттенки (белый, черный, серый)', 'Color?'] = 1.0
df.fillna('')
df_m.loc[df_m['Какая цветовая гамма интернет-магазина вам нравится?'] == 'Яркая (синий, красный, зеленый и тд.)', 'Color?'] = 0.0
df.fillna('')
df_m.loc[df_m['Какая цветовая гамма интернет-магазина вам нравится?'] == 'Неважно', 'Color?'] = 0.5

In [48]:
data4_m = df_m['Color?']

def mean_confidence_interval_4_m(data4_m, confidence=0.95):
    average = data4_m.mean()      
    delta = stats.sem(data4_m) * stats.norm.ppf((1 + confidence) / 2) / math.sqrt(len(data4_m))
    return round(average-delta, 2), round(average+delta, 2)

print('Доверительный интервал для выборки (МУЖЧИНЫ) "Какая цветовая гамма интернет-магазина вам нравится?": ', mean_confidence_interval_4_m(data4_m, 0.95))

Доверительный интервал для выборки (МУЖЧИНЫ) "Какая цветовая гамма интернет-магазина вам нравится?":  (0.65, 0.7)

In [49]:
data12 = df['Merch_without_logo?']

def mean_confidence_interval_12(data12, confidence=0.95):
    average = data12.mean()      
    delta = stats.sem(data12) * stats.norm.ppf((1 + confidence) / 2) / math.sqrt(len(data12))
    return round(average-delta, 2), round(average+delta, 2)

print('Доверительный интервал для выборки "Вам был бы интересен мерч без логотипа, который отражал бы философию конкретного бренда? Пример - футболки с надписью "Иноагент", выпущенные "Медузой" совместно с другими брендами": ', mean_confidence_interval_12(data12, 0.95))

Доверительный интервал для выборки "Вам был бы интересен мерч без логотипа, который отражал бы философию конкретного бренда? Пример - футболки с надписью "Иноагент", выпущенные "Медузой" совместно с другими брендами":  (0.75, 0.76)

In [50]:
data13 = df['Citation?']

def mean_confidence_interval_13(data13, confidence=0.95):
    average = data13.mean()      
    delta = stats.sem(data13) * stats.norm.ppf((1 + confidence) / 2) / math.sqrt(len(data13))
    return round(average-delta, 2), round(average+delta, 2)

print('Доверительный интервал для выборки "Вам нравятся цитаты в виде принта на мерче?": ', mean_confidence_interval_13(data13, 0.95))

Доверительный интервал для выборки "Вам нравятся цитаты в виде принта на мерче?":  (0.77, 0.78)

In [51]:
data14 = df['Jumor_citation?']

def mean_confidence_interval_14(data14, confidence=0.95):
    average = data14.mean()      
    delta = stats.sem(data14) * stats.norm.ppf((1 + confidence) / 2) / math.sqrt(len(data14))
    return round(average-delta, 2), round(average+delta, 2)

print('Доверительный интервал для выборки "Как вы относитесь к юмористическим цитатам на мерче?": ', mean_confidence_interval_14(data14, 0.95))

Доверительный интервал для выборки "Как вы относитесь к юмористическим цитатам на мерче?":  (0.75, 0.76)

In [52]:
data16 = df['Uniq_color_print?']

def mean_confidence_interval_16(data16, confidence=0.95):
    average = data16.mean()      
    delta = stats.sem(data16) * stats.norm.ppf((1 + confidence) / 2) / math.sqrt(len(data16))
    return round(average-delta, 2), round(average+delta, 2)

print('Доверительный интервал для выборки "Вам важно, чтобы вы сами могли придумать свой дизайн для мерча: выбрать уникальное сочетание цвета и принта?": ', mean_confidence_interval_16(data16, 0.95))

Доверительный интервал для выборки "Вам важно, чтобы вы сами могли придумать свой дизайн для мерча: выбрать уникальное сочетание цвета и принта?":  (0.42, 0.43)

In [53]:
data17 = df['Merch_for_lern?']

def mean_confidence_interval_17(data17, confidence=0.95):
    average = data17.mean()      
    delta = stats.sem(data17) * stats.norm.ppf((1 + confidence) / 2) / math.sqrt(len(data17))
    return round(average-delta, 2), round(average+delta, 2)

print('Доверительный интервал для выборки "Мерч в качестве бонуса мотивировал бы вас лучше учиться?": ', mean_confidence_interval_17(data17, 0.95))

Доверительный интервал для выборки "Мерч в качестве бонуса мотивировал бы вас лучше учиться?":  (0.69, 0.7)

In [54]:
data18 = df['Unique_merch?']

def mean_confidence_interval_18(data18, confidence=0.95):
    average = data18.mean()      
    delta = stats.sem(data18) * stats.norm.ppf((1 + confidence) / 2) / math.sqrt(len(data18))
    return round(average-delta, 2), round(average+delta, 2)

print('Доверительный интервал для выборки "Вам важно, чтобы мерч был уникальным продуктом, который больше ни у кого не встретишь?": ', mean_confidence_interval_18(data18, 0.95))

Доверительный интервал для выборки "Вам важно, чтобы мерч был уникальным продуктом, который больше ни у кого не встретишь?":  (0.67, 0.68)

In [55]:
data19 = df['Limit_merch?']

def mean_confidence_interval_19(data19, confidence=0.95):
    average = data19.mean()      
    delta = stats.sem(data19) * stats.norm.ppf((1 + confidence) / 2) / math.sqrt(len(data19))
    return round(average-delta, 2), round(average+delta, 2)

print('Доверительный интервал для выборки "Вы готовы платить за лимитированный мерч? Лимитированная коллекция - та, которая выпускается один раз ограниченным тиражом": ', mean_confidence_interval_19(data19, 0.95))

Доверительный интервал для выборки "Вы готовы платить за лимитированный мерч? Лимитированная коллекция - та, которая выпускается один раз ограниченным тиражом":  (0.5, 0.52)

In [56]:
data20 = df['Eco?']

def mean_confidence_interval_20(data20, confidence=0.95):
    average = data20.mean()      
    delta = stats.sem(data20) * stats.norm.ppf((1 + confidence) / 2) / math.sqrt(len(data20))
    return round(average-delta, 2), round(average+delta, 2)

print('Доверительный интервал для выборки "Обращаете ли вы внимание на экологичность товаров при покупке вещей?": ', mean_confidence_interval_20(data20, 0.95))

Доверительный интервал для выборки "Обращаете ли вы внимание на экологичность товаров при покупке вещей?":  (0.53, 0.55)

In [57]:
data21 = df['Charity?']

def mean_confidence_interval_21(data21, confidence=0.95):
    average = data21.mean()      
    delta = stats.sem(data21) * stats.norm.ppf((1 + confidence) / 2) / math.sqrt(len(data21))
    return round(average-delta, 2), round(average+delta, 2)

print('Доверительный интервал для выборки "Вы с большей вероятностью купите мерч, если будете знать, что вырученные средства пойдут на благотворительность?": ', mean_confidence_interval_21(data21, 0.95))

Доверительный интервал для выборки "Вы с большей вероятностью купите мерч, если будете знать, что вырученные средства пойдут на благотворительность?":  (0.58, 0.59)

In [58]:
data22 = df['Buy_for_charity?']

def mean_confidence_interval_22(data22, confidence=0.95):
    average = data22.mean()      
    delta = stats.sem(data22) * stats.norm.ppf((1 + confidence) / 2) / math.sqrt(len(data22))
    return round(average-delta, 2), round(average+delta, 2)

print('Доверительный интервал для выборки "Вы бы купили мерч в подарок для благотворительного фонда/детского дома?": ', mean_confidence_interval_22(data22, 0.95))

Доверительный интервал для выборки "Вы бы купили мерч в подарок для благотворительного фонда/детского дома?":  (0.64, 0.65)

In [78]:
df6.rename(columns = {
    df6.columns[0]: 'Discond'
}, inplace = True)


data_df6 = df6['%']

def mean_confidence_interval_df_6(data_df6, confidence=0.95):
    average = data_df6.mean()      
    delta = stats.sem(data_df6) * stats.norm.ppf((1 + confidence) / 2) / math.sqrt(len(data_df6))
    return round(average-delta, 2), round(average+delta, 2)

print('Доверительный интервал для выборки "Что из перечисленного могло бы мотивировать вас к покупке?": ', mean_confidence_interval_df_6(data_df6, 0.95))

Доверительный интервал для выборки "Что из перечисленного могло бы мотивировать вас к покупке?":  (9.57, 12.65)

In [79]:
df7.rename(columns = {
    df7.columns[0]: 'Time_reply'
}, inplace = True)


data_df7 = df7['%']

def mean_confidence_interval_df_7(data_df7, confidence=0.95):
    average = data_df7.mean()      
    delta = stats.sem(data_df7) * stats.norm.ppf((1 + confidence) / 2) / math.sqrt(len(data_df7))
    return round(average-delta, 2), round(average+delta, 2)

print('Доверительный интервал для выборки "Как долго вы готовы ждать ответа от менеджера по вашему заказу?": ', mean_confidence_interval_df_7(data_df7, 0.95))

Доверительный интервал для выборки "Как долго вы готовы ждать ответа от менеджера по вашему заказу?":  (17.17, 32.83)

In [80]:
df8.rename(columns = {
    df8.columns[0]: 'Feedback_method'
}, inplace = True)


data_df8 = df8['%']

def mean_confidence_interval_df_8(data_df8, confidence=0.95):
    average = data_df8.mean()      
    delta = stats.sem(data_df8) * stats.norm.ppf((1 + confidence) / 2) / math.sqrt(len(data_df8))
    return round(average-delta, 2), round(average+delta, 2)

print('Доверительный интервал для выборки "Какой способ обратной связи с менеджером вам наиболее удобен?": ', mean_confidence_interval_df_8(data_df8, 0.95))

Доверительный интервал для выборки "Какой способ обратной связи с менеджером вам наиболее удобен?":  (3.33, 3.8)

In [81]:
df9.rename(columns = {
    df9.columns[0]: 'Bought_merch'
}, inplace = True)


data_df9 = df9['%']

def mean_confidence_interval_df_9(data_df9, confidence=0.95):
    average = data_df9.mean()      
    delta = stats.sem(data_df9) * stats.norm.ppf((1 + confidence) / 2) / math.sqrt(len(data_df9))
    return round(average-delta, 2), round(average+delta, 2)

print('Доверительный интервал для выборки "Вы когда-нибудь покупали мерч?": ', mean_confidence_interval_df_9(data_df9, 0.95))

Доверительный интервал для выборки "Вы когда-нибудь покупали мерч?":  (20.36, 46.31)

In [82]:
df10.rename(columns = {
    df10.columns[0]: 'Size_logo'
}, inplace = True)


data_df10 = df10['%']

def mean_confidence_interval_df_10(data_df10, confidence=0.95):
    average = data_df10.mean()      
    delta = stats.sem(data_df10) * stats.norm.ppf((1 + confidence) / 2) / math.sqrt(len(data_df10))
    return round(average-delta, 2), round(average+delta, 2)

print('Доверительный интервал для выборки "Вам важно, какого размера будет логотип на мерче?": ', mean_confidence_interval_df_10(data_df10, 0.95))

Доверительный интервал для выборки "Вам важно, какого размера будет логотип на мерче?":  (14.46, 35.49)

In [83]:
df11.rename(columns = {
    df11.columns[0]: 'Most_interested_merch'
}, inplace = True)


data_df11 = df11['%']

def mean_confidence_interval_df_11(data_df11, confidence=0.95):
    average = data_df11.mean()      
    delta = stats.sem(data_df11) * stats.norm.ppf((1 + confidence) / 2) / math.sqrt(len(data_df11))
    return round(average-delta, 2), round(average+delta, 2)

print('Доверительный интервал для выборки "Какой мерч вам интереснее всего?": ', mean_confidence_interval_df_11(data_df11, 0.95))

Доверительный интервал для выборки "Какой мерч вам интереснее всего?":  (5.77, 9.59)