In [1]:
import pandas as pd
import numpy as np
import math
from scipy import stats

In [2]:
df = pd.read_csv('Merch.csv')
df.iloc[[83], [3]] = 'Самара'

In [3]:
def mean_confidence_interval(data, confidence=0.95): 
    n = len(data)
    m, se = np.mean(data), stats.sem(data)
    h = se * stats.t.ppf((1 + confidence) / 2, n-1)
    return m-h, m, m+h

## По всей выборке:

In [4]:
# Вычисляем количество опрошенных пользователей по полу
df.groupby('Укажите ваш пол').count()[['Отметка времени']]

                 Отметка времени
Укажите ваш пол
Женский                      130
Мужской                       43

In [5]:
df2 = round(df.iloc[:,[2]].value_counts() / df.iloc[:,[2]].value_counts().sum() * 100, 1).reset_index()
df2.columns = ['Укажите ваш пол', '%']
df2

  Укажите ваш пол     %
0         Женский  75.1
1         Мужской  24.9

In [6]:
# Вычисляем количество опрошенных пользователей по возрасту
df.groupby('Укажите ваш возраст').count()[['Отметка времени']].sort_values('Отметка времени', ascending=False)

                     Отметка времени
Укажите ваш возраст
30-39 лет                         66
40-49 лет                         39
23-29 лет                         36
больше 50 лет                     14
18-22 лет                         12
до 18 лет                          6

In [7]:
df1 = round(df.iloc[:,[1]].value_counts() / df.iloc[:,[1]].value_counts().sum() * 100, 1).reset_index()
df1.columns = ['Укажите ваш возраст', '%']
df1

  Укажите ваш возраст     %
0           30-39 лет  38.2
1           40-49 лет  22.5
2           23-29 лет  20.8
3       больше 50 лет   8.1
4           18-22 лет   6.9
5           до 18 лет   3.5

In [8]:
# Вычисляем количество опрошенных пользователей по городу проживания
df.groupby('Укажите ваш город').count()[['Отметка времени']].sort_values('Отметка времени', ascending=False).head(10)

                   Отметка времени
Укажите ваш город
Москва                          42
Санкт-Петербург                 18
Новосибирск                      6
Самара                           6
Екатеринбург                     5
Ростов-на-Дону                   5
Нижний Новгород                  4
Краснодар                        4
Алмере                           3
Челябинск                        3

In [9]:
df3 = round(df.iloc[:,[3]].value_counts() / df.iloc[:,[3]].value_counts().sum() * 100, 1).reset_index()
df3.columns = ['Укажите ваш город', '%']
df3

              Укажите ваш город     %
0                        Москва  24.3
1               Санкт-Петербург  10.4
2                   Новосибирск   3.5
3                        Самара   3.5
4                  Екатеринбург   2.9
..                          ...   ...
66                  Новокузнецк   0.6
67  Шадринск Курганской области   0.6
68        Нижегородская область   0.6
69                    Невьянск    0.6
70                       Алмере   0.6

[71 rows x 2 columns]

# =============================================================

## Все женщины

In [10]:
# Все женщины (126 чел)
f = df.loc[df['Укажите ваш пол'] == 'Женский']

### Все женщины по возрастным категориям

In [11]:
f.groupby('Укажите ваш возраст').count()[['Отметка времени']].sort_values('Отметка времени', ascending=False)

                     Отметка времени
Укажите ваш возраст
30-39 лет                         52
23-29 лет                         30
40-49 лет                         28
больше 50 лет                     10
18-22 лет                          7
до 18 лет                          3

In [12]:
f_age = round(f.iloc[:,[1]].value_counts() / f.iloc[:,[1]].value_counts().sum() * 100, 1).reset_index()
f_age.columns = ['Укажите ваш возраст', 'Жен., %']
f_age.head(10)

  Укажите ваш возраст  Жен., %
0           30-39 лет     40.0
1           23-29 лет     23.1
2           40-49 лет     21.5
3       больше 50 лет      7.7
4           18-22 лет      5.4
5           до 18 лет      2.3

### Все женщины по городам проживания

In [13]:
f.groupby('Укажите ваш город').count()[['Отметка времени']].sort_values('Отметка времени', ascending=False).head(10)

                   Отметка времени
Укажите ваш город
Москва                          32
Санкт-Петербург                 15
Новосибирск                      6
Ростов-на-Дону                   4
Екатеринбург                     4
Краснодар                        3
Алмере                           3
Нижний Новгород                  3
Челябинск                        3
Пенза                            2

In [14]:
f_city = round(f.iloc[:,[3]].value_counts() / f.iloc[:,[3]].value_counts().sum() * 100, 1).reset_index()
f_city.columns = ['Укажите ваш город', 'Жен., %']
f_city.head(10)

  Укажите ваш город  Жен., %
0            Москва     24.6
1   Санкт-Петербург     11.5
2       Новосибирск      4.6
3      Екатеринбург      3.1
4    Ростов-на-Дону      3.1
5           Алмере       2.3
6         Краснодар      2.3
7         Челябинск      2.3
8   Нижний Новгород      2.3
9            Самара      1.5

# --------------------------------------------------------------------------------------------------------------

### Женщины в возрасте 30-39 лет

In [15]:
f_30_39 = f.loc[f['Укажите ваш возраст'] == '30-39 лет']
f_30_39.groupby('Укажите ваш город').count()[['Отметка времени']].sort_values('Отметка времени', ascending=False).head(10)

                   Отметка времени
Укажите ваш город
Москва                          10
Санкт-Петербург                  5
Алмере                           3
Саратов                          2
Нидерланды                       2
Пенза                            2
Краснодар                        2
Екатеринбург                     2
Тула                             1
Томск                            1

In [16]:
f_30_39_City = round(f_30_39.iloc[:,[3]].value_counts() / f_30_39.iloc[:,[3]].value_counts().sum() * 100, 1).reset_index()
f_30_39_City.columns = ['Укажите ваш город', 'Жен., %']
f_30_39_City.head(10)

  Укажите ваш город  Жен., %
0            Москва     19.2
1   Санкт-Петербург      9.6
2           Алмере       5.8
3       Нидерланды       3.8
4      Екатеринбург      3.8
5           Саратов      3.8
6         Краснодар      3.8
7             Пенза      3.8
8       Красноярск       1.9
9        Н Новгород      1.9

# --------------------------------------------------------------------------------------------------------------

### Женщины в возрасте 30-39 лет, проживающие в Москве и СПб  
#### (15 человек)

In [17]:
df_f_30_39_MSC_SPT = df.loc[(df['Укажите ваш возраст'] == '30-39 лет') & (df['Укажите ваш пол'] == 'Женский') & (df['Укажите ваш город'].isin(['Москва', 'Санкт-Петербург']))]

In [18]:
df_f_30_39_MSC_SPT_4 = round(df_f_30_39_MSC_SPT.iloc[:,[4]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[4]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_4.columns = ['Какая цветовая гамма интернет-магазина вам нравится?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_4['%'], 0.4999))
df_f_30_39_MSC_SPT_4

Доверительный интервал: (13.311527833854058, 50.0, 86.68847216614594)

  Какая цветовая гамма интернет-магазина вам нравится?     %
0          Сдержанные оттенки (белый, черный, серый)    86.7
1              Яркая (синий, красный, зеленый и тд.)    13.3

In [19]:
f_30_39_MSC_SPT_4 = df_f_30_39_MSC_SPT.iloc[:,[4]].value_counts().reset_index()
f_30_39_MSC_SPT_4.columns = ['Какая цветовая гамма интернет-магазина вам нравится?', 'Count']
f_30_39_MSC_SPT_4
print('Доверительный интервал:', mean_confidence_interval(f_30_39_MSC_SPT_4['Count'], 0.4999))
f_30_39_MSC_SPT_4

Доверительный интервал: (2.001727604528539, 7.5, 12.99827239547146)

  Какая цветовая гамма интернет-магазина вам нравится?  Count
0          Сдержанные оттенки (белый, черный, серый)       13
1              Яркая (синий, красный, зеленый и тд.)        2

In [20]:
df_f_30_39_MSC_SPT_5 = round(df_f_30_39_MSC_SPT.iloc[:,[5]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[5]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_5.columns = ['Сколько по времени вы готовы ждать свой заказ?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_5['%'], 0.71))
df_f_30_39_MSC_SPT_5

Доверительный интервал: (6.7710365520018065, 25.025000000000002, 43.278963447998194)

  Сколько по времени вы готовы ждать свой заказ?     %
0                                1-3 рабочих дня  66.7
1                               4-7 рабочих дней  20.0
2                           более 7 рабочих дней   6.7
3                                        Неважно   6.7

In [21]:
f_30_39_MSC_SPT_5 = df_f_30_39_MSC_SPT.iloc[:,[5]].value_counts().reset_index()
f_30_39_MSC_SPT_5.columns = ['Сколько по времени вы готовы ждать свой заказ?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_30_39_MSC_SPT_5['Count'], 0.71))
f_30_39_MSC_SPT_5

Доверительный интервал: (1.0120934730103013, 3.75, 6.487906526989699)

  Сколько по времени вы готовы ждать свой заказ?  Count
0                                1-3 рабочих дня     10
1                               4-7 рабочих дней      3
2                           более 7 рабочих дней      1
3                                        Неважно      1

In [22]:
df_f_30_39_MSC_SPT_6 = round(df_f_30_39_MSC_SPT.iloc[:,[6]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[6]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_6.columns = ['Что из перечисленного могло бы мотивировать вас к покупке?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_6['%'], 0.78))
df_f_30_39_MSC_SPT_6

Доверительный интервал: (6.73349762732566, 14.3, 21.86650237267434)

  Что из перечисленного могло бы мотивировать вас к покупке?     %
0                                             Скидка          46.7
1                         Скидка, Система лояльности          13.3
2                           Ничего из перечисленного          13.3
3      Наличие промокода, Скидка, Система лояльности           6.7
4                          Наличие промокода, Скидка           6.7
5              Наличие промокода, Система лояльности           6.7
6                                  Наличие промокода           6.7

In [23]:
f_30_39_MSC_SPT_6 = df_f_30_39_MSC_SPT.iloc[:,[6]].value_counts().reset_index()
f_30_39_MSC_SPT_6.columns = ['Что из перечисленного могло бы мотивировать вас к покупке?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_30_39_MSC_SPT_6['Count'], 0.78))
f_30_39_MSC_SPT_6

Доверительный интервал: (1.0079969525674437, 2.142857142857143, 3.2777173331468417)

  Что из перечисленного могло бы мотивировать вас к покупке?  Count
0                                             Скидка              7
1                         Скидка, Система лояльности              2
2                           Ничего из перечисленного              2
3      Наличие промокода, Скидка, Система лояльности              1
4                          Наличие промокода, Скидка              1
5              Наличие промокода, Система лояльности              1
6                                  Наличие промокода              1

In [24]:
df_f_30_39_MSC_SPT_7 = round(df_f_30_39_MSC_SPT.iloc[:,[7]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[7]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_7.columns = ['Как долго вы готовы ждать ответа от менеджера  по вашему заказу?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_7['%'], 0.77))
df_f_30_39_MSC_SPT_7

Доверительный интервал: (26.78063338753988, 33.333333333333336, 39.88603327912679)

  Как долго вы готовы ждать ответа от менеджера  по вашему заказу?     %
0                                     В течение часа                40.0
1                                           1-3 часа                33.3
2                                    В течение суток                26.7

In [25]:
f_30_39_MSC_SPT_7 = df_f_30_39_MSC_SPT.iloc[:,[7]].value_counts().reset_index()
f_30_39_MSC_SPT_7.columns = ['Как долго вы готовы ждать ответа от менеджера  по вашему заказу?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_30_39_MSC_SPT_7['Count'], 0.77))
f_30_39_MSC_SPT_7

Доверительный интервал: (4.014640871159321, 5.0, 5.985359128840679)

  Как долго вы готовы ждать ответа от менеджера  по вашему заказу?  Count
0                                     В течение часа                    6
1                                           1-3 часа                    5
2                                    В течение суток                    4

In [26]:
df_f_30_39_MSC_SPT_8 = round(df_f_30_39_MSC_SPT.iloc[:,[8]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[8]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_8.columns = ['Какой способ обратной связи с менеджером вам наиболее удобен?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_8['%'], 0.91))
df_f_30_39_MSC_SPT_8

Доверительный интервал: (6.843115194693465, 11.122222222222224, 15.401329249750983)

  Какой способ обратной связи с менеджером вам наиболее удобен?     %
0  На самом сайте (чат), Получить ответ в мессенд...             26.7
1                    Получить ответ на телефон (смс)             13.3
2  Получить ответ на почту, Получить ответ в месс...             13.3
3                               На самом сайте (чат)             13.3
4  Получить ответ на телефон (звонок), Получить о...              6.7
5                            Получить ответ на почту              6.7
6            Получить ответ в мессенджере/в соцсетях              6.7
7  На самом сайте (чат), Получить ответ на почту,...              6.7
8  На самом сайте (чат), Получить ответ на почту,...              6.7

In [27]:
f_30_39_MSC_SPT_8 = df_f_30_39_MSC_SPT.iloc[:,[8]].value_counts().reset_index()
f_30_39_MSC_SPT_8.columns = ['Какой способ обратной связи с менеджером вам наиболее удобен?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_30_39_MSC_SPT_8['Count'], 0.91))
f_30_39_MSC_SPT_8

Доверительный интервал: (1.0240048258112115, 1.6666666666666667, 2.309328507522122)

  Какой способ обратной связи с менеджером вам наиболее удобен?  Count
0  На самом сайте (чат), Получить ответ в мессенд...                 4
1                    Получить ответ на телефон (смс)                 2
2  Получить ответ на почту, Получить ответ в месс...                 2
3                               На самом сайте (чат)                 2
4  Получить ответ на телефон (звонок), Получить о...                 1
5                            Получить ответ на почту                 1
6            Получить ответ в мессенджере/в соцсетях                 1
7  На самом сайте (чат), Получить ответ на почту,...                 1
8  На самом сайте (чат), Получить ответ на почту,...                 1

In [28]:
df_f_30_39_MSC_SPT_9 = round(df_f_30_39_MSC_SPT.iloc[:,[9]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[9]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_9.columns = ['Вы когда-нибудь покупали мерч?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_9['%'], 0.67))
df_f_30_39_MSC_SPT_9

Доверительный интервал: (7.360830103752878, 33.333333333333336, 59.3058365629138)

  Вы когда-нибудь покупали мерч?     %
0                             Да  73.3
1              Нет и не планирую  20.0
2               Нет, но планирую   6.7

In [29]:
f_30_39_MSC_SPT_9 = df_f_30_39_MSC_SPT.iloc[:,[9]].value_counts().reset_index()
f_30_39_MSC_SPT_9.columns = ['Вы когда-нибудь покупали мерч?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_30_39_MSC_SPT_9['Count'], 0.67))
f_30_39_MSC_SPT_9

Доверительный интервал: (1.1006431336115057, 5.0, 8.899356866388494)

  Вы когда-нибудь покупали мерч?  Count
0                             Да     11
1              Нет и не планирую      3
2               Нет, но планирую      1

In [30]:
df_f_30_39_MSC_SPT_10 = round(df_f_30_39_MSC_SPT.iloc[:,[10]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[10]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_10.columns = ['Вам важно, какого размера будет логотип на мерче?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_10['%'], 0.71))
df_f_30_39_MSC_SPT_10

Доверительный интервал: (6.7710365520018065, 25.025000000000002, 43.278963447998194)

  Вам важно, какого размера будет логотип на мерче?     %
0    Да, нравится, когда логотип маленького размера  66.7
1             Не люблю, когда на мерче есть логотип  20.0
2    Нет, мне неважно, какого размера будет логотип   6.7
3               Да, нравится, когда логотип крупный   6.7

In [31]:
f_30_39_MSC_SPT_10 = df_f_30_39_MSC_SPT.iloc[:,[10]].value_counts().reset_index()
f_30_39_MSC_SPT_10.columns = ['Вам важно, какого размера будет логотип на мерче?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_30_39_MSC_SPT_10['Count'], 0.71))
f_30_39_MSC_SPT_10

Доверительный интервал: (1.0120934730103013, 3.75, 6.487906526989699)

  Вам важно, какого размера будет логотип на мерче?  Count
0    Да, нравится, когда логотип маленького размера     10
1             Не люблю, когда на мерче есть логотип      3
2    Нет, мне неважно, какого размера будет логотип      1
3               Да, нравится, когда логотип крупный      1

In [32]:
df_f_30_39_MSC_SPT_11 = round(df_f_30_39_MSC_SPT.iloc[:,[11]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[11]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_11.columns = ['Какой мерч вам интереснее всего?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_11['%'], 0.60))
df_f_30_39_MSC_SPT_11

Доверительный интервал: (20.1076384408585, 25.0, 29.8923615591415)

              Какой мерч вам интереснее всего?     %
0  Канцтовары (блокноты, ручки, стикеры и др.)  40.0
1           Посуда (кружки, термокружки и др.)  20.0
2                Одежда (футболки, худи и др.)  20.0
3             Аксессуары (шоперы, шарфы и др.)  20.0

In [33]:
f_30_39_MSC_SPT_11 = df_f_30_39_MSC_SPT.iloc[:,[11]].value_counts().reset_index()
f_30_39_MSC_SPT_11.columns = ['Какой мерч вам интереснее всего?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_30_39_MSC_SPT_11['Count'], 0.60))
f_30_39_MSC_SPT_11

Доверительный интервал: (3.0161457661287754, 3.75, 4.483854233871225)

              Какой мерч вам интереснее всего?  Count
0  Канцтовары (блокноты, ручки, стикеры и др.)      6
1           Посуда (кружки, термокружки и др.)      3
2                Одежда (футболки, худи и др.)      3
3             Аксессуары (шоперы, шарфы и др.)      3

In [34]:
df_f_30_39_MSC_SPT_12 = round(df_f_30_39_MSC_SPT.iloc[:,[12]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[12]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_12.columns = ['Вам был бы интересен мерч без логотипа, который отражал бы философию конкретного бренда? Пример - футболки с надписью "Иноагент", выпущенные "Медузой" совместно с другими брендами', '%']
#print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_12['%'], 1.0))
df_f_30_39_MSC_SPT_12

,"Вам был бы интересен мерч без логотипа, который отражал бы философию конкретного бренда? Пример - футболки с надписью ""Иноагент"", выпущенные ""Медузой"" совместно с другими брендами",%
0,Да,100.0

In [35]:
f_30_39_MSC_SPT_12 = df_f_30_39_MSC_SPT.iloc[:,[12]].value_counts().reset_index()
f_30_39_MSC_SPT_12.columns = ['Вам был бы интересен мерч без логотипа, который отражал бы философию конкретного бренда? Пример - футболки с надписью "Иноагент", выпущенные "Медузой" совместно с другими брендами', 'Count']
#print('Доверительный интервал:', mean_confidence_interval(f_30_39_MSC_SPT_12['Count'], 0.60))
f_30_39_MSC_SPT_12

,"Вам был бы интересен мерч без логотипа, который отражал бы философию конкретного бренда? Пример - футболки с надписью ""Иноагент"", выпущенные ""Медузой"" совместно с другими брендами",Count
0,Да,15

In [36]:
df_f_30_39_MSC_SPT_13 = round(df_f_30_39_MSC_SPT.iloc[:,[13]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[13]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_13.columns = ['Вам нравятся цитаты в виде принта на мерче?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_13['%'], 0.4999))
df_f_30_39_MSC_SPT_13

Доверительный интервал: (20.009423297428388, 50.0, 79.99057670257162)

  Вам нравятся цитаты в виде принта на мерче?     %
0                                          Да  80.0
1                                         Нет  20.0

In [37]:
f_30_39_MSC_SPT_13 = df_f_30_39_MSC_SPT.iloc[:,[13]].value_counts().reset_index()
f_30_39_MSC_SPT_13.columns = ['Вам нравятся цитаты в виде принта на мерче?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_30_39_MSC_SPT_13['Count'], 0.4999))
f_30_39_MSC_SPT_13

Доверительный интервал: (3.0014134946142583, 7.5, 11.998586505385742)

  Вам нравятся цитаты в виде принта на мерче?  Count
0                                          Да     12
1                                         Нет      3

In [38]:
df_f_30_39_MSC_SPT_14 = round(df_f_30_39_MSC_SPT.iloc[:,[14]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[14]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_14.columns = ['Как вы относитесь к юмористическим цитатам на мерче?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_14['%'], 0.4999))
df_f_30_39_MSC_SPT_14

Доверительный интервал: (33.30524563556847, 50.0, 66.69475436443153)

  Как вы относитесь к юмористическим цитатам на мерче?     %
0                                           Нравится    66.7
1                                        Не нравится    33.3

In [39]:
f_30_39_MSC_SPT_14 = df_f_30_39_MSC_SPT.iloc[:,[14]].value_counts().reset_index()
f_30_39_MSC_SPT_14.columns = ['Как вы относитесь к юмористическим цитатам на мерче?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_30_39_MSC_SPT_14['Count'], 0.4999))
f_30_39_MSC_SPT_14

Доверительный интервал: (5.000785274785699, 7.5, 9.999214725214301)

  Как вы относитесь к юмористическим цитатам на мерче?  Count
0                                           Нравится       10
1                                        Не нравится        5

In [40]:
df_f_30_39_MSC_SPT_15 = round(df_f_30_39_MSC_SPT.iloc[:,[15]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[15]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_15.columns = ['Вы обычно покупаете мерч после важных мероприятий? Например, после концерта или интересной отраслевой конференции', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_15['%'], 0.81))
df_f_30_39_MSC_SPT_15

Доверительный интервал: (20.310884199314774, 33.333333333333336, 46.3557824673519)

,"Вы обычно покупаете мерч после важных мероприятий? Например, после концерта или интересной отраслевой конференции",%
0,Нет,40.0
1,Да,40.0
2,Я никогда не покупал мерч,20.0

In [41]:
f_30_39_MSC_SPT_15 = df_f_30_39_MSC_SPT.iloc[:,[15]].value_counts().reset_index()
f_30_39_MSC_SPT_15.columns = ['Вы обычно покупаете мерч после важных мероприятий? Например, после концерта или интересной отраслевой конференции', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_30_39_MSC_SPT_15['Count'], 0.4999))
f_30_39_MSC_SPT_15

Доверительный интервал: (4.183721129724482, 5.0, 5.816278870275518)

,"Вы обычно покупаете мерч после важных мероприятий? Например, после концерта или интересной отраслевой конференции",Count
0,Нет,6
1,Да,6
2,Я никогда не покупал мерч,3

In [42]:
df_f_30_39_MSC_SPT_16 = round(df_f_30_39_MSC_SPT.iloc[:,[16]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[16]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_16.columns = ['Вам важно, чтобы вы сами могли придумать свой дизайн для мерча: выбрать уникальное сочетание цвета и принта?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_16['%'], 0.4999))
df_f_30_39_MSC_SPT_16

Доверительный интервал: (33.30524563556847, 50.0, 66.69475436443153)

,"Вам важно, чтобы вы сами могли придумать свой дизайн для мерча: выбрать уникальное сочетание цвета и принта?",%
0,"Нет, дизайнерам виднее",66.7
1,"Да, люблю эксперименты",33.3

In [43]:
f_30_39_MSC_SPT_16 = df_f_30_39_MSC_SPT.iloc[:,[16]].value_counts().reset_index()
f_30_39_MSC_SPT_16.columns = ['Вам важно, чтобы вы сами могли придумать свой дизайн для мерча: выбрать уникальное сочетание цвета и принта?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_30_39_MSC_SPT_16['Count'], 0.4999))
f_30_39_MSC_SPT_16

Доверительный интервал: (5.000785274785699, 7.5, 9.999214725214301)

,"Вам важно, чтобы вы сами могли придумать свой дизайн для мерча: выбрать уникальное сочетание цвета и принта?",Count
0,"Нет, дизайнерам виднее",10
1,"Да, люблю эксперименты",5

In [44]:
df_f_30_39_MSC_SPT_17 = round(df_f_30_39_MSC_SPT.iloc[:,[17]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[17]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_17.columns = ['Мерч в качестве бонуса мотивировал бы вас лучше учиться?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_17['%'], 0.4999))
df_f_30_39_MSC_SPT_17

Доверительный интервал: (33.30524563556847, 50.0, 66.69475436443153)

  Мерч в качестве бонуса мотивировал бы вас лучше учиться?     %
0                                                 Да        66.7
1                                                Нет        33.3

In [45]:
f_30_39_MSC_SPT_17 = df_f_30_39_MSC_SPT.iloc[:,[17]].value_counts().reset_index()
f_30_39_MSC_SPT_17.columns = ['Мерч в качестве бонуса мотивировал бы вас лучше учиться?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_30_39_MSC_SPT_17['Count'], 0.4999))
f_30_39_MSC_SPT_17

Доверительный интервал: (5.000785274785699, 7.5, 9.999214725214301)

  Мерч в качестве бонуса мотивировал бы вас лучше учиться?  Count
0                                                 Да           10
1                                                Нет            5

In [46]:
df_f_30_39_MSC_SPT_18 = round(df_f_30_39_MSC_SPT.iloc[:,[18]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[18]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_18.columns = ['Вам важно, чтобы мерч был уникальным продуктом, который больше ни у кого не встретишь?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_18['%'], 0.4999))
df_f_30_39_MSC_SPT_18

Доверительный интервал: (33.30524563556847, 50.0, 66.69475436443153)

,"Вам важно, чтобы мерч был уникальным продуктом, который больше ни у кого не встретишь?",%
0,Да,66.7
1,Нет,33.3

In [47]:
f_30_39_MSC_SPT_18 = df_f_30_39_MSC_SPT.iloc[:,[18]].value_counts().reset_index()
f_30_39_MSC_SPT_18.columns = ['Вам важно, чтобы мерч был уникальным продуктом, который больше ни у кого не встретишь?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_30_39_MSC_SPT_18['Count'], 0.4999))
f_30_39_MSC_SPT_18

Доверительный интервал: (5.000785274785699, 7.5, 9.999214725214301)

,"Вам важно, чтобы мерч был уникальным продуктом, который больше ни у кого не встретишь?",Count
0,Да,10
1,Нет,5

In [48]:
df_f_30_39_MSC_SPT_19 = round(df_f_30_39_MSC_SPT.iloc[:,[19]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[19]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_19.columns = ['Вы готовы платить за лимитированный мерч? Лимитированная коллекция - та, которая выпускается один раз ограниченным тиражом', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_19['%'], 0.4999))
df_f_30_39_MSC_SPT_19

Доверительный интервал: (40.003141099142795, 50.0, 59.996858900857205)

,"Вы готовы платить за лимитированный мерч? Лимитированная коллекция - та, которая выпускается один раз ограниченным тиражом",%
0,Нет,60.0
1,Да,40.0

In [49]:
f_30_39_MSC_SPT_19 = df_f_30_39_MSC_SPT.iloc[:,[19]].value_counts().reset_index()
f_30_39_MSC_SPT_19.columns = ['Вы готовы платить за лимитированный мерч? Лимитированная коллекция - та, которая выпускается один раз ограниченным тиражом', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_30_39_MSC_SPT_19['Count'], 0.4999))
f_30_39_MSC_SPT_19

Доверительный интервал: (6.00047116487142, 7.5, 8.999528835128581)

,"Вы готовы платить за лимитированный мерч? Лимитированная коллекция - та, которая выпускается один раз ограниченным тиражом",Count
0,Нет,9
1,Да,6

In [50]:
df_f_30_39_MSC_SPT_20 = round(df_f_30_39_MSC_SPT.iloc[:,[20]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[20]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_20.columns = ['Обращаете ли вы внимание на экологичность товаров при покупке вещей?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_20['%'], 0.4999))
df_f_30_39_MSC_SPT_20

Доверительный интервал: (46.70103656271713, 50.0, 53.29896343728287)

  Обращаете ли вы внимание на экологичность товаров при покупке вещей?     %
0         Да, большая часть моих вещей - экологичные                    53.3
1  Нет, для меня это неважный критерий при выборе...                    46.7

In [51]:
f_30_39_MSC_SPT_20 = df_f_30_39_MSC_SPT.iloc[:,[20]].value_counts().reset_index()
f_30_39_MSC_SPT_20.columns = ['Обращаете ли вы внимание на экологичность товаров при покупке вещей?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_30_39_MSC_SPT_20['Count'], 0.4999))
f_30_39_MSC_SPT_20

Доверительный интервал: (7.00015705495714, 7.5, 7.99984294504286)

  Обращаете ли вы внимание на экологичность товаров при покупке вещей?  Count
0         Да, большая часть моих вещей - экологичные                        8
1  Нет, для меня это неважный критерий при выборе...                        7

In [52]:
df_f_30_39_MSC_SPT_21 = round(df_f_30_39_MSC_SPT.iloc[:,[21]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[21]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_21.columns = ['Вы с большей вероятностью купите мерч, если будете знать, что вырученные средства пойдут на благотворительность?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_21['%'], 0.4999))
df_f_30_39_MSC_SPT_21

Доверительный интервал: (46.70103656271713, 50.0, 53.29896343728287)

,"Вы с большей вероятностью купите мерч, если будете знать, что вырученные средства пойдут на благотворительность?",%
0,Да,53.3
1,Нет,46.7

In [53]:
f_30_39_MSC_SPT_21 = df_f_30_39_MSC_SPT.iloc[:,[21]].value_counts().reset_index()
f_30_39_MSC_SPT_21.columns = ['Вы с большей вероятностью купите мерч, если будете знать, что вырученные средства пойдут на благотворительность?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_30_39_MSC_SPT_21['Count'], 0.4999))
f_30_39_MSC_SPT_21

Доверительный интервал: (7.00015705495714, 7.5, 7.99984294504286)

,"Вы с большей вероятностью купите мерч, если будете знать, что вырученные средства пойдут на благотворительность?",Count
0,Да,8
1,Нет,7

In [54]:
df_f_30_39_MSC_SPT_22 = round(df_f_30_39_MSC_SPT.iloc[:,[22]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[22]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_22.columns = ['Вы бы купили мерч в подарок для благотворительного фонда/детского дома?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_22['%'], 0.4999))
df_f_30_39_MSC_SPT_22

Доверительный интервал: (46.70103656271713, 50.0, 53.29896343728287)

,Вы бы купили мерч в подарок для благотворительного фонда/детского дома?,%
0,Нет,53.3
1,Да,46.7

In [55]:
f_30_39_MSC_SPT_22 = df_f_30_39_MSC_SPT.iloc[:,[22]].value_counts().reset_index()
f_30_39_MSC_SPT_22.columns = ['Вы бы купили мерч в подарок для благотворительного фонда/детского дома?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_30_39_MSC_SPT_22['Count'], 0.4999))
f_30_39_MSC_SPT_22

Доверительный интервал: (7.00015705495714, 7.5, 7.99984294504286)

,Вы бы купили мерч в подарок для благотворительного фонда/детского дома?,Count
0,Нет,8
1,Да,7

# --------------------------------------------------------------------------------------------------------------

### Женщины в возрасте 23-29 лет

In [56]:
f_23_29 = f.loc[f['Укажите ваш возраст'] == '23-29 лет']
f_23_29.groupby('Укажите ваш город').count()[['Отметка времени']].sort_values('Отметка времени', ascending=False).head(10)

                   Отметка времени
Укажите ваш город
Москва                          10
Санкт-Петербург                  7
Екатеринбург                     2
Новосибирск                      2
Владимир                         1
Запорожье                        1
Казань                           1
Кемерово                         1
Краснотурьинск                   1
Ростов-на-Дону                   1

In [57]:
f_23_29_City = round(f_23_29.iloc[:,[3]].value_counts() / f_23_29.iloc[:,[3]].value_counts().sum() * 100, 1).reset_index()
f_23_29_City.columns = ['Укажите ваш город', 'Жен., %']
f_23_29_City.head(10)

  Укажите ваш город  Жен., %
0            Москва     33.3
1   Санкт-Петербург     23.3
2       Новосибирск      6.7
3      Екатеринбург      6.7
4         Хабаровск      3.3
5      Усть-Джегута      3.3
6              Тула      3.3
7    Ростов-на-Дону      3.3
8   Краснотурьинск       3.3
9          Кемерово      3.3

### Женщины в возрасте 23-29 лет, проживающие в Москве, СПб, Екатеринбурге и Новосибирске  
#### (20 человек)

In [58]:
df_f_23_29_Big_City = df.loc[(df['Укажите ваш возраст'] == '23-29 лет') & (df['Укажите ваш пол'] == 'Женский') & (df['Укажите ваш город'].isin(['Москва', 'Санкт-Петербург', 'Екатеринбург', 'Новосибирск']))]

In [59]:
df_f_23_29_Big_City_4 = round(df_f_23_29_Big_City.iloc[:,[4]].value_counts() / df_f_23_29_Big_City.iloc[:,[4]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_4.columns = ['Какая цветовая гамма интернет-магазина вам нравится?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_4['%'], 0.57))
df_f_23_29_Big_City_4

Доверительный интервал: (30.642747805718546, 33.333333333333336, 36.02391886094813)

  Какая цветовая гамма интернет-магазина вам нравится?     %
0          Сдержанные оттенки (белый, черный, серый)    38.1
1                                            Неважно    33.3
2              Яркая (синий, красный, зеленый и тд.)    28.6

In [60]:
f_23_29_Big_City_4 = df_f_23_29_Big_City.iloc[:,[4]].value_counts().reset_index()
f_23_29_Big_City_4.columns = ['Какая цветовая гамма интернет-магазина вам нравится?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_23_29_Big_City_4['Count'], 0.57))
f_23_29_Big_City_4

Доверительный интервал: (6.433571401820119, 7.0, 7.566428598179881)

  Какая цветовая гамма интернет-магазина вам нравится?  Count
0          Сдержанные оттенки (белый, черный, серый)        8
1                                            Неважно        7
2              Яркая (синий, красный, зеленый и тд.)        6

In [61]:
df_f_23_29_Big_City_5 = round(df_f_23_29_Big_City.iloc[:,[5]].value_counts() / df_f_23_29_Big_City.iloc[:,[5]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_5.columns = ['Сколько по времени вы готовы ждать свой заказ?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_5['%'], 0.73))
df_f_23_29_Big_City_5

Доверительный интервал: (18.33672450458719, 33.333333333333336, 48.32994216207948)

  Сколько по времени вы готовы ждать свой заказ?     %
0                               4-7 рабочих дней  52.4
1                                1-3 рабочих дня  28.6
2                                        Неважно  19.0

In [62]:
f_23_29_Big_City_5 = df_f_23_29_Big_City.iloc[:,[5]].value_counts().reset_index()
f_23_29_Big_City_5.columns = ['Сколько по времени вы готовы ждать свой заказ?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_23_29_Big_City_5['Count'], 0.73))
f_23_29_Big_City_5

Доверительный интервал: (3.8555552151346673, 7.0, 10.144444784865332)

  Сколько по времени вы готовы ждать свой заказ?  Count
0                               4-7 рабочих дней     11
1                                1-3 рабочих дня      6
2                                        Неважно      4

In [63]:
df_f_23_29_Big_City_6 = round(df_f_23_29_Big_City.iloc[:,[6]].value_counts() / df_f_23_29_Big_City.iloc[:,[6]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_6.columns = ['Что из перечисленного могло бы мотивировать вас к покупке?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_6['%'], 0.92))
df_f_23_29_Big_City_6

Доверительный интервал: (6.65357038130796, 16.650000000000002, 26.646429618692046)

  Что из перечисленного могло бы мотивировать вас к покупке?     %
0                                             Скидка          33.3
1                          Наличие промокода, Скидка          28.6
2                         Скидка, Система лояльности           9.5
3                           Ничего из перечисленного           9.5
4      Наличие промокода, Скидка, Система лояльности           9.5
5                                  Наличие промокода           9.5

In [64]:
f_23_29_Big_City_6 = df_f_23_29_Big_City.iloc[:,[6]].value_counts().reset_index()
f_23_29_Big_City_6.columns = ['Что из перечисленного могло бы мотивировать вас к покупке?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_23_29_Big_City_6['Count'], 0.92))
f_23_29_Big_City_6

Доверительный интервал: (1.4023171742666625, 3.5, 5.5976828257333375)

  Что из перечисленного могло бы мотивировать вас к покупке?  Count
0                                             Скидка              7
1                          Наличие промокода, Скидка              6
2                         Скидка, Система лояльности              2
3                           Ничего из перечисленного              2
4      Наличие промокода, Скидка, Система лояльности              2
5                                  Наличие промокода              2

In [65]:
df_f_23_29_Big_City_7 = round(df_f_23_29_Big_City.iloc[:,[7]].value_counts() / df_f_23_29_Big_City.iloc[:,[7]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_7.columns = ['Как долго вы готовы ждать ответа от менеджера  по вашему заказу?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_7['%'], 0.86))
df_f_23_29_Big_City_7

Доверительный интервал: (7.084005648393877, 25.0, 42.91599435160612)

  Как долго вы готовы ждать ответа от менеджера  по вашему заказу?     %
0                                           1-3 часа                47.6
1                                    В течение суток                28.6
2                                     В течение часа                19.0
3                                            Неважно                 4.8

In [66]:
f_23_29_Big_City_7 = df_f_23_29_Big_City.iloc[:,[7]].value_counts().reset_index()
f_23_29_Big_City_7.columns = ['Как долго вы готовы ждать ответа от менеджера  по вашему заказу?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_23_29_Big_City_7['Count'], 0.86))
f_23_29_Big_City_7

Доверительный интервал: (1.484478405245937, 5.25, 9.015521594754063)

  Как долго вы готовы ждать ответа от менеджера  по вашему заказу?  Count
0                                           1-3 часа                   10
1                                    В течение суток                    6
2                                     В течение часа                    4
3                                            Неважно                    1

In [67]:
df_f_23_29_Big_City_8 = round(df_f_23_29_Big_City.iloc[:,[8]].value_counts() / df_f_23_29_Big_City.iloc[:,[8]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_8.columns = ['Какой способ обратной связи с менеджером вам наиболее удобен?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_8['%'], 0.97))
df_f_23_29_Big_City_8

Доверительный интервал: (4.512307498771341, 11.122222222222222, 17.7321369456731)

  Какой способ обратной связи с менеджером вам наиболее удобен?     %
0            Получить ответ в мессенджере/в соцсетях             28.6
1  Получить ответ на телефон (звонок), Получить о...             14.3
2  На самом сайте (чат), Получить ответ на почту,...             14.3
3                 Получить ответ на телефон (звонок)              9.5
4  Получить ответ на почту, Получить ответ на тел...              9.5
5  Получить ответ на почту, Получить ответ на тел...              9.5
6  Получить ответ на почту, Получить ответ на тел...              4.8
7  Получить ответ на почту, Получить ответ на тел...              4.8
8  На самом сайте (чат), Получить ответ на телефо...              4.8

In [68]:
f_23_29_Big_City_8 = df_f_23_29_Big_City.iloc[:,[8]].value_counts().reset_index()
f_23_29_Big_City_8.columns = ['Какой способ обратной связи с менеджером вам наиболее удобен?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_23_29_Big_City_8['Count'], 0.97))
f_23_29_Big_City_8

Доверительный интервал: (0.9451912723762561, 2.3333333333333335, 3.721475394290411)

  Какой способ обратной связи с менеджером вам наиболее удобен?  Count
0            Получить ответ в мессенджере/в соцсетях                 6
1  Получить ответ на телефон (звонок), Получить о...                 3
2  На самом сайте (чат), Получить ответ на почту,...                 3
3                 Получить ответ на телефон (звонок)                 2
4  Получить ответ на почту, Получить ответ на тел...                 2
5  Получить ответ на почту, Получить ответ на тел...                 2
6  Получить ответ на почту, Получить ответ на тел...                 1
7  Получить ответ на почту, Получить ответ на тел...                 1
8  На самом сайте (чат), Получить ответ на телефо...                 1

In [69]:
df_f_23_29_Big_City_9 = round(df_f_23_29_Big_City.iloc[:,[9]].value_counts() / df_f_23_29_Big_City.iloc[:,[9]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_9.columns = ['Вы когда-нибудь покупали мерч?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_9['%'], 0.64))
df_f_23_29_Big_City_9

Доверительный интервал: (7.628639252254107, 33.333333333333336, 59.03802741441257)

  Вы когда-нибудь покупали мерч?     %
0                             Да  76.2
1               Нет, но планирую  19.0
2              Нет и не планирую   4.8

In [70]:
f_23_29_Big_City_9 = df_f_23_29_Big_City.iloc[:,[9]].value_counts().reset_index()
f_23_29_Big_City_9.columns = ['Вы когда-нибудь покупали мерч?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_23_29_Big_City_9['Count'], 0.64))
f_23_29_Big_City_9

Доверительный интервал: (1.6020178416269344, 7.0, 12.397982158373065)

  Вы когда-нибудь покупали мерч?  Count
0                             Да     16
1               Нет, но планирую      4
2              Нет и не планирую      1

In [71]:
df_f_23_29_Big_City_10 = round(df_f_23_29_Big_City.iloc[:,[10]].value_counts() / df_f_23_29_Big_City.iloc[:,[10]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_10.columns = ['Вам важно, какого размера будет логотип на мерче?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_10['%'], 0.57))
df_f_23_29_Big_City_10

Доверительный интервал: (26.17202395949257, 33.333333333333336, 40.4946427071741)

  Вам важно, какого размера будет логотип на мерче?     %
0    Да, нравится, когда логотип маленького размера  42.9
1    Нет, мне неважно, какого размера будет логотип  38.1
2             Не люблю, когда на мерче есть логотип  19.0

In [72]:
f_23_29_Big_City_10 = df_f_23_29_Big_City.iloc[:,[10]].value_counts().reset_index()
f_23_29_Big_City_10.columns = ['Вам важно, какого размера будет логотип на мерче?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_23_29_Big_City_10['Count'], 0.57))
f_23_29_Big_City_10

Доверительный интервал: (5.501370793741104, 7.0, 8.498629206258897)

  Вам важно, какого размера будет логотип на мерче?  Count
0    Да, нравится, когда логотип маленького размера      9
1    Нет, мне неважно, какого размера будет логотип      8
2             Не люблю, когда на мерче есть логотип      4

In [73]:
df_f_23_29_Big_City_11 = round(df_f_23_29_Big_City.iloc[:,[11]].value_counts() / df_f_23_29_Big_City.iloc[:,[11]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_11.columns = ['Какой мерч вам интереснее всего?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_11['%'], 0.90))
df_f_23_29_Big_City_11

Доверительный интервал: (5.693106470291287, 16.683333333333334, 27.67356019637538)

              Какой мерч вам интереснее всего?     %
0                Одежда (футболки, худи и др.)  33.3
1             Аксессуары (шоперы, шарфы и др.)  28.6
2  Канцтовары (блокноты, ручки, стикеры и др.)  23.8
3           Посуда (кружки, термокружки и др.)   4.8
4              Канцтовары, аксессуары и посуда   4.8
5                        Всё вышеперечисленное   4.8

In [74]:
f_23_29_Big_City_11 = df_f_23_29_Big_City.iloc[:,[11]].value_counts().reset_index()
f_23_29_Big_City_11.columns = ['Какой мерч вам интереснее всего?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_23_29_Big_City_11['Count'], 0.90))
f_23_29_Big_City_11

Доверительный интервал: (1.1878106493645002, 3.5, 5.812189350635499)

              Какой мерч вам интереснее всего?  Count
0                Одежда (футболки, худи и др.)      7
1             Аксессуары (шоперы, шарфы и др.)      6
2  Канцтовары (блокноты, ручки, стикеры и др.)      5
3           Посуда (кружки, термокружки и др.)      1
4              Канцтовары, аксессуары и посуда      1
5                        Всё вышеперечисленное      1

In [75]:
df_f_23_29_Big_City_12 = round(df_f_23_29_Big_City.iloc[:,[12]].value_counts() / df_f_23_29_Big_City.iloc[:,[12]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_12.columns = ['Вам был бы интересен мерч без логотипа, который отражал бы философию конкретного бренда? Пример - футболки с надписью "Иноагент", выпущенные "Медузой" совместно с другими брендами', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_12['%'], 0.4999))
df_f_23_29_Big_City_12

Доверительный интервал: (14.31121372393978, 50.0, 85.68878627606023)

,"Вам был бы интересен мерч без логотипа, который отражал бы философию конкретного бренда? Пример - футболки с надписью ""Иноагент"", выпущенные ""Медузой"" совместно с другими брендами",%
0,Да,85.7
1,Нет,14.3

In [76]:
f_23_29_Big_City_12 = df_f_23_29_Big_City.iloc[:,[12]].value_counts().reset_index()
f_23_29_Big_City_12.columns = ['Вам был бы интересен мерч без логотипа, который отражал бы философию конкретного бренда? Пример - футболки с надписью "Иноагент", выпущенные "Медузой" совместно с другими брендами', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_23_29_Big_City_12['Count'], 0.4999))
f_23_29_Big_City_12

Доверительный интервал: (3.002355824357097, 10.5, 17.997644175642904)

,"Вам был бы интересен мерч без логотипа, который отражал бы философию конкретного бренда? Пример - футболки с надписью ""Иноагент"", выпущенные ""Медузой"" совместно с другими брендами",Count
0,Да,18
1,Нет,3

In [77]:
df_f_23_29_Big_City_13 = round(df_f_23_29_Big_City.iloc[:,[13]].value_counts() / df_f_23_29_Big_City.iloc[:,[13]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_13.columns = ['Вам нравятся цитаты в виде принта на мерче?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_13['%'], 0.4999))
df_f_23_29_Big_City_13

Доверительный интервал: (14.31121372393978, 50.0, 85.68878627606023)

  Вам нравятся цитаты в виде принта на мерче?     %
0                                          Да  85.7
1                                         Нет  14.3

In [78]:
f_23_29_Big_City_13 = df_f_23_29_Big_City.iloc[:,[13]].value_counts().reset_index()
f_23_29_Big_City_13.columns = ['Вам нравятся цитаты в виде принта на мерче?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_23_29_Big_City_13['Count'], 0.4999))
f_23_29_Big_City_13

Доверительный интервал: (3.002355824357097, 10.5, 17.997644175642904)

  Вам нравятся цитаты в виде принта на мерче?  Count
0                                          Да     18
1                                         Нет      3

In [79]:
df_f_23_29_Big_City_14 = round(df_f_23_29_Big_City.iloc[:,[14]].value_counts() / df_f_23_29_Big_City.iloc[:,[14]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_14.columns = ['Как вы относитесь к юмористическим цитатам на мерче?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_14['%'], 0.4999))
df_f_23_29_Big_City_14

Доверительный интервал: (19.009737407342673, 50.0, 80.99026259265733)

  Как вы относитесь к юмористическим цитатам на мерче?     %
0                                           Нравится    81.0
1                                        Не нравится    19.0

In [80]:
f_23_29_Big_City_14 = df_f_23_29_Big_City.iloc[:,[14]].value_counts().reset_index()
f_23_29_Big_City_14.columns = ['Как вы относитесь к юмористическим цитатам на мерче?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_23_29_Big_City_14['Count'], 0.4999))
f_23_29_Big_City_14

Доверительный интервал: (4.002041714442818, 10.5, 16.997958285557182)

  Как вы относитесь к юмористическим цитатам на мерче?  Count
0                                           Нравится       17
1                                        Не нравится        4

In [81]:
df_f_23_29_Big_City_15 = round(df_f_23_29_Big_City.iloc[:,[15]].value_counts() / df_f_23_29_Big_City.iloc[:,[15]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_15.columns = ['Вы обычно покупаете мерч после важных мероприятий? Например, после концерта или интересной отраслевой конференции', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_15['%'], 0.70))
df_f_23_29_Big_City_15

Доверительный интервал: (13.172034960715596, 33.333333333333336, 53.49463170595108)

,"Вы обычно покупаете мерч после важных мероприятий? Например, после концерта или интересной отраслевой конференции",%
0,Да,61.9
1,Нет,23.8
2,Я никогда не покупал мерч,14.3

In [82]:
f_23_29_Big_City_15 = df_f_23_29_Big_City.iloc[:,[15]].value_counts().reset_index()
f_23_29_Big_City_15.columns = ['Вы обычно покупаете мерч после важных мероприятий? Например, после концерта или интересной отраслевой конференции', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_23_29_Big_City_15['Count'], 0.4999))
f_23_29_Big_City_15

Доверительный интервал: (4.5062268591796, 7.0, 9.4937731408204)

,"Вы обычно покупаете мерч после важных мероприятий? Например, после концерта или интересной отраслевой конференции",Count
0,Да,13
1,Нет,5
2,Я никогда не покупал мерч,3

In [83]:
df_f_23_29_Big_City_16 = round(df_f_23_29_Big_City.iloc[:,[16]].value_counts() / df_f_23_29_Big_City.iloc[:,[16]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_16.columns = ['Вам важно, чтобы вы сами могли придумать свой дизайн для мерча: выбрать уникальное сочетание цвета и принта?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_16['%'], 0.4999))
df_f_23_29_Big_City_16

Доверительный интервал: (47.600753863794274, 50.0, 52.399246136205726)

,"Вам важно, чтобы вы сами могли придумать свой дизайн для мерча: выбрать уникальное сочетание цвета и принта?",%
0,"Нет, дизайнерам виднее",52.4
1,"Да, люблю эксперименты",47.6

In [84]:
f_23_29_Big_City_16 = df_f_23_29_Big_City.iloc[:,[16]].value_counts().reset_index()
f_23_29_Big_City_16.columns = ['Вам важно, чтобы вы сами могли придумать свой дизайн для мерча: выбрать уникальное сочетание цвета и принта?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_23_29_Big_City_16['Count'], 0.4999))
f_23_29_Big_City_16

Доверительный интервал: (10.000157054957139, 10.5, 10.999842945042861)

,"Вам важно, чтобы вы сами могли придумать свой дизайн для мерча: выбрать уникальное сочетание цвета и принта?",Count
0,"Нет, дизайнерам виднее",11
1,"Да, люблю эксперименты",10

In [85]:
df_f_23_29_Big_City_17 = round(df_f_23_29_Big_City.iloc[:,[17]].value_counts() / df_f_23_29_Big_City.iloc[:,[17]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_17.columns = ['Мерч в качестве бонуса мотивировал бы вас лучше учиться?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_17['%'], 0.4999))
df_f_23_29_Big_City_17

Доверительный интервал: (23.80822967975413, 50.0, 76.19177032024587)

  Мерч в качестве бонуса мотивировал бы вас лучше учиться?     %
0                                                 Да        76.2
1                                                Нет        23.8

In [86]:
f_23_29_Big_City_17 = df_f_23_29_Big_City.iloc[:,[17]].value_counts().reset_index()
f_23_29_Big_City_17.columns = ['Мерч в качестве бонуса мотивировал бы вас лучше учиться?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_23_29_Big_City_17['Count'], 0.4999))
f_23_29_Big_City_17

Доверительный интервал: (5.001727604528539, 10.5, 15.99827239547146)

  Мерч в качестве бонуса мотивировал бы вас лучше учиться?  Count
0                                                 Да           16
1                                                Нет            5

In [87]:
df_f_23_29_Big_City_18 = round(df_f_23_29_Big_City.iloc[:,[18]].value_counts() / df_f_23_29_Big_City.iloc[:,[18]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_18.columns = ['Вам важно, чтобы мерч был уникальным продуктом, который больше ни у кого не встретишь?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_18['%'], 0.4999))
df_f_23_29_Big_City_18

Доверительный интервал: (33.30524563556847, 50.0, 66.69475436443153)

,"Вам важно, чтобы мерч был уникальным продуктом, который больше ни у кого не встретишь?",%
0,Да,66.7
1,Нет,33.3

In [88]:
f_23_29_Big_City_18 = df_f_23_29_Big_City.iloc[:,[18]].value_counts().reset_index()
f_23_29_Big_City_18.columns = ['Вам важно, чтобы мерч был уникальным продуктом, который больше ни у кого не встретишь?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_23_29_Big_City_18['Count'], 0.4999))
f_23_29_Big_City_18

Доверительный интервал: (7.0010993846999785, 10.5, 13.998900615300021)

,"Вам важно, чтобы мерч был уникальным продуктом, который больше ни у кого не встретишь?",Count
0,Да,14
1,Нет,7

In [89]:
df_f_23_29_Big_City_19 = round(df_f_23_29_Big_City.iloc[:,[19]].value_counts() / df_f_23_29_Big_City.iloc[:,[19]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_19.columns = ['Вы готовы платить за лимитированный мерч? Лимитированная коллекция - та, которая выпускается один раз ограниченным тиражом', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_19['%'], 0.4999))
df_f_23_29_Big_City_19

Доверительный интервал: (38.10373790797993, 50.0, 61.89626209202007)

,"Вы готовы платить за лимитированный мерч? Лимитированная коллекция - та, которая выпускается один раз ограниченным тиражом",%
0,Да,61.9
1,Нет,38.1

In [90]:
f_23_29_Big_City_19 = df_f_23_29_Big_City.iloc[:,[19]].value_counts().reset_index()
f_23_29_Big_City_19.columns = ['Вы готовы платить за лимитированный мерч? Лимитированная коллекция - та, которая выпускается один раз ограниченным тиражом', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_23_29_Big_City_19['Count'], 0.4999))
f_23_29_Big_City_19

Доверительный интервал: (8.000785274785699, 10.5, 12.999214725214301)

,"Вы готовы платить за лимитированный мерч? Лимитированная коллекция - та, которая выпускается один раз ограниченным тиражом",Count
0,Да,13
1,Нет,8

In [91]:
df_f_23_29_Big_City_20 = round(df_f_23_29_Big_City.iloc[:,[20]].value_counts() / df_f_23_29_Big_City.iloc[:,[20]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_20.columns = ['Обращаете ли вы внимание на экологичность товаров при покупке вещей?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_20['%'], 0.4999))
df_f_23_29_Big_City_20

Доверительный интервал: (42.902230180391385, 50.0, 57.097769819608615)

  Обращаете ли вы внимание на экологичность товаров при покупке вещей?     %
0         Да, большая часть моих вещей - экологичные                    57.1
1  Нет, для меня это неважный критерий при выборе...                    42.9

In [92]:
f_23_29_Big_City_20 = df_f_23_29_Big_City.iloc[:,[20]].value_counts().reset_index()
f_23_29_Big_City_20.columns = ['Обращаете ли вы внимание на экологичность товаров при покупке вещей?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_23_29_Big_City_20['Count'], 0.4999))
f_23_29_Big_City_20

Доверительный интервал: (9.000471164871419, 10.5, 11.999528835128581)

  Обращаете ли вы внимание на экологичность товаров при покупке вещей?  Count
0         Да, большая часть моих вещей - экологичные                       12
1  Нет, для меня это неважный критерий при выборе...                        9

In [93]:
df_f_23_29_Big_City_21 = round(df_f_23_29_Big_City.iloc[:,[21]].value_counts() / df_f_23_29_Big_City.iloc[:,[21]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_21.columns = ['Вы с большей вероятностью купите мерч, если будете знать, что вырученные средства пойдут на благотворительность?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_21['%'], 0.4999))
df_f_23_29_Big_City_21

Доверительный интервал: (42.902230180391385, 50.0, 57.097769819608615)

,"Вы с большей вероятностью купите мерч, если будете знать, что вырученные средства пойдут на благотворительность?",%
0,Да,57.1
1,Нет,42.9

In [94]:
f_23_29_Big_City_21 = df_f_23_29_Big_City.iloc[:,[21]].value_counts().reset_index()
f_23_29_Big_City_21.columns = ['Вы с большей вероятностью купите мерч, если будете знать, что вырученные средства пойдут на благотворительность?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_23_29_Big_City_21['Count'], 0.4999))
f_23_29_Big_City_21

Доверительный интервал: (9.000471164871419, 10.5, 11.999528835128581)

,"Вы с большей вероятностью купите мерч, если будете знать, что вырученные средства пойдут на благотворительность?",Count
0,Да,12
1,Нет,9

In [95]:
df_f_23_29_Big_City_22 = round(df_f_23_29_Big_City.iloc[:,[22]].value_counts() / df_f_23_29_Big_City.iloc[:,[22]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_22.columns = ['Вы бы купили мерч в подарок для благотворительного фонда/детского дома?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_22['%'], 0.4999))
df_f_23_29_Big_City_22

Доверительный интервал: (47.600753863794274, 50.0, 52.399246136205726)

,Вы бы купили мерч в подарок для благотворительного фонда/детского дома?,%
0,Нет,52.4
1,Да,47.6

In [96]:
f_23_29_Big_City_22 = df_f_23_29_Big_City.iloc[:,[22]].value_counts().reset_index()
f_23_29_Big_City_22.columns = ['Вы бы купили мерч в подарок для благотворительного фонда/детского дома?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_23_29_Big_City_22['Count'], 0.4999))
f_23_29_Big_City_22

Доверительный интервал: (10.000157054957139, 10.5, 10.999842945042861)

,Вы бы купили мерч в подарок для благотворительного фонда/детского дома?,Count
0,Нет,11
1,Да,10

# --------------------------------------------------------------------------------------------------------------

### Женщины в возрасте 40-49 лет

In [97]:
f_40_49 = f.loc[f['Укажите ваш возраст'] == '40-49 лет']
f_40_49.groupby('Укажите ваш город').count()[['Отметка времени']].sort_values('Отметка времени', ascending=False).head(10)

                   Отметка времени
Укажите ваш город
Москва                           6
Новосибирск                      3
Севастополь                      2
Ростов-на-Дону                   2
Березники                        1
Челябинск                        1
Хотьково                         1
Санкт-Петербург                  1
Петропавловск                    1
Новосибирск                      1

In [98]:
f_40_49_City = round(f_40_49.iloc[:,[3]].value_counts() / f_40_49.iloc[:,[3]].value_counts().sum() * 100, 1).reset_index()
f_40_49_City.columns = ['Укажите ваш город', 'Жен., %']
f_40_49_City.head(10)

  Укажите ваш город  Жен., %
0            Москва     21.4
1       Новосибирск     10.7
2       Севастополь      7.1
3    Ростов-на-Дону      7.1
4            Чехов       3.6
5             Муром      3.6
6            Братск      3.6
7          Владимир      3.6
8            Ижевск      3.6
9          Кемерово      3.6

### Женщины в возрасте 40-49 лет, проживающие в Москве, Новосибирске, Севастополе и Ростове-на-Дону  
#### (12 человек)

In [99]:
df_f_40_49_Four_City = df.loc[(df['Укажите ваш возраст'] == '23-29 лет') & (df['Укажите ваш пол'] == 'Женский') & (df['Укажите ваш город'].isin(['Москва', 'Севастополь', 'Ростове-на-Дону', 'Новосибирск']))]

In [100]:
df_f_40_49_Four_City_4 = round(df_f_40_49_Four_City.iloc[:,[4]].value_counts() / df_f_40_49_Four_City.iloc[:,[4]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_4.columns = ['Какая цветовая гамма интернет-магазина вам нравится?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_4['%'], 0.9999))
df_f_40_49_Four_City_4

Доверительный интервал: (33.3, 33.3, 33.3)

  Какая цветовая гамма интернет-магазина вам нравится?     %
0              Яркая (синий, красный, зеленый и тд.)    33.3
1          Сдержанные оттенки (белый, черный, серый)    33.3
2                                            Неважно    33.3

In [101]:
f_40_49_Four_City_4 = df_f_40_49_Four_City.iloc[:,[4]].value_counts().reset_index()
f_40_49_Four_City_4.columns = ['Какая цветовая гамма интернет-магазина вам нравится?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_40_49_Four_City_4['Count'], 0.9999))
f_40_49_Four_City_4

Доверительный интервал: (4.0, 4.0, 4.0)

  Какая цветовая гамма интернет-магазина вам нравится?  Count
0              Яркая (синий, красный, зеленый и тд.)        4
1          Сдержанные оттенки (белый, черный, серый)        4
2                                            Неважно        4

In [102]:
df_f_40_49_Four_City_5 = round(df_f_40_49_Four_City.iloc[:,[5]].value_counts() / df_f_40_49_Four_City.iloc[:,[5]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_5.columns = ['Сколько по времени вы готовы ждать свой заказ?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_5['%'], 0.67))
df_f_40_49_Four_City_5

Доверительный интервал: (17.0674367418993, 33.333333333333336, 49.59922992476737)

  Сколько по времени вы готовы ждать свой заказ?     %
0                               4-7 рабочих дней  50.0
1                                1-3 рабочих дня  41.7
2                                        Неважно   8.3

In [103]:
f_40_49_Four_City_5 = df_f_40_49_Four_City.iloc[:,[5]].value_counts().reset_index()
f_40_49_Four_City_5.columns = ['Сколько по времени вы готовы ждать свой заказ?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_40_49_Four_City_5['Count'], 0.67))
f_40_49_Four_City_5

Доверительный интервал: (2.050321566805753, 4.0, 5.949678433194247)

  Сколько по времени вы готовы ждать свой заказ?  Count
0                               4-7 рабочих дней      6
1                                1-3 рабочих дня      5
2                                        Неважно      1

In [104]:
df_f_40_49_Four_City_6 = round(df_f_40_49_Four_City.iloc[:,[6]].value_counts() / df_f_40_49_Four_City.iloc[:,[6]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_6.columns = ['Что из перечисленного могло бы мотивировать вас к покупке?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_6['%'], 0.89))
df_f_40_49_Four_City_6

Доверительный интервал: (8.433439906757824, 20.020000000000003, 31.60656009324218)

  Что из перечисленного могло бы мотивировать вас к покупке?     %
0                                             Скидка          41.7
1      Наличие промокода, Скидка, Система лояльности          16.7
2                          Наличие промокода, Скидка          16.7
3                                  Наличие промокода          16.7
4                         Скидка, Система лояльности           8.3

In [105]:
f_40_49_Four_City_6 = df_f_40_49_Four_City.iloc[:,[6]].value_counts().reset_index()
f_40_49_Four_City_6.columns = ['Что из перечисленного могло бы мотивировать вас к покупке?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_40_49_Four_City_6['Count'], 0.89))
f_40_49_Four_City_6

Доверительный интервал: (1.0113062042525736, 2.4, 3.7886937957474265)

  Что из перечисленного могло бы мотивировать вас к покупке?  Count
0                                             Скидка              5
1      Наличие промокода, Скидка, Система лояльности              2
2                          Наличие промокода, Скидка              2
3                                  Наличие промокода              2
4                         Скидка, Система лояльности              1

In [106]:
df_f_40_49_Four_City_7 = round(df_f_40_49_Four_City.iloc[:,[7]].value_counts() / df_f_40_49_Four_City.iloc[:,[7]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_7.columns = ['Как долго вы готовы ждать ответа от менеджера  по вашему заказу?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_7['%'], 0.67))
df_f_40_49_Four_City_7

Доверительный интервал: (17.109221521938807, 33.333333333333336, 49.557445144727865)

  Как долго вы готовы ждать ответа от менеджера  по вашему заказу?     %
0                                           1-3 часа                58.3
1                                    В течение суток                25.0
2                                     В течение часа                16.7

In [107]:
f_40_49_Four_City_7 = df_f_40_49_Four_City.iloc[:,[7]].value_counts().reset_index()
f_40_49_Four_City_7.columns = ['Как долго вы готовы ждать ответа от менеджера  по вашему заказу?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_40_49_Four_City_7['Count'], 0.67))
f_40_49_Four_City_7

Доверительный интервал: (2.050321566805753, 4.0, 5.949678433194247)

  Как долго вы готовы ждать ответа от менеджера  по вашему заказу?  Count
0                                           1-3 часа                    7
1                                    В течение суток                    3
2                                     В течение часа                    2

In [108]:
df_f_40_49_Four_City_8 = round(df_f_40_49_Four_City.iloc[:,[8]].value_counts() / df_f_40_49_Four_City.iloc[:,[8]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_8.columns = ['Какой способ обратной связи с менеджером вам наиболее удобен?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_8['%'], 0.92))
df_f_40_49_Four_City_8

Доверительный интервал: (8.501382020077536, 16.666666666666668, 24.8319513132558)

  Какой способ обратной связи с менеджером вам наиболее удобен?     %
0            Получить ответ в мессенджере/в соцсетях             33.3
1  Получить ответ на телефон (звонок), Получить о...             16.7
2  Получить ответ на почту, Получить ответ на тел...             16.7
3  Получить ответ на почту, Получить ответ на тел...             16.7
4  На самом сайте (чат), Получить ответ на телефо...              8.3
5  На самом сайте (чат), Получить ответ на почту,...              8.3

In [109]:
f_40_49_Four_City_8 = df_f_40_49_Four_City.iloc[:,[8]].value_counts().reset_index()
f_40_49_Four_City_8.columns = ['Какой способ обратной связи с менеджером вам наиболее удобен?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_40_49_Four_City_8['Count'], 0.92))
f_40_49_Four_City_8

Доверительный интервал: (1.0201736809885023, 2.0, 2.9798263190114977)

  Какой способ обратной связи с менеджером вам наиболее удобен?  Count
0            Получить ответ в мессенджере/в соцсетях                 4
1  Получить ответ на телефон (звонок), Получить о...                 2
2  Получить ответ на почту, Получить ответ на тел...                 2
3  Получить ответ на почту, Получить ответ на тел...                 2
4  На самом сайте (чат), Получить ответ на телефо...                 1
5  На самом сайте (чат), Получить ответ на почту,...                 1

In [110]:
df_f_40_49_Four_City_9 = round(df_f_40_49_Four_City.iloc[:,[9]].value_counts() / df_f_40_49_Four_City.iloc[:,[9]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_9.columns = ['Вы когда-нибудь покупали мерч?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_9['%'], 0.4999))
df_f_40_49_Four_City_9

Доверительный интервал: (8.313098383425455, 50.0, 91.68690161657454)

  Вы когда-нибудь покупали мерч?     %
0                             Да  91.7
1               Нет, но планирую   8.3

In [111]:
f_40_49_Four_City_9 = df_f_40_49_Four_City.iloc[:,[9]].value_counts().reset_index()
f_40_49_Four_City_9.columns = ['Вы когда-нибудь покупали мерч?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_40_49_Four_City_9['Count'], 0.4999))
f_40_49_Four_City_9

Доверительный интервал: (1.0015705495713982, 6.0, 10.998429450428603)

  Вы когда-нибудь покупали мерч?  Count
0                             Да     11
1               Нет, но планирую      1

In [112]:
df_f_40_49_Four_City_10 = round(df_f_40_49_Four_City.iloc[:,[10]].value_counts() / df_f_40_49_Four_City.iloc[:,[10]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_10.columns = ['Вам важно, какого размера будет логотип на мерче?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_10['%'], 0.57))
df_f_40_49_Four_City_10

Доверительный интервал: (25.15764074243693, 33.333333333333336, 41.509025924229746)

  Вам важно, какого размера будет логотип на мерче?     %
0    Нет, мне неважно, какого размера будет логотип  50.0
1             Не люблю, когда на мерче есть логотип  25.0
2    Да, нравится, когда логотип маленького размера  25.0

In [113]:
f_40_49_Four_City_10 = df_f_40_49_Four_City.iloc[:,[10]].value_counts().reset_index()
f_40_49_Four_City_10.columns = ['Вам важно, какого размера будет логотип на мерче?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_40_49_Four_City_10['Count'], 0.57))
f_40_49_Four_City_10

Доверительный интервал: (3.018916889092431, 4.0, 4.981083110907569)

  Вам важно, какого размера будет логотип на мерче?  Count
0    Нет, мне неважно, какого размера будет логотип      6
1             Не люблю, когда на мерче есть логотип      3
2    Да, нравится, когда логотип маленького размера      3

In [114]:
df_f_40_49_Four_City_11 = round(df_f_40_49_Four_City.iloc[:,[11]].value_counts() / df_f_40_49_Four_City.iloc[:,[11]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_11.columns = ['Какой мерч вам интереснее всего?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_11['%'], 0.74))
df_f_40_49_Four_City_11

Доверительный интервал: (16.81217413734071, 24.974999999999998, 33.137825862659284)

              Какой мерч вам интереснее всего?     %
0                Одежда (футболки, худи и др.)  33.3
1             Аксессуары (шоперы, шарфы и др.)  33.3
2  Канцтовары (блокноты, ручки, стикеры и др.)  25.0
3           Посуда (кружки, термокружки и др.)   8.3

In [115]:
f_40_49_Four_City_11 = df_f_40_49_Four_City.iloc[:,[11]].value_counts().reset_index()
f_40_49_Four_City_11.columns = ['Какой мерч вам интереснее всего?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_40_49_Four_City_11['Count'], 0.74))
f_40_49_Four_City_11

Доверительный интервал: (2.020461876018519, 3.0, 3.979538123981481)

              Какой мерч вам интереснее всего?  Count
0                Одежда (футболки, худи и др.)      4
1             Аксессуары (шоперы, шарфы и др.)      4
2  Канцтовары (блокноты, ручки, стикеры и др.)      3
3           Посуда (кружки, термокружки и др.)      1

In [116]:
df_f_40_49_Four_City_12 = round(df_f_40_49_Four_City.iloc[:,[12]].value_counts() / df_f_40_49_Four_City.iloc[:,[12]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_12.columns = ['Вам был бы интересен мерч без логотипа, который отражал бы философию конкретного бренда? Пример - футболки с надписью "Иноагент", выпущенные "Медузой" совместно с другими брендами', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_12['%'], 0.4999))
df_f_40_49_Four_City_12

Доверительный интервал: (16.710459860145512, 50.0, 83.2895401398545)

,"Вам был бы интересен мерч без логотипа, который отражал бы философию конкретного бренда? Пример - футболки с надписью ""Иноагент"", выпущенные ""Медузой"" совместно с другими брендами",%
0,Да,83.3
1,Нет,16.7

In [117]:
f_40_49_Four_City_12 = df_f_40_49_Four_City.iloc[:,[12]].value_counts().reset_index()
f_40_49_Four_City_12.columns = ['Вам был бы интересен мерч без логотипа, который отражал бы философию конкретного бренда? Пример - футболки с надписью "Иноагент", выпущенные "Медузой" совместно с другими брендами', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_40_49_Four_City_12['Count'], 0.4999))
f_40_49_Four_City_12

Доверительный интервал: (2.0012564396571184, 6.0, 9.99874356034288)

,"Вам был бы интересен мерч без логотипа, который отражал бы философию конкретного бренда? Пример - футболки с надписью ""Иноагент"", выпущенные ""Медузой"" совместно с другими брендами",Count
0,Да,10
1,Нет,2

In [118]:
df_f_40_49_Four_City_13 = round(df_f_40_49_Four_City.iloc[:,[13]].value_counts() / df_f_40_49_Four_City.iloc[:,[13]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_13.columns = ['Вам нравятся цитаты в виде принта на мерче?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_13['%'], 0.4999))
df_f_40_49_Four_City_13

Доверительный интервал: (16.710459860145512, 50.0, 83.2895401398545)

  Вам нравятся цитаты в виде принта на мерче?     %
0                                          Да  83.3
1                                         Нет  16.7

In [119]:
f_40_49_Four_City_13 = df_f_40_49_Four_City.iloc[:,[13]].value_counts().reset_index()
f_40_49_Four_City_13.columns = ['Вам нравятся цитаты в виде принта на мерче?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_40_49_Four_City_13['Count'], 0.4999))
f_40_49_Four_City_13

Доверительный интервал: (2.0012564396571184, 6.0, 9.99874356034288)

  Вам нравятся цитаты в виде принта на мерче?  Count
0                                          Да     10
1                                         Нет      2

In [120]:
df_f_40_49_Four_City_14 = round(df_f_40_49_Four_City.iloc[:,[14]].value_counts() / df_f_40_49_Four_City.iloc[:,[14]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_14.columns = ['Как вы относитесь к юмористическим цитатам на мерче?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_14['%'], 0.4999))
df_f_40_49_Four_City_14

Доверительный интервал: (16.710459860145512, 50.0, 83.2895401398545)

  Как вы относитесь к юмористическим цитатам на мерче?     %
0                                           Нравится    83.3
1                                        Не нравится    16.7

In [121]:
f_40_49_Four_City_14 = df_f_40_49_Four_City.iloc[:,[14]].value_counts().reset_index()
f_40_49_Four_City_14.columns = ['Как вы относитесь к юмористическим цитатам на мерче?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_40_49_Four_City_14['Count'], 0.4999))
f_40_49_Four_City_14

Доверительный интервал: (2.0012564396571184, 6.0, 9.99874356034288)

  Как вы относитесь к юмористическим цитатам на мерче?  Count
0                                           Нравится       10
1                                        Не нравится        2

In [122]:
df_f_40_49_Four_City_15 = round(df_f_40_49_Four_City.iloc[:,[15]].value_counts() / df_f_40_49_Four_City.iloc[:,[15]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_15.columns = ['Вы обычно покупаете мерч после важных мероприятий? Например, после концерта или интересной отраслевой конференции', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_15['%'], 0.64))
df_f_40_49_Four_City_15

Доверительный интервал: (8.6273230586722, 33.333333333333336, 58.03934360799447)

,"Вы обычно покупаете мерч после важных мероприятий? Например, после концерта или интересной отраслевой конференции",%
0,Да,75.0
1,Нет,16.7
2,Я никогда не покупал мерч,8.3

In [123]:
f_40_49_Four_City_15 = df_f_40_49_Four_City.iloc[:,[15]].value_counts().reset_index()
f_40_49_Four_City_15.columns = ['Вы обычно покупаете мерч после важных мероприятий? Например, после концерта или интересной отраслевой конференции', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_40_49_Four_City_15['Count'], 0.4999))
f_40_49_Four_City_15

Доверительный интервал: (1.9457432254699967, 4.0, 6.054256774530003)

,"Вы обычно покупаете мерч после важных мероприятий? Например, после концерта или интересной отраслевой конференции",Count
0,Да,9
1,Нет,2
2,Я никогда не покупал мерч,1

In [124]:
df_f_40_49_Four_City_16 = round(df_f_40_49_Four_City.iloc[:,[16]].value_counts() / df_f_40_49_Four_City.iloc[:,[16]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_16.columns = ['Вам важно, чтобы вы сами могли придумать свой дизайн для мерча: выбрать уникальное сочетание цвета и принта?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_16['%'], 0.4999))
df_f_40_49_Four_City_16

Доверительный интервал: (16.710459860145512, 50.0, 83.2895401398545)

,"Вам важно, чтобы вы сами могли придумать свой дизайн для мерча: выбрать уникальное сочетание цвета и принта?",%
0,"Нет, дизайнерам виднее",83.3
1,"Да, люблю эксперименты",16.7

In [125]:
f_40_49_Four_City_16 = df_f_40_49_Four_City.iloc[:,[16]].value_counts().reset_index()
f_40_49_Four_City_16.columns = ['Вам важно, чтобы вы сами могли придумать свой дизайн для мерча: выбрать уникальное сочетание цвета и принта?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_40_49_Four_City_16['Count'], 0.4999))
f_40_49_Four_City_16

Доверительный интервал: (2.0012564396571184, 6.0, 9.99874356034288)

,"Вам важно, чтобы вы сами могли придумать свой дизайн для мерча: выбрать уникальное сочетание цвета и принта?",Count
0,"Нет, дизайнерам виднее",10
1,"Да, люблю эксперименты",2

In [126]:
df_f_40_49_Four_City_17 = round(df_f_40_49_Four_City.iloc[:,[17]].value_counts() / df_f_40_49_Four_City.iloc[:,[17]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_17.columns = ['Мерч в качестве бонуса мотивировал бы вас лучше учиться?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_17['%'], 0.4999))
df_f_40_49_Four_City_17

Доверительный интервал: (25.00785274785699, 50.0, 74.99214725214301)

  Мерч в качестве бонуса мотивировал бы вас лучше учиться?     %
0                                                 Да        75.0
1                                                Нет        25.0

In [127]:
f_40_49_Four_City_17 = df_f_40_49_Four_City.iloc[:,[17]].value_counts().reset_index()
f_40_49_Four_City_17.columns = ['Мерч в качестве бонуса мотивировал бы вас лучше учиться?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_40_49_Four_City_17['Count'], 0.4999))
f_40_49_Four_City_17

Доверительный интервал: (3.000942329742839, 6.0, 8.99905767025716)

  Мерч в качестве бонуса мотивировал бы вас лучше учиться?  Count
0                                                 Да            9
1                                                Нет            3

In [128]:
df_f_40_49_Four_City_18 = round(df_f_40_49_Four_City.iloc[:,[18]].value_counts() / df_f_40_49_Four_City.iloc[:,[18]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_18.columns = ['Вам важно, чтобы мерч был уникальным продуктом, который больше ни у кого не встретишь?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_18['%'], 0.4999))
df_f_40_49_Four_City_18

Доверительный интервал: (33.30524563556847, 50.0, 66.69475436443153)

,"Вам важно, чтобы мерч был уникальным продуктом, который больше ни у кого не встретишь?",%
0,Да,66.7
1,Нет,33.3

In [129]:
f_40_49_Four_City_18 = df_f_40_49_Four_City.iloc[:,[18]].value_counts().reset_index()
f_40_49_Four_City_18.columns = ['Вам важно, чтобы мерч был уникальным продуктом, который больше ни у кого не встретишь?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_40_49_Four_City_18['Count'], 0.4999))
f_40_49_Four_City_18

Доверительный интервал: (4.00062821982856, 6.0, 7.99937178017144)

,"Вам важно, чтобы мерч был уникальным продуктом, который больше ни у кого не встретишь?",Count
0,Да,8
1,Нет,4

In [130]:
df_f_40_49_Four_City_19 = round(df_f_40_49_Four_City.iloc[:,[19]].value_counts() / df_f_40_49_Four_City.iloc[:,[19]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_19.columns = ['Вы готовы платить за лимитированный мерч? Лимитированная коллекция - та, которая выпускается один раз ограниченным тиражом', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_19['%'], 0.4999))
df_f_40_49_Four_City_19

Доверительный интервал: (33.30524563556847, 50.0, 66.69475436443153)

,"Вы готовы платить за лимитированный мерч? Лимитированная коллекция - та, которая выпускается один раз ограниченным тиражом",%
0,Да,66.7
1,Нет,33.3

In [131]:
f_40_49_Four_City_19 = df_f_40_49_Four_City.iloc[:,[19]].value_counts().reset_index()
f_40_49_Four_City_19.columns = ['Вы готовы платить за лимитированный мерч? Лимитированная коллекция - та, которая выпускается один раз ограниченным тиражом', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_40_49_Four_City_19['Count'], 0.4999))
f_40_49_Four_City_19

Доверительный интервал: (4.00062821982856, 6.0, 7.99937178017144)

,"Вы готовы платить за лимитированный мерч? Лимитированная коллекция - та, которая выпускается один раз ограниченным тиражом",Count
0,Да,8
1,Нет,4

In [132]:
df_f_40_49_Four_City_20 = round(df_f_40_49_Four_City.iloc[:,[20]].value_counts() / df_f_40_49_Four_City.iloc[:,[20]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_20.columns = ['Обращаете ли вы внимание на экологичность товаров при покупке вещей?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_20['%'], 0.999))
df_f_40_49_Four_City_20

Доверительный интервал: (50.0, 50.0, 50.0)

  Обращаете ли вы внимание на экологичность товаров при покупке вещей?     %
0  Нет, для меня это неважный критерий при выборе...                    50.0
1         Да, большая часть моих вещей - экологичные                    50.0

In [133]:
f_40_49_Four_City_20 = df_f_40_49_Four_City.iloc[:,[20]].value_counts().reset_index()
f_40_49_Four_City_20.columns = ['Обращаете ли вы внимание на экологичность товаров при покупке вещей?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_40_49_Four_City_20['Count'], 0.4999))
f_40_49_Four_City_20

Доверительный интервал: (6.0, 6.0, 6.0)

  Обращаете ли вы внимание на экологичность товаров при покупке вещей?  Count
0  Нет, для меня это неважный критерий при выборе...                        6
1         Да, большая часть моих вещей - экологичные                        6

In [134]:
df_f_40_49_Four_City_21 = round(df_f_40_49_Four_City.iloc[:,[21]].value_counts() / df_f_40_49_Four_City.iloc[:,[21]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_21.columns = ['Вы с большей вероятностью купите мерч, если будете знать, что вырученные средства пойдут на благотворительность?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_21['%'], 0.999))
df_f_40_49_Four_City_21

Доверительный интервал: (50.0, 50.0, 50.0)

,"Вы с большей вероятностью купите мерч, если будете знать, что вырученные средства пойдут на благотворительность?",%
0,Нет,50.0
1,Да,50.0

In [135]:
f_40_49_Four_City_21 = df_f_40_49_Four_City.iloc[:,[21]].value_counts().reset_index()
f_40_49_Four_City_21.columns = ['Вы с большей вероятностью купите мерч, если будете знать, что вырученные средства пойдут на благотворительность?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_40_49_Four_City_21['Count'], 0.4999))
f_40_49_Four_City_21

Доверительный интервал: (6.0, 6.0, 6.0)

,"Вы с большей вероятностью купите мерч, если будете знать, что вырученные средства пойдут на благотворительность?",Count
0,Нет,6
1,Да,6

In [136]:
df_f_40_49_Four_City_22 = round(df_f_40_49_Four_City.iloc[:,[22]].value_counts() / df_f_40_49_Four_City.iloc[:,[22]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_22.columns = ['Вы бы купили мерч в подарок для благотворительного фонда/детского дома?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_22['%'], 0.999))
df_f_40_49_Four_City_22

Доверительный интервал: (50.0, 50.0, 50.0)

,Вы бы купили мерч в подарок для благотворительного фонда/детского дома?,%
0,Нет,50.0
1,Да,50.0

In [137]:
f_40_49_Four_City_22 = df_f_40_49_Four_City.iloc[:,[22]].value_counts().reset_index()
f_40_49_Four_City_22.columns = ['Вы бы купили мерч в подарок для благотворительного фонда/детского дома?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(f_40_49_Four_City_22['Count'], 0.4999))
f_40_49_Four_City_22

Доверительный интервал: (6.0, 6.0, 6.0)

,Вы бы купили мерч в подарок для благотворительного фонда/детского дома?,Count
0,Нет,6
1,Да,6

# =============================================================

## Все мужчины (42 человека)

In [138]:
m = df.loc[df['Укажите ваш пол'] == 'Мужской']

### Все мужчины по возрастным категориям

In [139]:
m.groupby('Укажите ваш возраст').count()[['Отметка времени']].sort_values('Отметка времени', ascending=False)

                     Отметка времени
Укажите ваш возраст
30-39 лет                         14
40-49 лет                         11
23-29 лет                          6
18-22 лет                          5
больше 50 лет                      4
до 18 лет                          3

In [140]:
m_age = round(m.iloc[:,[1]].value_counts() / m.iloc[:,[1]].value_counts().sum() * 100, 1).reset_index()
m_age.columns = ['Укажите ваш возраст', 'Муж., %']
m_age

  Укажите ваш возраст  Муж., %
0           30-39 лет     32.6
1           40-49 лет     25.6
2           23-29 лет     14.0
3           18-22 лет     11.6
4       больше 50 лет      9.3
5           до 18 лет      7.0

### Все мужчины по городам проживания

In [141]:
m.groupby('Укажите ваш город').count()[['Отметка времени']].sort_values('Отметка времени', ascending=False).head(10)

                   Отметка времени
Укажите ваш город
Москва                          10
Самара                           4
Санкт-Петербург                  3
Чехов                            3
Минск                            2
Симферополь                      2
Екатеринбург                     1
Ростов-на-Дону                   1
Черемхово                        1
Ульяновск                        1

In [142]:
m_city = round(m.iloc[:,[3]].value_counts() / m.iloc[:,[3]].value_counts().sum() * 100, 1).reset_index()
m_city.columns = ['Укажите ваш город', 'Муж., %']
m_city.head(10)

  Укажите ваш город  Муж., %
0            Москва     23.3
1            Самара      9.3
2   Санкт-Петербург      7.0
3             Чехов      7.0
4       Симферополь      4.7
5             Минск      4.7
6         Тольятти       2.3
7         Краснодар      2.3
8       Владивосток      2.3
9          Владимир      2.3

In [143]:
df_m_4 = round(m.iloc[:,[4]].value_counts() / m.iloc[:,[4]].value_counts().sum() * 100, 1).reset_index()
df_m_4.columns = ['Какая цветовая гамма интернет-магазина вам нравится?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_m_4['%'], 0.75))
df_m_4

Доверительный интервал: (9.499563773555828, 33.333333333333336, 57.167102893110844)

  Какая цветовая гамма интернет-магазина вам нравится?     %
0          Сдержанные оттенки (белый, черный, серый)    60.5
1              Яркая (синий, красный, зеленый и тд.)    30.2
2                                            Неважно     9.3

In [144]:
m_4 = m.iloc[:,[4]].value_counts().reset_index()
m_4.columns = ['Какая цветовая гамма интернет-магазина вам нравится?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(m_4['Count'], 0.75))
m_4

Доверительный интервал: (4.093355654786185, 14.333333333333334, 24.573311011880485)

  Какая цветовая гамма интернет-магазина вам нравится?  Count
0          Сдержанные оттенки (белый, черный, серый)       26
1              Яркая (синий, красный, зеленый и тд.)       13
2                                            Неважно        4

In [145]:
df_m_5 = round(m.iloc[:,[5]].value_counts() / m.iloc[:,[5]].value_counts().sum() * 100, 1).reset_index()
df_m_5.columns = ['Сколько по времени вы готовы ждать свой заказ?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_m_5['%'], 0.81))
df_m_5

Доверительный интервал: (11.865398006582913, 25.0, 38.134601993417085)

  Сколько по времени вы готовы ждать свой заказ?     %
0                               4-7 рабочих дней  39.5
1                                1-3 рабочих дня  37.2
2                           более 7 рабочих дней  14.0
3                                        Неважно   9.3

In [146]:
m_5 = m.iloc[:,[5]].value_counts().reset_index()
m_5.columns = ['Сколько по времени вы готовы ждать свой заказ?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(m_5['Count'], 0.81))
m_5

Доверительный интервал: (5.093606889924058, 10.75, 16.406393110075943)

  Сколько по времени вы готовы ждать свой заказ?  Count
0                               4-7 рабочих дней     17
1                                1-3 рабочих дня     16
2                           более 7 рабочих дней      6
3                                        Неважно      4

In [147]:
df_m_6 = round(m.iloc[:,[6]].value_counts() / m.iloc[:,[6]].value_counts().sum() * 100, 1).reset_index()
df_m_6.columns = ['Что из перечисленного могло бы мотивировать вас к покупке?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_m_6['%'], 0.98))
df_m_6

Доверительный интервал: (3.197322135180106, 11.122222222222222, 19.04712230926434)

  Что из перечисленного могло бы мотивировать вас к покупке?     %
0      Наличие промокода, Скидка, Система лояльности          25.6
1                          Наличие промокода, Скидка          20.9
2                         Скидка, Система лояльности          14.0
3                                 Система лояльности          14.0
4                                             Скидка           9.3
5              Наличие промокода, Система лояльности           7.0
6                                  Наличие промокода           4.7
7                   Скидка, Ничего из перечисленного           2.3
8                           Ничего из перечисленного           2.3

In [148]:
m_6 = m.iloc[:,[6]].value_counts().reset_index()
m_6.columns = ['Что из перечисленного могло бы мотивировать вас к покупке?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(m_6['Count'], 0.98))
m_6

Доверительный интервал: (1.3718616141648599, 4.777777777777778, 8.183693941390695)

  Что из перечисленного могло бы мотивировать вас к покупке?  Count
0      Наличие промокода, Скидка, Система лояльности             11
1                          Наличие промокода, Скидка              9
2                         Скидка, Система лояльности              6
3                                 Система лояльности              6
4                                             Скидка              4
5              Наличие промокода, Система лояльности              3
6                                  Наличие промокода              2
7                   Скидка, Ничего из перечисленного              1
8                           Ничего из перечисленного              1

In [149]:
df_m_7 = round(m.iloc[:,[7]].value_counts() / m.iloc[:,[7]].value_counts().sum() * 100, 1).reset_index()
df_m_7.columns = ['Как долго вы готовы ждать ответа от менеджера  по вашему заказу?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_m_7['%'], 0.83))
df_m_7

Доверительный интервал: (8.170837955222805, 25.025, 41.87916204477719)

  Как долго вы готовы ждать ответа от менеджера  по вашему заказу?     %
0                                     В течение часа                51.2
1                                    В течение суток                23.3
2                                           1-3 часа                18.6
3                                            Неважно                 7.0

In [150]:
m_7 = m.iloc[:,[7]].value_counts().reset_index()
m_7.columns = ['Как долго вы готовы ждать ответа от менеджера  по вашему заказу?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(m_7['Count'], 0.83))
m_7

Доверительный интервал: (3.5062013577699354, 10.75, 17.993798642230065)

  Как долго вы готовы ждать ответа от менеджера  по вашему заказу?  Count
0                                     В течение часа                   22
1                                    В течение суток                   10
2                                           1-3 часа                    8
3                                            Неважно                    3

In [151]:
df_m_8 = round(m.iloc[:,[8]].value_counts() / m.iloc[:,[8]].value_counts().sum() * 100, 1).reset_index()
df_m_8.columns = ['Какой способ обратной связи с менеджером вам наиболее удобен?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_m_8['%'], 0.99))
df_m_8

Доверительный интервал: (2.9527076942192814, 4.55, 6.147292305780718)

   Какой способ обратной связи с менеджером вам наиболее удобен?    %
0                                На самом сайте (чат)             9.3
1   На самом сайте (чат), Получить ответ на почту,...             9.3
2   Получить ответ на почту, Получить ответ на тел...             9.3
3   Получить ответ на почту, Получить ответ в месс...             9.3
4   На самом сайте (чат), Получить ответ на почту,...             7.0
5   На самом сайте (чат), Получить ответ на телефо...             4.7
6                  Получить ответ на телефон (звонок)             4.7
7   Получить ответ на почту, Получить ответ на тел...             4.7
8   Получить ответ на почту, Получить ответ на тел...             4.7
9   Получить ответ на почту, Получить ответ на тел...             4.7
10            Получить ответ в мессенджере/в соцсетях             4.7
11  На самом сайте (чат), Получить ответ на почту,...             4.7
12      На самом сайте (чат), Получить ответ на почту             2.3
13  На самом сайте (чат), Получить ответ на почту,...             2.3
14  Получить ответ на телефон (смс), Получить отве...             2.3
15  На самом сайте (чат), Получить ответ на телефо...             2.3
16  На самом сайте (чат), Получить ответ на телефо...             2.3
17  Получить ответ на телефон (звонок), Получить о...             2.3
18  Получить ответ на почту, Получить ответ на тел...             2.3
19  Получить ответ на почту, Получить ответ на тел...             2.3
20  Получить ответ на телефон (звонок), Получить о...             2.3
21                            Получить ответ на почту             2.3

In [152]:
m_8 = m.iloc[:,[8]].value_counts().reset_index()
m_8.columns = ['Какой способ обратной связи с менеджером вам наиболее удобен?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(m_8['Count'], 0.99))
m_8

Доверительный интервал: (1.2706494870501563, 1.9545454545454546, 2.638441422040753)

   Какой способ обратной связи с менеджером вам наиболее удобен?  Count
0                                На самом сайте (чат)                 4
1   На самом сайте (чат), Получить ответ на почту,...                 4
2   Получить ответ на почту, Получить ответ на тел...                 4
3   Получить ответ на почту, Получить ответ в месс...                 4
4   На самом сайте (чат), Получить ответ на почту,...                 3
5   На самом сайте (чат), Получить ответ на телефо...                 2
6                  Получить ответ на телефон (звонок)                 2
7   Получить ответ на почту, Получить ответ на тел...                 2
8   Получить ответ на почту, Получить ответ на тел...                 2
9   Получить ответ на почту, Получить ответ на тел...                 2
10            Получить ответ в мессенджере/в соцсетях                 2
11  На самом сайте (чат), Получить ответ на почту,...                 2
12      На самом сайте (чат), Получить ответ на почту                 1
13  На самом сайте (чат), Получить ответ на почту,...                 1
14  Получить ответ на телефон (смс), Получить отве...                 1
15  На самом сайте (чат), Получить ответ на телефо...                 1
16  На самом сайте (чат), Получить ответ на телефо...                 1
17  Получить ответ на телефон (звонок), Получить о...                 1
18  Получить ответ на почту, Получить ответ на тел...                 1
19  Получить ответ на почту, Получить ответ на тел...                 1
20  Получить ответ на телефон (звонок), Получить о...                 1
21                            Получить ответ на почту                 1

In [153]:
df_m_9 = round(m.iloc[:,[9]].value_counts() / m.iloc[:,[9]].value_counts().sum() * 100, 1).reset_index()
df_m_9.columns = ['Вы когда-нибудь покупали мерч?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_m_9['%'], 0.72))
df_m_9

Доверительный интервал: (16.322224982935605, 33.333333333333336, 50.34444168373106)

  Вы когда-нибудь покупали мерч?     %
0               Нет, но планирую  51.2
1                             Да  37.2
2              Нет и не планирую  11.6

In [154]:
m_9 = m.iloc[:,[9]].value_counts().reset_index()
m_9.columns = ['Вы когда-нибудь покупали мерч?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(m_9['Count'], 0.72))
m_9

Доверительный интервал: (7.029759366361399, 14.333333333333334, 21.636907300305268)

  Вы когда-нибудь покупали мерч?  Count
0               Нет, но планирую     22
1                             Да     16
2              Нет и не планирую      5

In [155]:
df_m_10 = round(m.iloc[:,[10]].value_counts() / m.iloc[:,[10]].value_counts().sum() * 100, 1).reset_index()
df_m_10.columns = ['Вам важно, какого размера будет логотип на мерче?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_m_10['%'], 0.90))
df_m_10

Доверительный интервал: (6.798035809121178, 25.0, 43.201964190878826)

  Вам важно, какого размера будет логотип на мерче?     %
0    Да, нравится, когда логотип маленького размера  44.2
1               Да, нравится, когда логотип крупный  27.9
2    Нет, мне неважно, какого размера будет логотип  20.9
3             Не люблю, когда на мерче есть логотип   7.0

In [156]:
m_10 = m.iloc[:,[10]].value_counts().reset_index()
m_10.columns = ['Вам важно, какого размера будет логотип на мерче?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(m_10['Count'], 0.90))
m_10

Доверительный интервал: (2.9226339688947, 10.75, 18.5773660311053)

  Вам важно, какого размера будет логотип на мерче?  Count
0    Да, нравится, когда логотип маленького размера     19
1               Да, нравится, когда логотип крупный     12
2    Нет, мне неважно, какого размера будет логотип      9
3             Не люблю, когда на мерче есть логотип      3

In [157]:
df_m_11 = round(m.iloc[:,[11]].value_counts() / m.iloc[:,[11]].value_counts().sum() * 100, 1).reset_index()
df_m_11.columns = ['Какой мерч вам интереснее всего?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_m_11['%'], 0.85))
df_m_11

Доверительный интервал: (2.993657964430245, 20.0, 37.00634203556976)

              Какой мерч вам интереснее всего?     %
0                Одежда (футболки, худи и др.)  51.2
1  Канцтовары (блокноты, ручки, стикеры и др.)  32.6
2           Посуда (кружки, термокружки и др.)  11.6
3                                  значки-пины   2.3
4             Аксессуары (шоперы, шарфы и др.)   2.3

In [158]:
m_11 = m.iloc[:,[11]].value_counts().reset_index()
m_11.columns = ['Какой мерч вам интереснее всего?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(m_11['Count'], 0.85))
m_11

Доверительный интервал: (1.298577545572705, 8.6, 15.901422454427294)

              Какой мерч вам интереснее всего?  Count
0                Одежда (футболки, худи и др.)     22
1  Канцтовары (блокноты, ручки, стикеры и др.)     14
2           Посуда (кружки, термокружки и др.)      5
3                                  значки-пины      1
4             Аксессуары (шоперы, шарфы и др.)      1

In [159]:
df_m_12 = round(m.iloc[:,[12]].value_counts() / m.iloc[:,[12]].value_counts().sum() * 100, 1).reset_index()
df_m_12.columns = ['Вам был бы интересен мерч без логотипа, который отражал бы философию конкретного бренда? Пример - футболки с надписью "Иноагент", выпущенные "Медузой" совместно с другими брендами', '%']
print('Доверительный интервал:', mean_confidence_interval(df_m_12['%'], 0.4999))
df_m_12

Доверительный интервал: (30.206219376302737, 50.0, 69.79378062369726)

,"Вам был бы интересен мерч без логотипа, который отражал бы философию конкретного бренда? Пример - футболки с надписью ""Иноагент"", выпущенные ""Медузой"" совместно с другими брендами",%
0,Да,69.8
1,Нет,30.2

In [160]:
m_12 = m.iloc[:,[12]].value_counts().reset_index()
m_12.columns = ['Вам был бы интересен мерч без логотипа, который отражал бы философию конкретного бренда? Пример - футболки с надписью "Иноагент", выпущенные "Медузой" совместно с другими брендами', 'Count']
print('Доверительный интервал:', mean_confidence_interval(m_12['Count'], 0.4999))
m_12

Доверительный интервал: (13.002669934271378, 21.5, 29.997330065728622)

,"Вам был бы интересен мерч без логотипа, который отражал бы философию конкретного бренда? Пример - футболки с надписью ""Иноагент"", выпущенные ""Медузой"" совместно с другими брендами",Count
0,Да,30
1,Нет,13

In [161]:
df_m_13 = round(m.iloc[:,[13]].value_counts() / m.iloc[:,[13]].value_counts().sum() * 100, 1).reset_index()
df_m_13.columns = ['Вам нравятся цитаты в виде принта на мерче?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_m_13['%'], 0.4999))
df_m_13

Доверительный интервал: (30.206219376302737, 50.0, 69.79378062369726)

  Вам нравятся цитаты в виде принта на мерче?     %
0                                          Да  69.8
1                                         Нет  30.2

In [162]:
m_13 = m.iloc[:,[13]].value_counts().reset_index()
m_13.columns = ['Вам нравятся цитаты в виде принта на мерче?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(m_13['Count'], 0.4999))
m_13

Доверительный интервал: (13.002669934271378, 21.5, 29.997330065728622)

  Вам нравятся цитаты в виде принта на мерче?  Count
0                                          Да     30
1                                         Нет     13

In [163]:
df_m_14 = round(m.iloc[:,[14]].value_counts() / m.iloc[:,[14]].value_counts().sum() * 100, 1).reset_index()
df_m_14.columns = ['Как вы относитесь к юмористическим цитатам на мерче?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_m_14['%'], 0.4999))
df_m_14

Доверительный интервал: (27.90694182910558, 50.0, 72.09305817089442)

  Как вы относитесь к юмористическим цитатам на мерче?     %
0                                           Нравится    72.1
1                                        Не нравится    27.9

In [164]:
m_14 = m.iloc[:,[14]].value_counts().reset_index()
m_14.columns = ['Как вы относитесь к юмористическим цитатам на мерче?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(m_14['Count'], 0.4999))
m_14

Доверительный интервал: (12.002984044185656, 21.5, 30.997015955814344)

  Как вы относитесь к юмористическим цитатам на мерче?  Count
0                                           Нравится       31
1                                        Не нравится       12

In [165]:
df_m_15 = round(m.iloc[:,[15]].value_counts() / m.iloc[:,[15]].value_counts().sum() * 100, 1).reset_index()
df_m_15.columns = ['Вы обычно покупаете мерч после важных мероприятий? Например, после концерта или интересной отраслевой конференции', '%']
print('Доверительный интервал:', mean_confidence_interval(df_m_15['%'], 0.77))
df_m_15

Доверительный интервал: (23.048901011821556, 33.36666666666667, 43.68443232151178)

,"Вы обычно покупаете мерч после важных мероприятий? Например, после концерта или интересной отраслевой конференции",%
0,Я никогда не покупал мерч,44.2
1,Нет,32.6
2,Да,23.3

In [166]:
m_15 = m.iloc[:,[15]].value_counts().reset_index()
m_15.columns = ['Вы обычно покупаете мерч после важных мероприятий? Например, после концерта или интересной отраслевой конференции', 'Count']
print('Доверительный интервал:', mean_confidence_interval(m_15['Count'], 0.77))
m_15

Доверительный интервал: (9.890102925166715, 14.333333333333334, 18.776563741499952)

,"Вы обычно покупаете мерч после важных мероприятий? Например, после концерта или интересной отраслевой конференции",Count
0,Я никогда не покупал мерч,19
1,Нет,14
2,Да,10

In [167]:
df_m_16 = round(m.iloc[:,[16]].value_counts() / m.iloc[:,[16]].value_counts().sum() * 100, 1).reset_index()
df_m_16.columns = ['Вам важно, чтобы вы сами могли придумать свой дизайн для мерча: выбрать уникальное сочетание цвета и принта?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_m_16['%'], 0.4999))
df_m_16

Доверительный интервал: (48.800376931897134, 50.0, 51.199623068102866)

,"Вам важно, чтобы вы сами могли придумать свой дизайн для мерча: выбрать уникальное сочетание цвета и принта?",%
0,"Нет, дизайнерам виднее",51.2
1,"Да, люблю эксперименты",48.8

In [168]:
m_16 = m.iloc[:,[16]].value_counts().reset_index()
m_16.columns = ['Вам важно, чтобы вы сами могли придумать свой дизайн для мерча: выбрать уникальное сочетание цвета и принта?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(m_16['Count'], 0.4999))
m_16

Доверительный интервал: (21.00015705495714, 21.5, 21.99984294504286)

,"Вам важно, чтобы вы сами могли придумать свой дизайн для мерча: выбрать уникальное сочетание цвета и принта?",Count
0,"Нет, дизайнерам виднее",22
1,"Да, люблю эксперименты",21

In [169]:
df_m_17 = round(m.iloc[:,[17]].value_counts() / m.iloc[:,[17]].value_counts().sum() * 100, 1).reset_index()
df_m_17.columns = ['Мерч в качестве бонуса мотивировал бы вас лучше учиться?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_m_17['%'], 0.4999))
df_m_17

Доверительный интервал: (30.206219376302737, 50.0, 69.79378062369726)

  Мерч в качестве бонуса мотивировал бы вас лучше учиться?     %
0                                                 Да        69.8
1                                                Нет        30.2

In [170]:
m_17 = m.iloc[:,[17]].value_counts().reset_index()
m_17.columns = ['Мерч в качестве бонуса мотивировал бы вас лучше учиться?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(m_17['Count'], 0.4999))
m_17

Доверительный интервал: (13.002669934271378, 21.5, 29.997330065728622)

  Мерч в качестве бонуса мотивировал бы вас лучше учиться?  Count
0                                                 Да           30
1                                                Нет           13

In [171]:
df_m_18 = round(m.iloc[:,[18]].value_counts() / m.iloc[:,[18]].value_counts().sum() * 100, 1).reset_index()
df_m_18.columns = ['Вам важно, чтобы мерч был уникальным продуктом, который больше ни у кого не встретишь?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_m_18['%'], 0.4999))
df_m_18

Доверительный интервал: (20.90914059850554, 50.0, 79.09085940149446)

,"Вам важно, чтобы мерч был уникальным продуктом, который больше ни у кого не встретишь?",%
0,Да,79.1
1,Нет,20.9

In [172]:
m_18 = m.iloc[:,[18]].value_counts().reset_index()
m_18.columns = ['Вам важно, чтобы мерч был уникальным продуктом, который больше ни у кого не встретишь?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(m_18['Count'], 0.4999))
m_18

Доверительный интервал: (9.003926373928495, 21.5, 33.99607362607151)

,"Вам важно, чтобы мерч был уникальным продуктом, который больше ни у кого не встретишь?",Count
0,Да,34
1,Нет,9

In [173]:
df_m_19 = round(m.iloc[:,[19]].value_counts() / m.iloc[:,[19]].value_counts().sum() * 100, 1).reset_index()
df_m_19.columns = ['Вы готовы платить за лимитированный мерч? Лимитированная коллекция - та, которая выпускается один раз ограниченным тиражом', '%']
print('Доверительный интервал:', mean_confidence_interval(df_m_19['%'], 0.4999))
df_m_19

Доверительный интервал: (32.60546551250846, 50.0, 67.39453448749154)

,"Вы готовы платить за лимитированный мерч? Лимитированная коллекция - та, которая выпускается один раз ограниченным тиражом",%
0,Да,67.4
1,Нет,32.6

In [174]:
m_19 = m.iloc[:,[19]].value_counts().reset_index()
m_19.columns = ['Вы готовы платить за лимитированный мерч? Лимитированная коллекция - та, которая выпускается один раз ограниченным тиражом', 'Count']
print('Доверительный интервал:', mean_confidence_interval(m_19['Count'], 0.4999))
m_19

Доверительный интервал: (14.002355824357096, 21.5, 28.997644175642904)

,"Вы готовы платить за лимитированный мерч? Лимитированная коллекция - та, которая выпускается один раз ограниченным тиражом",Count
0,Да,29
1,Нет,14

In [175]:
df_m_20 = round(m.iloc[:,[20]].value_counts() / m.iloc[:,[20]].value_counts().sum() * 100, 1).reset_index()
df_m_20.columns = ['Обращаете ли вы внимание на экологичность товаров при покупке вещей?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_m_20['%'], 0.4999))
df_m_20

Доверительный интервал: (41.90254429030566, 50.0, 58.09745570969434)

  Обращаете ли вы внимание на экологичность товаров при покупке вещей?     %
0  Нет, для меня это неважный критерий при выборе...                    58.1
1         Да, большая часть моих вещей - экологичные                    41.9

In [176]:
m_20 = m.iloc[:,[20]].value_counts().reset_index()
m_20.columns = ['Обращаете ли вы внимание на экологичность товаров при покупке вещей?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(m_20['Count'], 0.4999))
m_20

Доверительный интервал: (18.00109938469998, 21.5, 24.99890061530002)

  Обращаете ли вы внимание на экологичность товаров при покупке вещей?  Count
0  Нет, для меня это неважный критерий при выборе...                       25
1         Да, большая часть моих вещей - экологичные                       18

In [177]:
df_m_21 = round(m.iloc[:,[21]].value_counts() / m.iloc[:,[21]].value_counts().sum() * 100, 1).reset_index()
df_m_21.columns = ['Вы с большей вероятностью купите мерч, если будете знать, что вырученные средства пойдут на благотворительность?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_m_21['%'], 0.4999))
df_m_21

Доверительный интервал: (32.60546551250846, 50.0, 67.39453448749154)

,"Вы с большей вероятностью купите мерч, если будете знать, что вырученные средства пойдут на благотворительность?",%
0,Да,67.4
1,Нет,32.6

In [178]:
m_21 = m.iloc[:,[21]].value_counts().reset_index()
m_21.columns = ['Вы с большей вероятностью купите мерч, если будете знать, что вырученные средства пойдут на благотворительность?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(m_21['Count'], 0.4999))
m_21

Доверительный интервал: (14.002355824357096, 21.5, 28.997644175642904)

,"Вы с большей вероятностью купите мерч, если будете знать, что вырученные средства пойдут на благотворительность?",Count
0,Да,29
1,Нет,14

In [179]:
df_m_22 = round(m.iloc[:,[22]].value_counts() / m.iloc[:,[22]].value_counts().sum() * 100, 1).reset_index()
df_m_22.columns = ['Вы бы купили мерч в подарок для благотворительного фонда/детского дома?', '%']
print('Доверительный интервал:', mean_confidence_interval(df_m_22['%'], 0.4999))
df_m_22

Доверительный интервал: (30.206219376302737, 50.0, 69.79378062369726)

,Вы бы купили мерч в подарок для благотворительного фонда/детского дома?,%
0,Да,69.8
1,Нет,30.2

In [180]:
m_22 = m.iloc[:,[22]].value_counts().reset_index()
m_22.columns = ['Вы бы купили мерч в подарок для благотворительного фонда/детского дома?', 'Count']
print('Доверительный интервал:', mean_confidence_interval(m_22['Count'], 0.4999))
m_22

Доверительный интервал: (13.002669934271378, 21.5, 29.997330065728622)

,Вы бы купили мерч в подарок для благотворительного фонда/детского дома?,Count
0,Да,30
1,Нет,13

# =============================================================

## % опрошенных пользователей, которые так ответили:

In [181]:
df_f = df.loc[df['Укажите ваш пол'] == 'Женский']
df_m = df.loc[df['Укажите ваш пол'] == 'Мужской']

In [182]:
df1_f = round(df_f.iloc[:,[1]].value_counts() / df_f.iloc[:,[1]].value_counts().sum() * 100, 1).reset_index()
df1_f.columns = ['Укажите ваш возраст', 'Жен., %']
df1_f

  Укажите ваш возраст  Жен., %
0           30-39 лет     40.0
1           23-29 лет     23.1
2           40-49 лет     21.5
3       больше 50 лет      7.7
4           18-22 лет      5.4
5           до 18 лет      2.3

In [183]:
df1_m = round(df_m.iloc[:,[1]].value_counts() / df_m.iloc[:,[1]].value_counts().sum() * 100, 1).reset_index()
df1_m.columns = ['Укажите ваш возраст', 'Муж., %']
df1_m

  Укажите ваш возраст  Муж., %
0           30-39 лет     32.6
1           40-49 лет     25.6
2           23-29 лет     14.0
3           18-22 лет     11.6
4       больше 50 лет      9.3
5           до 18 лет      7.0

In [184]:
df2 = round(df.iloc[:,[2]].value_counts() / df.iloc[:,[2]].value_counts().sum() * 100, 1).reset_index()
df2.columns = ['Укажите ваш пол', '%']
df2

  Укажите ваш пол     %
0         Женский  75.1
1         Мужской  24.9

In [185]:
df3_f = round(df_f.iloc[:,[3]].value_counts() / df_f.iloc[:,[3]].value_counts().sum() * 100, 1).reset_index()
df3_f.columns = ['Укажите ваш город', 'Жен., %']
df3_f.head(10)

  Укажите ваш город  Жен., %
0            Москва     24.6
1   Санкт-Петербург     11.5
2       Новосибирск      4.6
3      Екатеринбург      3.1
4    Ростов-на-Дону      3.1
5           Алмере       2.3
6         Краснодар      2.3
7         Челябинск      2.3
8   Нижний Новгород      2.3
9            Самара      1.5

In [186]:
df3_m = round(df_m.iloc[:,[3]].value_counts() / df_m.iloc[:,[3]].value_counts().sum() * 100, 1).reset_index()
df3_m.columns = ['Укажите ваш город', 'Муж., %']
df3_m.head(15)

   Укажите ваш город  Муж., %
0             Москва     23.3
1             Самара      9.3
2    Санкт-Петербург      7.0
3              Чехов      7.0
4        Симферополь      4.7
5              Минск      4.7
6          Тольятти       2.3
7          Краснодар      2.3
8        Владивосток      2.3
9           Владимир      2.3
10        Домодедово      2.3
11      Екатеринбург      2.3
12       Зеленокумск      2.3
13            Ижевск      2.3
14        Краматорск      2.3

In [187]:
df4_f = round(df_f.iloc[:,[4]].value_counts() / df_f.iloc[:,[4]].value_counts().sum() * 100, 1).reset_index()
df4_f.columns = ['Какая цветовая гамма интернет-магазина вам нравится?', 'Жен., %']
df4_f

  Какая цветовая гамма интернет-магазина вам нравится?  Жен., %
0          Сдержанные оттенки (белый, черный, серый)       46.9
1              Яркая (синий, красный, зеленый и тд.)       30.0
2                                            Неважно       23.1

In [188]:
df4_m = round(df_m.iloc[:,[4]].value_counts() / df_m.iloc[:,[4]].value_counts().sum() * 100, 1).reset_index()
df4_m.columns = ['Какая цветовая гамма интернет-магазина вам нравится?', 'Муж., %']
df4_m

  Какая цветовая гамма интернет-магазина вам нравится?  Муж., %
0          Сдержанные оттенки (белый, черный, серый)       60.5
1              Яркая (синий, красный, зеленый и тд.)       30.2
2                                            Неважно        9.3

In [189]:
df5 = round(df.iloc[:,[5]].value_counts() / df.iloc[:,[5]].value_counts().sum() * 100, 1).reset_index()
df5.columns = ['Сколько по времени вы готовы ждать свой заказ?', '%']
df5

  Сколько по времени вы готовы ждать свой заказ?     %
0                               4-7 рабочих дней  42.8
1                                1-3 рабочих дня  38.7
2                                        Неважно  11.0
3                           более 7 рабочих дней   7.5

In [190]:
df6 = round(df.iloc[:,[6]].value_counts() / df.iloc[:,[6]].value_counts().sum() * 100, 1).reset_index()
df6.columns = ['Что из перечисленного могло бы мотивировать вас к покупке?', '%']
df6

  Что из перечисленного могло бы мотивировать вас к покупке?     %
0                          Наличие промокода, Скидка          20.8
1                                             Скидка          20.2
2      Наличие промокода, Скидка, Система лояльности          18.5
3                                  Наличие промокода          10.4
4                         Скидка, Система лояльности           9.8
5                                 Система лояльности           8.7
6                           Ничего из перечисленного           6.4
7              Наличие промокода, Система лояльности           4.6
8                   Скидка, Ничего из перечисленного           0.6

In [191]:
df7 = round(df.iloc[:,[7]].value_counts() / df.iloc[:,[7]].value_counts().sum() * 100, 1).reset_index()
df7.columns = ['Как долго вы готовы ждать ответа от менеджера по вашему заказу?', '%']
df7

  Как долго вы готовы ждать ответа от менеджера по вашему заказу?     %
0                                     В течение часа               41.0
1                                    В течение суток               30.6
2                                           1-3 часа               24.9
3                                            Неважно                3.5

In [192]:
df8 = round(df.iloc[:,[8]].value_counts() / df.iloc[:,[8]].value_counts().sum() * 100, 1).reset_index()
df8.columns = ['Какой способ обратной связи с менеджером вам наиболее удобен?', '%']
df8

   Какой способ обратной связи с менеджером вам наиболее удобен?     %
0             Получить ответ в мессенджере/в соцсетях             14.5
1                                На самом сайте (чат)             11.6
2   На самом сайте (чат), Получить ответ в мессенд...              9.8
3   На самом сайте (чат), Получить ответ на почту,...              7.5
4   Получить ответ на почту, Получить ответ в месс...              5.8
5   Получить ответ на телефон (звонок), Получить о...              4.6
6                  Получить ответ на телефон (звонок)              4.6
7   Получить ответ на почту, Получить ответ на тел...              4.6
8                             Получить ответ на почту              4.0
9                     Получить ответ на телефон (смс)              4.0
10      На самом сайте (чат), Получить ответ на почту              3.5
11  Получить ответ на почту, Получить ответ на тел...              3.5
12  Получить ответ на телефон (смс), Получить отве...              2.9
13  Получить ответ на почту, Получить ответ на тел...              2.9
14  Получить ответ на почту, Получить ответ на тел...              2.3
15  На самом сайте (чат), Получить ответ на почту,...              1.7
16  Получить ответ на почту, Получить ответ на тел...              1.2
17  На самом сайте (чат), Получить ответ на телефо...              1.2
18  На самом сайте (чат), Получить ответ на телефо...              1.2
19  На самом сайте (чат), Получить ответ на телефо...              1.2
20  На самом сайте (чат), Получить ответ на почту,...              1.2
21  На самом сайте (чат), Получить ответ на почту,...              1.2
22  Получить ответ на почту, Получить ответ на тел...              1.2
23  Получить ответ на телефон (звонок), Получить о...              1.2
24                                            Неважно              1.2
25  На самом сайте (чат), Получить ответ на телефо...              0.6
26  На самом сайте (чат), Получить ответ на почту,...              0.6
27  На самом сайте (чат), Получить ответ на почту,...              0.6

In [193]:
df9 = round(df.iloc[:,[9]].value_counts() / df.iloc[:,[9]].value_counts().sum() * 100, 1).reset_index()
df9.columns = ['Вы когда-нибудь покупали мерч?', '%']
df9

  Вы когда-нибудь покупали мерч?     %
0                             Да  52.0
1               Нет, но планирую  34.1
2              Нет и не планирую  13.9

In [194]:
df10 = round(df.iloc[:,[10]].value_counts() / df.iloc[:,[10]].value_counts().sum() * 100, 1).reset_index()
df10.columns = ['Вам важно, какого размера будет логотип на мерче?', '%']
df10

  Вам важно, какого размера будет логотип на мерче?     %
0    Да, нравится, когда логотип маленького размера  55.5
1    Нет, мне неважно, какого размера будет логотип  20.8
2             Не люблю, когда на мерче есть логотип  12.7
3               Да, нравится, когда логотип крупный  11.0

In [195]:
df11 = round(df.iloc[:,[11]].value_counts() / df.iloc[:,[11]].value_counts().sum() * 100, 1).reset_index()
df11.columns = ['Какой мерч вам интереснее всего?', '%']
df11

                     Какой мерч вам интереснее всего?     %
0                       Одежда (футболки, худи и др.)  35.8
1         Канцтовары (блокноты, ручки, стикеры и др.)  31.2
2                    Аксессуары (шоперы, шарфы и др.)  17.9
3                  Посуда (кружки, термокружки и др.)   9.8
4                             канцтовары и аксессуары   0.6
5                                         значки-пины   0.6
6                                                 все   0.6
7   Одежды сликом много у всех - я бы предпочла те...   0.6
8                     Канцтовары, аксессуары и посуда   0.6
9                Всё из перечисленного и можно больше   0.6
10                              Всё вышеперечисленное   0.6
11                         Все, что касается здоровьч   0.6
12                                 Все перечисленное    0.6

In [196]:
df12 = round(df.iloc[:,[12]].value_counts() / df.iloc[:,[12]].value_counts().sum() * 100, 1).reset_index()
df12.columns = ['Вам был бы интересен мерч без логотипа, который отражал бы философию конкретного бренда? Пример - футболки с надписью "Иноагент", выпущенные "Медузой" совместно с другими брендами', '%']
df12

,"Вам был бы интересен мерч без логотипа, который отражал бы философию конкретного бренда? Пример - футболки с надписью ""Иноагент"", выпущенные ""Медузой"" совместно с другими брендами",%
0,Да,76.3
1,Нет,23.7

In [197]:
df13 = round(df.iloc[:,[13]].value_counts() / df.iloc[:,[13]].value_counts().sum() * 100, 1).reset_index()
df13.columns = ['Вам нравятся цитаты в виде принта на мерче?', '%']
df13

  Вам нравятся цитаты в виде принта на мерче?     %
0                                          Да  77.5
1                                         Нет  22.5

In [198]:
df14 = round(df.iloc[:,[14]].value_counts() / df.iloc[:,[14]].value_counts().sum() * 100, 1).reset_index()
df14.columns = ['Как вы относитесь к юмористическим цитатам на мерче?', '%']
df14

  Как вы относитесь к юмористическим цитатам на мерче?     %
0                                           Нравится    74.6
1                                        Не нравится    25.4

In [199]:
df15 = round(df.iloc[:,[15]].value_counts() / df.iloc[:,[15]].value_counts().sum() * 100, 1).reset_index()
df15.columns = ['Вы обычно покупаете мерч после важных мероприятий? Например, после концерта или интересной отраслевой конференции', '%']
df15

,"Вы обычно покупаете мерч после важных мероприятий? Например, после концерта или интересной отраслевой конференции",%
0,Да,36.4
1,Нет,32.4
2,Я никогда не покупал мерч,31.2

In [200]:
df16 = round(df.iloc[:,[16]].value_counts() / df.iloc[:,[16]].value_counts().sum() * 100, 1).reset_index()
df16.columns = ['Вам важно, чтобы вы сами могли придумать свой дизайн для мерча: выбрать уникальное сочетание цвета и принта?', '%']
df16

,"Вам важно, чтобы вы сами могли придумать свой дизайн для мерча: выбрать уникальное сочетание цвета и принта?",%
0,"Нет, дизайнерам виднее",54.9
1,"Да, люблю эксперименты",45.1

In [201]:
df17 = round(df.iloc[:,[17]].value_counts() / df.iloc[:,[17]].value_counts().sum() * 100, 1).reset_index()
df17.columns = ['Мерч в качестве бонуса мотивировал бы вас лучше учиться?', '%']
df17

  Мерч в качестве бонуса мотивировал бы вас лучше учиться?     %
0                                                 Да        70.5
1                                                Нет        29.5

In [202]:
df18 = round(df.iloc[:,[18]].value_counts() / df.iloc[:,[18]].value_counts().sum() * 100, 1).reset_index()
df18.columns = ['Вам важно, чтобы мерч был уникальным продуктом, который больше ни у кого не встретишь?', '%']
df18

,"Вам важно, чтобы мерч был уникальным продуктом, который больше ни у кого не встретишь?",%
0,Да,68.2
1,Нет,31.8

In [203]:
df19 = round(df.iloc[:,[19]].value_counts() / df.iloc[:,[19]].value_counts().sum() * 100, 1).reset_index()
df19.columns = ['Вы готовы платить за лимитированный мерч? Лимитированная коллекция - та, которая выпускается один раз ограниченным тиражом', '%']
df19

,"Вы готовы платить за лимитированный мерч? Лимитированная коллекция - та, которая выпускается один раз ограниченным тиражом",%
0,Да,50.9
1,Нет,49.1

In [204]:
df20 = round(df.iloc[:,[20]].value_counts() / df.iloc[:,[20]].value_counts().sum() * 100, 1).reset_index()
df20.columns = ['Обращаете ли вы внимание на экологичность товаров при покупке вещей?', '%']
df20

  Обращаете ли вы внимание на экологичность товаров при покупке вещей?     %
0         Да, большая часть моих вещей - экологичные                    54.3
1  Нет, для меня это неважный критерий при выборе...                    45.7

In [205]:
df21 = round(df.iloc[:,[21]].value_counts() / df.iloc[:,[21]].value_counts().sum() * 100, 1).reset_index()
df21.columns = ['Вы с большей вероятностью купите мерч, если будете знать, что вырученные средства пойдут на благотворительность?', '%']
df21

,"Вы с большей вероятностью купите мерч, если будете знать, что вырученные средства пойдут на благотворительность?",%
0,Да,59.5
1,Нет,40.5

In [206]:
cnt21 = df.iloc[:,[21]].value_counts().reset_index()
cnt21.columns = ['Вы бы купили мерч в подарок для благотворительного фонда/детского дома?', 'Count']
cnt21

,Вы бы купили мерч в подарок для благотворительного фонда/детского дома?,Count
0,Да,103
1,Нет,70

In [207]:
df22 = round(df.iloc[:,[22]].value_counts() / df.iloc[:,[22]].value_counts().sum() * 100, 1).reset_index()
df22.columns = ['Вы бы купили мерч в подарок для благотворительного фонда/детского дома?', '%']
df22

,Вы бы купили мерч в подарок для благотворительного фонда/детского дома?,%
0,Да,64.7
1,Нет,35.3

In [208]:
cnt22 = df.iloc[:,[22]].value_counts().reset_index()
cnt22.columns = ['Вы бы купили мерч в подарок для благотворительного фонда/детского дома?', 'Count']
cnt22

,Вы бы купили мерч в подарок для благотворительного фонда/детского дома?,Count
0,Да,112
1,Нет,61

In [ ]:
def mean_confidence_interval_1(data, confidence=0.95):
    a = 1.0 * np.array(data)
    n = len(a)
    m, se = np.mean(a), stats.sem(data)
    h = se * stats.t.ppf((1 + confidence) / 2., n-1)
    return m-h, m, m+h