In [1]:
import pandas as pd
import numpy as np
import math
from scipy import stats

In [2]:
df = pd.read_csv('Merch.csv')
df.iloc[[83], [3]] = 'Самара'

In [3]:
def mean_confidence_interval(data, confidence=0.95): 
    n = len(data)
    m, se = np.mean(data), stats.sem(data)
    h = se * stats.t.ppf((1 + confidence) / 2, n-1)
    return m-h, m, m+h

## По всей выборке:

In [4]:
# Вычисляем количество опрошенных пользователей по полу
df.groupby('Укажите ваш пол').count()[['Отметка времени']]

                 Отметка времени
Укажите ваш пол
Женский                      126
Мужской                       42

In [5]:
df2 = round(df.iloc[:,[2]].value_counts() / df.iloc[:,[2]].value_counts().sum() * 100, 1).reset_index()
df2.columns = ['Укажите ваш пол', '%']
df2

  Укажите ваш пол     %
0         Женский  75.0
1         Мужской  25.0

In [6]:
# Вычисляем количество опрошенных пользователей по возрасту
df.groupby('Укажите ваш возраст').count()[['Отметка времени']].sort_values('Отметка времени', ascending=False)

                     Отметка времени
Укажите ваш возраст
30-39 лет                         64
40-49 лет                         39
23-29 лет                         35
больше 50 лет                     14
18-22 лет                         10
до 18 лет                          6

In [7]:
df1 = round(df.iloc[:,[1]].value_counts() / df.iloc[:,[1]].value_counts().sum() * 100, 1).reset_index()
df1.columns = ['Укажите ваш возраст', '%']
df1

  Укажите ваш возраст     %
0           30-39 лет  38.1
1           40-49 лет  23.2
2           23-29 лет  20.8
3       больше 50 лет   8.3
4           18-22 лет   6.0
5           до 18 лет   3.6

In [8]:
# Вычисляем количество опрошенных пользователей по городу проживания
df.groupby('Укажите ваш город').count()[['Отметка времени']].sort_values('Отметка времени', ascending=False).head(10)

                   Отметка времени
Укажите ваш город
Москва                          41
Санкт-Петербург                 16
Новосибирск                      6
Самара                           6
Ростов-на-Дону                   5
Екатеринбург                     5
Нижний Новгород                  4
Краснодар                        4
Алмере                           3
Минск                            3

In [9]:
df3 = round(df.iloc[:,[3]].value_counts() / df.iloc[:,[3]].value_counts().sum() * 100, 1).reset_index()
df3.columns = ['Укажите ваш город', '%']
df3

              Укажите ваш город     %
0                        Москва  24.4
1               Санкт-Петербург   9.5
2                   Новосибирск   3.6
3                        Самара   3.6
4                  Екатеринбург   3.0
..                          ...   ...
64                  Новокузнецк   0.6
65  Шадринск Курганской области   0.6
66        Нижегородская область   0.6
67                    Невьянск    0.6
68                       Алмере   0.6

[69 rows x 2 columns]

# --------------------------------------------------------------------------------------------------------------

## Все женщины

In [10]:
# Все женщины (126 чел)
f = df.loc[df['Укажите ваш пол'] == 'Женский']

### Все женщины по возрастным категориям

In [11]:
f.groupby('Укажите ваш возраст').count()[['Отметка времени']].sort_values('Отметка времени', ascending=False)

                     Отметка времени
Укажите ваш возраст
30-39 лет                         50
23-29 лет                         29
40-49 лет                         28
больше 50 лет                     10
18-22 лет                          6
до 18 лет                          3

In [12]:
f_age = round(f.iloc[:,[1]].value_counts() / f.iloc[:,[1]].value_counts().sum() * 100, 1).reset_index()
f_age.columns = ['Укажите ваш возраст', 'Жен., %']
f_age.head(10)

  Укажите ваш возраст  Жен., %
0           30-39 лет     39.7
1           23-29 лет     23.0
2           40-49 лет     22.2
3       больше 50 лет      7.9
4           18-22 лет      4.8
5           до 18 лет      2.4

### Все женщины по городам проживания

In [13]:
f.groupby('Укажите ваш город').count()[['Отметка времени']].sort_values('Отметка времени', ascending=False).head(10)

                   Отметка времени
Укажите ваш город
Москва                          32
Санкт-Петербург                 13
Новосибирск                      6
Екатеринбург                     4
Ростов-на-Дону                   4
Краснодар                        3
Алмере                           3
Нижний Новгород                  3
Челябинск                        3
Пенза                            2

In [14]:
f_city = round(f.iloc[:,[3]].value_counts() / f.iloc[:,[3]].value_counts().sum() * 100, 1).reset_index()
f_city.columns = ['Укажите ваш город', 'Жен., %']
f_city.head(10)

  Укажите ваш город  Жен., %
0            Москва     25.4
1   Санкт-Петербург     10.3
2       Новосибирск      4.8
3      Екатеринбург      3.2
4    Ростов-на-Дону      3.2
5           Алмере       2.4
6         Краснодар      2.4
7         Челябинск      2.4
8   Нижний Новгород      2.4
9             Пенза      1.6

# --------------------------------------------------------------------------------------------------------------

### Женщины в возрасте 30-39 лет

In [15]:
f_30_39 = f.loc[f['Укажите ваш возраст'] == '30-39 лет']
f_30_39.groupby('Укажите ваш город').count()[['Отметка времени']].sort_values('Отметка времени', ascending=False).head(10)

                   Отметка времени
Укажите ваш город
Москва                          10
Санкт-Петербург                  5
Алмере                           3
Саратов                          2
Нидерланды                       2
Пенза                            2
Краснодар                        2
Екатеринбург                     2
Тула                             1
Томск                            1

In [16]:
f_30_39_City = round(f_30_39.iloc[:,[3]].value_counts() / f_30_39.iloc[:,[3]].value_counts().sum() * 100, 1).reset_index()
f_30_39_City.columns = ['Укажите ваш город', 'Жен., %']
f_30_39_City.head(10)

  Укажите ваш город  Жен., %
0            Москва     20.0
1   Санкт-Петербург     10.0
2           Алмере       6.0
3       Нидерланды       4.0
4      Екатеринбург      4.0
5           Саратов      4.0
6         Краснодар      4.0
7             Пенза      4.0
8           Лабинск      2.0
9        Н Новгород      2.0

# ---------------------------------------

### Женщины в возрасте 30-39 лет, проживающие в Москве и СПб  
#### (15 человек)

In [17]:
df_f_30_39_MSC_SPT = df.loc[(df['Укажите ваш возраст'] == '30-39 лет') & (df['Укажите ваш пол'] == 'Женский') & (df['Укажите ваш город'].isin(['Москва', 'Санкт-Петербург']))]

In [18]:
df_f_30_39_MSC_SPT_4 = round(df_f_30_39_MSC_SPT.iloc[:,[4]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[4]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_4.columns = ['Какая цветовая гамма интернет-магазина вам нравится?', '%']
df_f_30_39_MSC_SPT_4

  Какая цветовая гамма интернет-магазина вам нравится?     %
0          Сдержанные оттенки (белый, черный, серый)    86.7
1              Яркая (синий, красный, зеленый и тд.)    13.3

In [19]:
print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_4['%'], 0.50))

Доверительный интервал: (13.299999999508628, 50.0, 86.70000000049137)

In [20]:
df_f_30_39_MSC_SPT_5 = round(df_f_30_39_MSC_SPT.iloc[:,[5]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[5]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_5.columns = ['Сколько по времени вы готовы ждать свой заказ?', '%']
df_f_30_39_MSC_SPT_5

  Сколько по времени вы готовы ждать свой заказ?     %
0                                1-3 рабочих дня  66.7
1                               4-7 рабочих дней  20.0
2                           более 7 рабочих дней   6.7
3                                        Неважно   6.7

In [21]:
print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_5['%'], 0.71))

Доверительный интервал: (6.7710365520018065, 25.025000000000002, 43.278963447998194)

In [22]:
df_f_30_39_MSC_SPT_6 = round(df_f_30_39_MSC_SPT.iloc[:,[6]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[6]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_6.columns = ['Что из перечисленного могло бы мотивировать вас к покупке?', '%']
df_f_30_39_MSC_SPT_6

  Что из перечисленного могло бы мотивировать вас к покупке?     %
0                                             Скидка          46.7
1                         Скидка, Система лояльности          13.3
2                           Ничего из перечисленного          13.3
3      Наличие промокода, Скидка, Система лояльности           6.7
4                          Наличие промокода, Скидка           6.7
5              Наличие промокода, Система лояльности           6.7
6                                  Наличие промокода           6.7

In [23]:
print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_6['%'], 0.78))

Доверительный интервал: (6.73349762732566, 14.3, 21.86650237267434)

In [24]:
df_f_30_39_MSC_SPT_7 = round(df_f_30_39_MSC_SPT.iloc[:,[7]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[7]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_7.columns = ['Как долго вы готовы ждать ответа от менеджера  по вашему заказу?', '%']
df_f_30_39_MSC_SPT_7

  Как долго вы готовы ждать ответа от менеджера  по вашему заказу?     %
0                                     В течение часа                40.0
1                                           1-3 часа                33.3
2                                    В течение суток                26.7

In [25]:
print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_7['%'], 0.77))

Доверительный интервал: (26.78063338753988, 33.333333333333336, 39.88603327912679)

In [26]:
df_f_30_39_MSC_SPT_8 = round(df_f_30_39_MSC_SPT.iloc[:,[8]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[8]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_8.columns = ['Какой способ обратной связи с менеджером вам наиболее удобен?', '%']
df_f_30_39_MSC_SPT_8

  Какой способ обратной связи с менеджером вам наиболее удобен?     %
0  На самом сайте (чат), Получить ответ в мессенд...             26.7
1                    Получить ответ на телефон (смс)             13.3
2  Получить ответ на почту, Получить ответ в месс...             13.3
3                               На самом сайте (чат)             13.3
4  Получить ответ на телефон (звонок), Получить о...              6.7
5                            Получить ответ на почту              6.7
6            Получить ответ в мессенджере/в соцсетях              6.7
7  На самом сайте (чат), Получить ответ на почту,...              6.7
8  На самом сайте (чат), Получить ответ на почту,...              6.7

In [27]:
print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_8['%'], 0.91))

Доверительный интервал: (6.843115194693465, 11.122222222222224, 15.401329249750983)

In [28]:
df_f_30_39_MSC_SPT_9 = round(df_f_30_39_MSC_SPT.iloc[:,[9]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[9]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_9.columns = ['Вы когда-нибудь покупали мерч?', '%']
df_f_30_39_MSC_SPT_9

  Вы когда-нибудь покупали мерч?     %
0                             Да  73.3
1              Нет и не планирую  20.0
2               Нет, но планирую   6.7

In [29]:
print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_9['%'], 0.67))

Доверительный интервал: (7.360830103752878, 33.333333333333336, 59.3058365629138)

In [30]:
df_f_30_39_MSC_SPT_10 = round(df_f_30_39_MSC_SPT.iloc[:,[10]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[10]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_10.columns = ['Вам важно, какого размера будет логотип на мерче?', '%']
df_f_30_39_MSC_SPT_10

  Вам важно, какого размера будет логотип на мерче?     %
0    Да, нравится, когда логотип маленького размера  66.7
1             Не люблю, когда на мерче есть логотип  20.0
2    Нет, мне неважно, какого размера будет логотип   6.7
3               Да, нравится, когда логотип крупный   6.7

In [31]:
print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_10['%'], 0.71))

Доверительный интервал: (6.7710365520018065, 25.025000000000002, 43.278963447998194)

In [32]:
df_f_30_39_MSC_SPT_11 = round(df_f_30_39_MSC_SPT.iloc[:,[11]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[11]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_11.columns = ['Какой мерч вам интереснее всего?', '%']
df_f_30_39_MSC_SPT_11

              Какой мерч вам интереснее всего?     %
0  Канцтовары (блокноты, ручки, стикеры и др.)  40.0
1           Посуда (кружки, термокружки и др.)  20.0
2                Одежда (футболки, худи и др.)  20.0
3             Аксессуары (шоперы, шарфы и др.)  20.0

In [33]:
print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_11['%'], 0.60))

Доверительный интервал: (20.1076384408585, 25.0, 29.8923615591415)

In [34]:
df_f_30_39_MSC_SPT_12 = round(df_f_30_39_MSC_SPT.iloc[:,[12]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[12]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_12.columns = ['Вам был бы интересен мерч без логотипа, который отражал бы философию конкретного бренда? Пример - футболки с надписью "Иноагент", выпущенные "Медузой" совместно с другими брендами', '%']
df_f_30_39_MSC_SPT_12

,"Вам был бы интересен мерч без логотипа, который отражал бы философию конкретного бренда? Пример - футболки с надписью ""Иноагент"", выпущенные ""Медузой"" совместно с другими брендами",%
0,Да,100.0

In [35]:
#print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_12['%'], 1.0))

In [36]:
df_f_30_39_MSC_SPT_13 = round(df_f_30_39_MSC_SPT.iloc[:,[13]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[13]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_13.columns = ['Вам нравятся цитаты в виде принта на мерче?', '%']
df_f_30_39_MSC_SPT_13

  Вам нравятся цитаты в виде принта на мерче?     %
0                                          Да  80.0
1                                         Нет  20.0

In [37]:
print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_13['%'], 0.50))

Доверительный интервал: (19.999999999598334, 50.0, 80.00000000040167)

In [38]:
df_f_30_39_MSC_SPT_14 = round(df_f_30_39_MSC_SPT.iloc[:,[14]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[14]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_14.columns = ['Как вы относитесь к юмористическим цитатам на мерче?', '%']
df_f_30_39_MSC_SPT_14

  Как вы относитесь к юмористическим цитатам на мерче?     %
0                                           Нравится    66.7
1                                        Не нравится    33.3

In [39]:
print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_14['%'], 0.499999))

Доверительный интервал: (33.300052464291305, 50.0, 66.6999475357087)

In [40]:
df_f_30_39_MSC_SPT_15 = round(df_f_30_39_MSC_SPT.iloc[:,[15]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[15]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_15.columns = ['Вы обычно покупаете мерч после важных мероприятий? Например, после концерта или интересной отраслевой конференции', '%']
df_f_30_39_MSC_SPT_15

,"Вы обычно покупаете мерч после важных мероприятий? Например, после концерта или интересной отраслевой конференции",%
0,Нет,40.0
1,Да,40.0
2,Я никогда не покупал мерч,20.0

In [41]:
print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_15['%'], 0.81))

Доверительный интервал: (20.310884199314774, 33.333333333333336, 46.3557824673519)

In [42]:
df_f_30_39_MSC_SPT_16 = round(df_f_30_39_MSC_SPT.iloc[:,[16]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[16]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_16.columns = ['Вам важно, чтобы вы сами могли придумать свой дизайн для мерча: выбрать уникальное сочетание цвета и принта?', '%']
df_f_30_39_MSC_SPT_16

,"Вам важно, чтобы вы сами могли придумать свой дизайн для мерча: выбрать уникальное сочетание цвета и принта?",%
0,"Нет, дизайнерам виднее",66.7
1,"Да, люблю эксперименты",33.3

In [43]:
print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_16['%'], 0.4999))

Доверительный интервал: (33.30524563556847, 50.0, 66.69475436443153)

In [44]:
df_f_30_39_MSC_SPT_17 = round(df_f_30_39_MSC_SPT.iloc[:,[17]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[17]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_17.columns = ['Мерч в качестве бонуса мотивировал бы вас лучше учиться?', '%']
df_f_30_39_MSC_SPT_17

  Мерч в качестве бонуса мотивировал бы вас лучше учиться?     %
0                                                 Да        66.7
1                                                Нет        33.3

In [45]:
print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_17['%'], 0.4999))

Доверительный интервал: (33.30524563556847, 50.0, 66.69475436443153)

In [46]:
df_f_30_39_MSC_SPT_18 = round(df_f_30_39_MSC_SPT.iloc[:,[18]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[18]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_18.columns = ['Вам важно, чтобы мерч был уникальным продуктом, который больше ни у кого не встретишь?', '%']
df_f_30_39_MSC_SPT_18

,"Вам важно, чтобы мерч был уникальным продуктом, который больше ни у кого не встретишь?",%
0,Да,66.7
1,Нет,33.3

In [47]:
print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_18['%'], 0.4999))

Доверительный интервал: (33.30524563556847, 50.0, 66.69475436443153)

In [48]:
df_f_30_39_MSC_SPT_19 = round(df_f_30_39_MSC_SPT.iloc[:,[19]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[19]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_19.columns = ['Вы готовы платить за лимитированный мерч? Лимитированная коллекция - та, которая выпускается один раз ограниченным тиражом', '%']
df_f_30_39_MSC_SPT_19

,"Вы готовы платить за лимитированный мерч? Лимитированная коллекция - та, которая выпускается один раз ограниченным тиражом",%
0,Нет,60.0
1,Да,40.0

In [49]:
print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_19['%'], 0.4999))

Доверительный интервал: (40.003141099142795, 50.0, 59.996858900857205)

In [50]:
df_f_30_39_MSC_SPT_20 = round(df_f_30_39_MSC_SPT.iloc[:,[20]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[20]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_20.columns = ['Обращаете ли вы внимание на экологичность товаров при покупке вещей?', '%']
df_f_30_39_MSC_SPT_20

  Обращаете ли вы внимание на экологичность товаров при покупке вещей?     %
0         Да, большая часть моих вещей - экологичные                    53.3
1  Нет, для меня это неважный критерий при выборе...                    46.7

In [51]:
print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_20['%'], 0.4999))

Доверительный интервал: (46.70103656271713, 50.0, 53.29896343728287)

In [52]:
df_f_30_39_MSC_SPT_21 = round(df_f_30_39_MSC_SPT.iloc[:,[21]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[21]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_21.columns = ['Вы с большей вероятностью купите мерч, если будете знать, что вырученные средства пойдут на благотворительность?', '%']
df_f_30_39_MSC_SPT_21

,"Вы с большей вероятностью купите мерч, если будете знать, что вырученные средства пойдут на благотворительность?",%
0,Да,53.3
1,Нет,46.7

In [53]:
print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_21['%'], 0.4999))

Доверительный интервал: (46.70103656271713, 50.0, 53.29896343728287)

In [54]:
df_f_30_39_MSC_SPT_22 = round(df_f_30_39_MSC_SPT.iloc[:,[22]].value_counts() / df_f_30_39_MSC_SPT.iloc[:,[22]].value_counts().sum() * 100, 1).reset_index()
df_f_30_39_MSC_SPT_22.columns = ['Вы бы купили мерч в подарок для благотворительного фонда/детского дома?', '%']
df_f_30_39_MSC_SPT_22

,Вы бы купили мерч в подарок для благотворительного фонда/детского дома?,%
0,Нет,53.3
1,Да,46.7

In [55]:
print('Доверительный интервал:', mean_confidence_interval(df_f_30_39_MSC_SPT_22['%'], 0.4999))

Доверительный интервал: (46.70103656271713, 50.0, 53.29896343728287)

# ---------------------------------------------

### Женщины в возрасте 23-29 лет

In [56]:
f_23_29 = f.loc[f['Укажите ваш возраст'] == '23-29 лет']
f_23_29.groupby('Укажите ваш город').count()[['Отметка времени']].sort_values('Отметка времени', ascending=False).head(10)

                   Отметка времени
Укажите ваш город
Москва                          10
Санкт-Петербург                  6
Екатеринбург                     2
Новосибирск                      2
Владимир                         1
Запорожье                        1
Казань                           1
Кемерово                         1
Краснотурьинск                   1
Ростов-на-Дону                   1

In [57]:
f_23_29_City = round(f_23_29.iloc[:,[3]].value_counts() / f_23_29.iloc[:,[3]].value_counts().sum() * 100, 1).reset_index()
f_23_29_City.columns = ['Укажите ваш город', 'Жен., %']
f_23_29_City.head(10)

  Укажите ваш город  Жен., %
0            Москва     34.5
1   Санкт-Петербург     20.7
2       Новосибирск      6.9
3      Екатеринбург      6.9
4         Хабаровск      3.4
5      Усть-Джегута      3.4
6              Тула      3.4
7    Ростов-на-Дону      3.4
8   Краснотурьинск       3.4
9          Кемерово      3.4

### Женщины в возрасте 23-29 лет, проживающие в Москве, СПб, Екатеринбурге и Новосибирске  
#### (20 человек)

In [58]:
df_f_23_29_Big_City = df.loc[(df['Укажите ваш возраст'] == '23-29 лет') & (df['Укажите ваш пол'] == 'Женский') & (df['Укажите ваш город'].isin(['Москва', 'Санкт-Петербург', 'Екатеринбург', 'Новосибирск']))]

In [59]:
df_f_23_29_Big_City_4 = round(df_f_23_29_Big_City.iloc[:,[4]].value_counts() / df_f_23_29_Big_City.iloc[:,[4]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_4.columns = ['Какая цветовая гамма интернет-магазина вам нравится?', '%']
df_f_23_29_Big_City_4

  Какая цветовая гамма интернет-магазина вам нравится?     %
0          Сдержанные оттенки (белый, черный, серый)    35.0
1                                            Неважно    35.0
2              Яркая (синий, красный, зеленый и тд.)    30.0

In [60]:
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_4['%'], 0.57))

Доверительный интервал: (31.698194815154054, 33.333333333333336, 34.96847185151262)

In [61]:
df_f_23_29_Big_City_5 = round(df_f_23_29_Big_City.iloc[:,[5]].value_counts() / df_f_23_29_Big_City.iloc[:,[5]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_5.columns = ['Сколько по времени вы готовы ждать свой заказ?', '%']
df_f_23_29_Big_City_5

  Сколько по времени вы готовы ждать свой заказ?     %
0                               4-7 рабочих дней  50.0
1                                1-3 рабочих дня  30.0
2                                        Неважно  20.0

In [62]:
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_5['%'], 0.73))

Доверительный интервал: (20.011601422032037, 33.333333333333336, 46.655065244634635)

In [63]:
df_f_23_29_Big_City_6 = round(df_f_23_29_Big_City.iloc[:,[6]].value_counts() / df_f_23_29_Big_City.iloc[:,[6]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_6.columns = ['Что из перечисленного могло бы мотивировать вас к покупке?', '%']
df_f_23_29_Big_City_6

  Что из перечисленного могло бы мотивировать вас к покупке?     %
0                                             Скидка          35.0
1                          Наличие промокода, Скидка          30.0
2                         Скидка, Система лояльности          10.0
3      Наличие промокода, Скидка, Система лояльности          10.0
4                                  Наличие промокода          10.0
5                           Ничего из перечисленного           5.0

In [64]:
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_6['%'], 0.92))

Доверительный интервал: (5.47108198079134, 16.666666666666668, 27.862251352541996)

In [65]:
df_f_23_29_Big_City_7 = round(df_f_23_29_Big_City.iloc[:,[7]].value_counts() / df_f_23_29_Big_City.iloc[:,[7]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_7.columns = ['Как долго вы готовы ждать ответа от менеджера  по вашему заказу?', '%']
df_f_23_29_Big_City_7

  Как долго вы готовы ждать ответа от менеджера  по вашему заказу?     %
0                                           1-3 часа                50.0
1                                    В течение суток                30.0
2                                     В течение часа                15.0
3                                            Неважно                 5.0

In [66]:
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_7['%'], 0.86))

Доверительный интервал: (5.469830917544233, 25.0, 44.53016908245577)

In [67]:
df_f_23_29_Big_City_8 = round(df_f_23_29_Big_City.iloc[:,[8]].value_counts() / df_f_23_29_Big_City.iloc[:,[8]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_8.columns = ['Какой способ обратной связи с менеджером вам наиболее удобен?', '%']
df_f_23_29_Big_City_8

  Какой способ обратной связи с менеджером вам наиболее удобен?     %
0            Получить ответ в мессенджере/в соцсетях             25.0
1  Получить ответ на телефон (звонок), Получить о...             15.0
2  На самом сайте (чат), Получить ответ на почту,...             15.0
3                 Получить ответ на телефон (звонок)             10.0
4  Получить ответ на почту, Получить ответ на тел...             10.0
5  Получить ответ на почту, Получить ответ на тел...             10.0
6  Получить ответ на почту, Получить ответ на тел...              5.0
7  Получить ответ на почту, Получить ответ на тел...              5.0
8  На самом сайте (чат), Получить ответ на телефо...              5.0

In [68]:
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_8['%'], 0.97))

Доверительный интервал: (5.397014476342947, 11.11111111111111, 16.825207745879275)

In [69]:
df_f_23_29_Big_City_9 = round(df_f_23_29_Big_City.iloc[:,[9]].value_counts() / df_f_23_29_Big_City.iloc[:,[9]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_9.columns = ['Вы когда-нибудь покупали мерч?', '%']
df_f_23_29_Big_City_9

  Вы когда-нибудь покупали мерч?     %
0                             Да  80.0
1               Нет, но планирую  15.0
2              Нет и не планирую   5.0

In [70]:
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_9['%'], 0.64))

Доверительный интервал: (5.638606539209743, 33.333333333333336, 61.028060127456925)

In [71]:
df_f_23_29_Big_City_10 = round(df_f_23_29_Big_City.iloc[:,[10]].value_counts() / df_f_23_29_Big_City.iloc[:,[10]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_10.columns = ['Вам важно, какого размера будет логотип на мерче?', '%']
df_f_23_29_Big_City_10

  Вам важно, какого размера будет логотип на мерче?     %
0    Нет, мне неважно, какого размера будет логотип  40.0
1    Да, нравится, когда логотип маленького размера  40.0
2             Не люблю, когда на мерче есть логотип  20.0

In [72]:
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_10['%'], 0.57))

Доверительный интервал: (26.79277926061621, 33.333333333333336, 39.873887406050464)

In [73]:
df_f_23_29_Big_City_11 = round(df_f_23_29_Big_City.iloc[:,[11]].value_counts() / df_f_23_29_Big_City.iloc[:,[11]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_11.columns = ['Какой мерч вам интереснее всего?', '%']
df_f_23_29_Big_City_11

              Какой мерч вам интереснее всего?     %
0                Одежда (футболки, худи и др.)  35.0
1             Аксессуары (шоперы, шарфы и др.)  30.0
2  Канцтовары (блокноты, ручки, стикеры и др.)  20.0
3           Посуда (кружки, термокружки и др.)   5.0
4              Канцтовары, аксессуары и посуда   5.0
5                        Всё вышеперечисленное   5.0

In [74]:
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_11['%'], 0.90))

Доверительный интервал: (5.427263833701183, 16.666666666666668, 27.906069499632153)

In [75]:
df_f_23_29_Big_City_12 = round(df_f_23_29_Big_City.iloc[:,[12]].value_counts() / df_f_23_29_Big_City.iloc[:,[12]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_12.columns = ['Вам был бы интересен мерч без логотипа, который отражал бы философию конкретного бренда? Пример - футболки с надписью "Иноагент", выпущенные "Медузой" совместно с другими брендами', '%']
df_f_23_29_Big_City_12

,"Вам был бы интересен мерч без логотипа, который отражал бы философию конкретного бренда? Пример - футболки с надписью ""Иноагент"", выпущенные ""Медузой"" совместно с другими брендами",%
0,Да,90.0
1,Нет,10.0

In [76]:
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_12['%'], 0.4999))

Доверительный интервал: (10.012564396571186, 50.0, 89.98743560342882)

In [77]:
df_f_23_29_Big_City_13 = round(df_f_23_29_Big_City.iloc[:,[13]].value_counts() / df_f_23_29_Big_City.iloc[:,[13]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_13.columns = ['Вам нравятся цитаты в виде принта на мерче?', '%']
df_f_23_29_Big_City_13

  Вам нравятся цитаты в виде принта на мерче?     %
0                                          Да  85.0
1                                         Нет  15.0

In [78]:
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_13['%'], 0.4999))

Доверительный интервал: (15.010993846999789, 50.0, 84.98900615300022)

In [79]:
df_f_23_29_Big_City_14 = round(df_f_23_29_Big_City.iloc[:,[14]].value_counts() / df_f_23_29_Big_City.iloc[:,[14]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_14.columns = ['Как вы относитесь к юмористическим цитатам на мерче?', '%']
df_f_23_29_Big_City_14

  Как вы относитесь к юмористическим цитатам на мерче?     %
0                                           Нравится    80.0
1                                        Не нравится    20.0

In [80]:
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_14['%'], 0.4999))

Доверительный интервал: (20.009423297428388, 50.0, 79.99057670257162)

In [81]:
df_f_23_29_Big_City_15 = round(df_f_23_29_Big_City.iloc[:,[15]].value_counts() / df_f_23_29_Big_City.iloc[:,[15]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_15.columns = ['Вы обычно покупаете мерч после важных мероприятий? Например, после концерта или интересной отраслевой конференции', '%']
df_f_23_29_Big_City_15

,"Вы обычно покупаете мерч после важных мероприятий? Например, после концерта или интересной отраслевой конференции",%
0,Да,65.0
1,Нет,25.0
2,Я никогда не покупал мерч,10.0

In [82]:
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_15['%'], 0.70))

Доверительный интервал: (10.579081174991465, 33.333333333333336, 56.087585491675206)

In [83]:
df_f_23_29_Big_City_16 = round(df_f_23_29_Big_City.iloc[:,[16]].value_counts() / df_f_23_29_Big_City.iloc[:,[16]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_16.columns = ['Вам важно, чтобы вы сами могли придумать свой дизайн для мерча: выбрать уникальное сочетание цвета и принта?', '%']
df_f_23_29_Big_City_16

,"Вам важно, чтобы вы сами могли придумать свой дизайн для мерча: выбрать уникальное сочетание цвета и принта?",%
0,"Нет, дизайнерам виднее",55.0
1,"Да, люблю эксперименты",45.0

In [84]:
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_16['%'], 0.4999))

Доверительный интервал: (45.0015705495714, 50.0, 54.9984294504286)

In [85]:
df_f_23_29_Big_City_17 = round(df_f_23_29_Big_City.iloc[:,[17]].value_counts() / df_f_23_29_Big_City.iloc[:,[17]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_17.columns = ['Мерч в качестве бонуса мотивировал бы вас лучше учиться?', '%']
df_f_23_29_Big_City_17

  Мерч в качестве бонуса мотивировал бы вас лучше учиться?     %
0                                                 Да        80.0
1                                                Нет        20.0

In [86]:
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_17['%'], 0.4999))

Доверительный интервал: (20.009423297428388, 50.0, 79.99057670257162)

In [87]:
df_f_23_29_Big_City_18 = round(df_f_23_29_Big_City.iloc[:,[18]].value_counts() / df_f_23_29_Big_City.iloc[:,[18]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_18.columns = ['Вам важно, чтобы мерч был уникальным продуктом, который больше ни у кого не встретишь?', '%']
df_f_23_29_Big_City_18

,"Вам важно, чтобы мерч был уникальным продуктом, который больше ни у кого не встретишь?",%
0,Да,65.0
1,Нет,35.0

In [88]:
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_18['%'], 0.4999))

Доверительный интервал: (35.00471164871419, 50.0, 64.99528835128581)

In [89]:
df_f_23_29_Big_City_19 = round(df_f_23_29_Big_City.iloc[:,[19]].value_counts() / df_f_23_29_Big_City.iloc[:,[19]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_19.columns = ['Вы готовы платить за лимитированный мерч? Лимитированная коллекция - та, которая выпускается один раз ограниченным тиражом', '%']
df_f_23_29_Big_City_19

,"Вы готовы платить за лимитированный мерч? Лимитированная коллекция - та, которая выпускается один раз ограниченным тиражом",%
0,Да,60.0
1,Нет,40.0

In [90]:
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_19['%'], 0.4999))

Доверительный интервал: (40.003141099142795, 50.0, 59.996858900857205)

In [91]:
df_f_23_29_Big_City_20 = round(df_f_23_29_Big_City.iloc[:,[20]].value_counts() / df_f_23_29_Big_City.iloc[:,[20]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_20.columns = ['Обращаете ли вы внимание на экологичность товаров при покупке вещей?', '%']
df_f_23_29_Big_City_20

  Обращаете ли вы внимание на экологичность товаров при покупке вещей?     %
0         Да, большая часть моих вещей - экологичные                    55.0
1  Нет, для меня это неважный критерий при выборе...                    45.0

In [92]:
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_20['%'], 0.4999))

Доверительный интервал: (45.0015705495714, 50.0, 54.9984294504286)

In [93]:
df_f_23_29_Big_City_21 = round(df_f_23_29_Big_City.iloc[:,[21]].value_counts() / df_f_23_29_Big_City.iloc[:,[21]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_21.columns = ['Вы с большей вероятностью купите мерч, если будете знать, что вырученные средства пойдут на благотворительность?', '%']
df_f_23_29_Big_City_21

,"Вы с большей вероятностью купите мерч, если будете знать, что вырученные средства пойдут на благотворительность?",%
0,Да,55.0
1,Нет,45.0

In [94]:
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_21['%'], 0.4999))

Доверительный интервал: (45.0015705495714, 50.0, 54.9984294504286)

In [95]:
df_f_23_29_Big_City_22 = round(df_f_23_29_Big_City.iloc[:,[22]].value_counts() / df_f_23_29_Big_City.iloc[:,[22]].value_counts().sum() * 100, 1).reset_index()
df_f_23_29_Big_City_22.columns = ['Вы бы купили мерч в подарок для благотворительного фонда/детского дома?', '%']
df_f_23_29_Big_City_22

,Вы бы купили мерч в подарок для благотворительного фонда/детского дома?,%
0,Нет,55.0
1,Да,45.0

In [96]:
print('Доверительный интервал:', mean_confidence_interval(df_f_23_29_Big_City_22['%'], 0.4999))

Доверительный интервал: (45.0015705495714, 50.0, 54.9984294504286)

# ---------------------------------------------

### Женщины в возрасте 40-49 лет

In [97]:
f_40_49 = f.loc[f['Укажите ваш возраст'] == '40-49 лет']
f_40_49.groupby('Укажите ваш город').count()[['Отметка времени']].sort_values('Отметка времени', ascending=False).head(10)

                   Отметка времени
Укажите ваш город
Москва                           6
Новосибирск                      3
Севастополь                      2
Ростов-на-Дону                   2
Березники                        1
Челябинск                        1
Хотьково                         1
Санкт-Петербург                  1
Петропавловск                    1
Новосибирск                      1

In [98]:
f_40_49_City = round(f_40_49.iloc[:,[3]].value_counts() / f_40_49.iloc[:,[3]].value_counts().sum() * 100, 1).reset_index()
f_40_49_City.columns = ['Укажите ваш город', 'Жен., %']
f_40_49_City.head(10)

  Укажите ваш город  Жен., %
0            Москва     21.4
1       Новосибирск     10.7
2       Севастополь      7.1
3    Ростов-на-Дону      7.1
4            Чехов       3.6
5             Муром      3.6
6            Братск      3.6
7          Владимир      3.6
8            Ижевск      3.6
9          Кемерово      3.6

### Женщины в возрасте 40-49 лет, проживающие в Москве, Новосибирске, Севастополе и Ростове-на-Дону  
#### (12 человек)

In [99]:
df_f_40_49_Four_City = df.loc[(df['Укажите ваш возраст'] == '23-29 лет') & (df['Укажите ваш пол'] == 'Женский') & (df['Укажите ваш город'].isin(['Москва', 'Севастополь', 'Ростове-на-Дону', 'Новосибирск']))]

In [100]:
df_f_40_49_Four_City_4 = round(df_f_40_49_Four_City.iloc[:,[4]].value_counts() / df_f_40_49_Four_City.iloc[:,[4]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_4.columns = ['Какая цветовая гамма интернет-магазина вам нравится?', '%']
df_f_40_49_Four_City_4

  Какая цветовая гамма интернет-магазина вам нравится?     %
0              Яркая (синий, красный, зеленый и тд.)    33.3
1          Сдержанные оттенки (белый, черный, серый)    33.3
2                                            Неважно    33.3

In [101]:
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_4['%'], 0.999))

Доверительный интервал: (33.3, 33.3, 33.3)

In [102]:
df_f_40_49_Four_City_5 = round(df_f_40_49_Four_City.iloc[:,[5]].value_counts() / df_f_40_49_Four_City.iloc[:,[5]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_5.columns = ['Сколько по времени вы готовы ждать свой заказ?', '%']
df_f_40_49_Four_City_5

  Сколько по времени вы готовы ждать свой заказ?     %
0                               4-7 рабочих дней  50.0
1                                1-3 рабочих дня  41.7
2                                        Неважно   8.3

In [103]:
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_5['%'], 0.67))

Доверительный интервал: (17.0674367418993, 33.333333333333336, 49.59922992476737)

In [104]:
df_f_40_49_Four_City_6 = round(df_f_40_49_Four_City.iloc[:,[6]].value_counts() / df_f_40_49_Four_City.iloc[:,[6]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_6.columns = ['Что из перечисленного могло бы мотивировать вас к покупке?', '%']
df_f_40_49_Four_City_6

  Что из перечисленного могло бы мотивировать вас к покупке?     %
0                                             Скидка          41.7
1      Наличие промокода, Скидка, Система лояльности          16.7
2                          Наличие промокода, Скидка          16.7
3                                  Наличие промокода          16.7
4                         Скидка, Система лояльности           8.3

In [105]:
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_6['%'], 0.89))

Доверительный интервал: (8.433439906757824, 20.020000000000003, 31.60656009324218)

In [106]:
df_f_40_49_Four_City_7 = round(df_f_40_49_Four_City.iloc[:,[7]].value_counts() / df_f_40_49_Four_City.iloc[:,[7]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_7.columns = ['Как долго вы готовы ждать ответа от менеджера  по вашему заказу?', '%']
df_f_40_49_Four_City_7

  Как долго вы готовы ждать ответа от менеджера  по вашему заказу?     %
0                                           1-3 часа                58.3
1                                    В течение суток                25.0
2                                     В течение часа                16.7

In [107]:
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_7['%'], 0.67))

Доверительный интервал: (17.109221521938807, 33.333333333333336, 49.557445144727865)

In [108]:
df_f_40_49_Four_City_8 = round(df_f_40_49_Four_City.iloc[:,[8]].value_counts() / df_f_40_49_Four_City.iloc[:,[8]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_8.columns = ['Какой способ обратной связи с менеджером вам наиболее удобен?', '%']
df_f_40_49_Four_City_8

  Какой способ обратной связи с менеджером вам наиболее удобен?     %
0            Получить ответ в мессенджере/в соцсетях             33.3
1  Получить ответ на телефон (звонок), Получить о...             16.7
2  Получить ответ на почту, Получить ответ на тел...             16.7
3  Получить ответ на почту, Получить ответ на тел...             16.7
4  На самом сайте (чат), Получить ответ на телефо...              8.3
5  На самом сайте (чат), Получить ответ на почту,...              8.3

In [109]:
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_8['%'], 0.92))

Доверительный интервал: (8.501382020077536, 16.666666666666668, 24.8319513132558)

In [110]:
df_f_40_49_Four_City_9 = round(df_f_40_49_Four_City.iloc[:,[9]].value_counts() / df_f_40_49_Four_City.iloc[:,[9]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_9.columns = ['Вы когда-нибудь покупали мерч?', '%']
df_f_40_49_Four_City_9

  Вы когда-нибудь покупали мерч?     %
0                             Да  91.7
1               Нет, но планирую   8.3

In [111]:
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_9['%'], 0.4999))

Доверительный интервал: (8.313098383425455, 50.0, 91.68690161657454)

In [112]:
df_f_40_49_Four_City_10 = round(df_f_40_49_Four_City.iloc[:,[10]].value_counts() / df_f_40_49_Four_City.iloc[:,[10]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_10.columns = ['Вам важно, какого размера будет логотип на мерче?', '%']
df_f_40_49_Four_City_10

  Вам важно, какого размера будет логотип на мерче?     %
0    Нет, мне неважно, какого размера будет логотип  50.0
1             Не люблю, когда на мерче есть логотип  25.0
2    Да, нравится, когда логотип маленького размера  25.0

In [113]:
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_10['%'], 0.57))

Доверительный интервал: (25.15764074243693, 33.333333333333336, 41.509025924229746)

In [114]:
df_f_40_49_Four_City_11 = round(df_f_40_49_Four_City.iloc[:,[11]].value_counts() / df_f_40_49_Four_City.iloc[:,[11]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_11.columns = ['Какой мерч вам интереснее всего?', '%']
df_f_40_49_Four_City_11

              Какой мерч вам интереснее всего?     %
0                Одежда (футболки, худи и др.)  33.3
1             Аксессуары (шоперы, шарфы и др.)  33.3
2  Канцтовары (блокноты, ручки, стикеры и др.)  25.0
3           Посуда (кружки, термокружки и др.)   8.3

In [115]:
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_11['%'], 0.74))

Доверительный интервал: (16.81217413734071, 24.974999999999998, 33.137825862659284)

In [116]:
df_f_40_49_Four_City_12 = round(df_f_40_49_Four_City.iloc[:,[12]].value_counts() / df_f_40_49_Four_City.iloc[:,[12]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_12.columns = ['Вам был бы интересен мерч без логотипа, который отражал бы философию конкретного бренда? Пример - футболки с надписью "Иноагент", выпущенные "Медузой" совместно с другими брендами', '%']
df_f_40_49_Four_City_12

,"Вам был бы интересен мерч без логотипа, который отражал бы философию конкретного бренда? Пример - футболки с надписью ""Иноагент"", выпущенные ""Медузой"" совместно с другими брендами",%
0,Да,83.3
1,Нет,16.7

In [117]:
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_12['%'], 0.4999))

Доверительный интервал: (16.710459860145512, 50.0, 83.2895401398545)

In [118]:
df_f_40_49_Four_City_13 = round(df_f_40_49_Four_City.iloc[:,[13]].value_counts() / df_f_40_49_Four_City.iloc[:,[13]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_13.columns = ['Вам нравятся цитаты в виде принта на мерче?', '%']
df_f_40_49_Four_City_13

  Вам нравятся цитаты в виде принта на мерче?     %
0                                          Да  83.3
1                                         Нет  16.7

In [119]:
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_13['%'], 0.4999))

Доверительный интервал: (16.710459860145512, 50.0, 83.2895401398545)

In [120]:
df_f_40_49_Four_City_14 = round(df_f_40_49_Four_City.iloc[:,[14]].value_counts() / df_f_40_49_Four_City.iloc[:,[14]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_14.columns = ['Как вы относитесь к юмористическим цитатам на мерче?', '%']
df_f_40_49_Four_City_14

  Как вы относитесь к юмористическим цитатам на мерче?     %
0                                           Нравится    83.3
1                                        Не нравится    16.7

In [121]:
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_14['%'], 0.4999))

Доверительный интервал: (16.710459860145512, 50.0, 83.2895401398545)

In [122]:
df_f_40_49_Four_City_15 = round(df_f_40_49_Four_City.iloc[:,[15]].value_counts() / df_f_40_49_Four_City.iloc[:,[15]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_15.columns = ['Вы обычно покупаете мерч после важных мероприятий? Например, после концерта или интересной отраслевой конференции', '%']
df_f_40_49_Four_City_15

,"Вы обычно покупаете мерч после важных мероприятий? Например, после концерта или интересной отраслевой конференции",%
0,Да,75.0
1,Нет,16.7
2,Я никогда не покупал мерч,8.3

In [123]:
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_15['%'], 0.64))

Доверительный интервал: (8.6273230586722, 33.333333333333336, 58.03934360799447)

In [124]:
df_f_40_49_Four_City_16 = round(df_f_40_49_Four_City.iloc[:,[16]].value_counts() / df_f_40_49_Four_City.iloc[:,[16]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_16.columns = ['Вам важно, чтобы вы сами могли придумать свой дизайн для мерча: выбрать уникальное сочетание цвета и принта?', '%']
df_f_40_49_Four_City_16

,"Вам важно, чтобы вы сами могли придумать свой дизайн для мерча: выбрать уникальное сочетание цвета и принта?",%
0,"Нет, дизайнерам виднее",83.3
1,"Да, люблю эксперименты",16.7

In [125]:
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_16['%'], 0.4999))

Доверительный интервал: (16.710459860145512, 50.0, 83.2895401398545)

In [126]:
df_f_40_49_Four_City_17 = round(df_f_40_49_Four_City.iloc[:,[17]].value_counts() / df_f_40_49_Four_City.iloc[:,[17]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_17.columns = ['Мерч в качестве бонуса мотивировал бы вас лучше учиться?', '%']
df_f_40_49_Four_City_17

  Мерч в качестве бонуса мотивировал бы вас лучше учиться?     %
0                                                 Да        75.0
1                                                Нет        25.0

In [127]:
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_17['%'], 0.4999))

Доверительный интервал: (25.00785274785699, 50.0, 74.99214725214301)

In [128]:
df_f_40_49_Four_City_18 = round(df_f_40_49_Four_City.iloc[:,[18]].value_counts() / df_f_40_49_Four_City.iloc[:,[18]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_18.columns = ['Вам важно, чтобы мерч был уникальным продуктом, который больше ни у кого не встретишь?', '%']
df_f_40_49_Four_City_18

,"Вам важно, чтобы мерч был уникальным продуктом, который больше ни у кого не встретишь?",%
0,Да,66.7
1,Нет,33.3

In [129]:
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_18['%'], 0.4999))

Доверительный интервал: (33.30524563556847, 50.0, 66.69475436443153)

In [130]:
df_f_40_49_Four_City_19 = round(df_f_40_49_Four_City.iloc[:,[19]].value_counts() / df_f_40_49_Four_City.iloc[:,[19]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_19.columns = ['Вы готовы платить за лимитированный мерч? Лимитированная коллекция - та, которая выпускается один раз ограниченным тиражом', '%']
df_f_40_49_Four_City_19

,"Вы готовы платить за лимитированный мерч? Лимитированная коллекция - та, которая выпускается один раз ограниченным тиражом",%
0,Да,66.7
1,Нет,33.3

In [131]:
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_19['%'], 0.4999))

Доверительный интервал: (33.30524563556847, 50.0, 66.69475436443153)

In [132]:
df_f_40_49_Four_City_20 = round(df_f_40_49_Four_City.iloc[:,[20]].value_counts() / df_f_40_49_Four_City.iloc[:,[20]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_20.columns = ['Обращаете ли вы внимание на экологичность товаров при покупке вещей?', '%']
df_f_40_49_Four_City_20

  Обращаете ли вы внимание на экологичность товаров при покупке вещей?     %
0  Нет, для меня это неважный критерий при выборе...                    50.0
1         Да, большая часть моих вещей - экологичные                    50.0

In [133]:
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_20['%'], 0.999))

Доверительный интервал: (50.0, 50.0, 50.0)

In [134]:
df_f_40_49_Four_City_21 = round(df_f_40_49_Four_City.iloc[:,[21]].value_counts() / df_f_40_49_Four_City.iloc[:,[21]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_21.columns = ['Вы с большей вероятностью купите мерч, если будете знать, что вырученные средства пойдут на благотворительность?', '%']
df_f_40_49_Four_City_21

,"Вы с большей вероятностью купите мерч, если будете знать, что вырученные средства пойдут на благотворительность?",%
0,Нет,50.0
1,Да,50.0

In [135]:
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_21['%'], 0.999))

Доверительный интервал: (50.0, 50.0, 50.0)

In [136]:
df_f_40_49_Four_City_22 = round(df_f_40_49_Four_City.iloc[:,[22]].value_counts() / df_f_40_49_Four_City.iloc[:,[22]].value_counts().sum() * 100, 1).reset_index()
df_f_40_49_Four_City_22.columns = ['Вы бы купили мерч в подарок для благотворительного фонда/детского дома?', '%']
df_f_40_49_Four_City_22

,Вы бы купили мерч в подарок для благотворительного фонда/детского дома?,%
0,Нет,50.0
1,Да,50.0

In [137]:
print('Доверительный интервал:', mean_confidence_interval(df_f_40_49_Four_City_22['%'], 0.999))

Доверительный интервал: (50.0, 50.0, 50.0)

# -------------------------------------------------

## Все мужчины (42 человека)

In [138]:
m = df.loc[df['Укажите ваш пол'] == 'Мужской']

### Все мужчины по возрастным категориям

In [139]:
m.groupby('Укажите ваш возраст').count()[['Отметка времени']].sort_values('Отметка времени', ascending=False)

                     Отметка времени
Укажите ваш возраст
30-39 лет                         14
40-49 лет                         11
23-29 лет                          6
18-22 лет                          4
больше 50 лет                      4
до 18 лет                          3

In [140]:
m_age = round(m.iloc[:,[1]].value_counts() / m.iloc[:,[1]].value_counts().sum() * 100, 1).reset_index()
m_age.columns = ['Укажите ваш возраст', 'Муж., %']
m_age

  Укажите ваш возраст  Муж., %
0           30-39 лет     33.3
1           40-49 лет     26.2
2           23-29 лет     14.3
3       больше 50 лет      9.5
4           18-22 лет      9.5
5           до 18 лет      7.1

### Все мужчины по городам проживания

In [141]:
m.groupby('Укажите ваш город').count()[['Отметка времени']].sort_values('Отметка времени', ascending=False).head(10)

                   Отметка времени
Укажите ваш город
Москва                           9
Самара                           4
Санкт-Петербург                  3
Чехов                            3
Минск                            2
Симферополь                      2
Екатеринбург                     1
Ростов-на-Дону                   1
Черемхово                        1
Ульяновск                        1

In [142]:
m_city = round(m.iloc[:,[3]].value_counts() / m.iloc[:,[3]].value_counts().sum() * 100, 1).reset_index()
m_city.columns = ['Укажите ваш город', 'Муж., %']
m_city.head(10)

  Укажите ваш город  Муж., %
0            Москва     21.4
1            Самара      9.5
2   Санкт-Петербург      7.1
3             Чехов      7.1
4       Симферополь      4.8
5             Минск      4.8
6         Тольятти       2.4
7         Краснодар      2.4
8       Владивосток      2.4
9          Владимир      2.4

In [143]:
df_m_4 = round(m.iloc[:,[4]].value_counts() / m.iloc[:,[4]].value_counts().sum() * 100, 1).reset_index()
df_m_4.columns = ['Какая цветовая гамма интернет-магазина вам нравится?', '%']
df_m_4

  Какая цветовая гамма интернет-магазина вам нравится?     %
0          Сдержанные оттенки (белый, черный, серый)    59.5
1              Яркая (синий, красный, зеленый и тд.)    31.0
2                                            Неважно     9.5

In [144]:
print('Доверительный интервал:', mean_confidence_interval(df_m_4['%'], 0.75))

Доверительный интервал: (10.112345289878103, 33.333333333333336, 56.554321376788565)

In [145]:
df_m_5 = round(m.iloc[:,[5]].value_counts() / m.iloc[:,[5]].value_counts().sum() * 100, 1).reset_index()
df_m_5.columns = ['Сколько по времени вы готовы ждать свой заказ?', '%']
df_m_5

  Сколько по времени вы готовы ждать свой заказ?     %
0                               4-7 рабочих дней  38.1
1                                1-3 рабочих дня  38.1
2                           более 7 рабочих дней  14.3
3                                        Неважно   9.5

In [146]:
print('Доверительный интервал:', mean_confidence_interval(df_m_5['%'], 0.81))

Доверительный интервал: (12.126682971851354, 25.0, 37.87331702814865)

In [147]:
df_m_6 = round(m.iloc[:,[6]].value_counts() / m.iloc[:,[6]].value_counts().sum() * 100, 1).reset_index()
df_m_6.columns = ['Что из перечисленного могло бы мотивировать вас к покупке?', '%']
df_m_6

  Что из перечисленного могло бы мотивировать вас к покупке?     %
0      Наличие промокода, Скидка, Система лояльности          23.8
1                          Наличие промокода, Скидка          21.4
2                         Скидка, Система лояльности          14.3
3                                 Система лояльности          14.3
4                                             Скидка           9.5
5              Наличие промокода, Система лояльности           7.1
6                                  Наличие промокода           4.8
7                   Скидка, Ничего из перечисленного           2.4
8                           Ничего из перечисленного           2.4

In [148]:
print('Доверительный интервал:', mean_confidence_interval(df_m_6['%'], 0.98))

Доверительный интервал: (3.4974613237364256, 11.11111111111111, 18.724760898485798)

In [149]:
df_m_7 = round(m.iloc[:,[7]].value_counts() / m.iloc[:,[7]].value_counts().sum() * 100, 1).reset_index()
df_m_7.columns = ['Как долго вы готовы ждать ответа от менеджера  по вашему заказу?', '%']
df_m_7

  Как долго вы готовы ждать ответа от менеджера  по вашему заказу?     %
0                                     В течение часа                52.4
1                                    В течение суток                23.8
2                                           1-3 часа                16.7
3                                            Неважно                 7.1

In [150]:
print('Доверительный интервал:', mean_confidence_interval(df_m_7['%'], 0.83))

Доверительный интервал: (7.462584384525293, 25.0, 42.53741561547471)

In [151]:
df_m_8 = round(m.iloc[:,[8]].value_counts() / m.iloc[:,[8]].value_counts().sum() * 100, 1).reset_index()
df_m_8.columns = ['Какой способ обратной связи с менеджером вам наиболее удобен?', '%']
df_m_8

   Какой способ обратной связи с менеджером вам наиболее удобен?    %
0                                На самом сайте (чат)             9.5
1   На самом сайте (чат), Получить ответ на почту,...             9.5
2   Получить ответ на почту, Получить ответ на тел...             9.5
3   Получить ответ на почту, Получить ответ в месс...             9.5
4   На самом сайте (чат), Получить ответ на почту,...             7.1
5   На самом сайте (чат), Получить ответ на телефо...             4.8
6                  Получить ответ на телефон (звонок)             4.8
7   Получить ответ на почту, Получить ответ на тел...             4.8
8   Получить ответ на почту, Получить ответ на тел...             4.8
9   Получить ответ на почту, Получить ответ на тел...             4.8
10            Получить ответ в мессенджере/в соцсетях             4.8
11      На самом сайте (чат), Получить ответ на почту             2.4
12  На самом сайте (чат), Получить ответ на почту,...             2.4
13  На самом сайте (чат), Получить ответ на почту,...             2.4
14  Получить ответ на телефон (смс), Получить отве...             2.4
15  На самом сайте (чат), Получить ответ на телефо...             2.4
16  На самом сайте (чат), Получить ответ на телефо...             2.4
17  Получить ответ на телефон (звонок), Получить о...             2.4
18  Получить ответ на почту, Получить ответ на тел...             2.4
19  Получить ответ на почту, Получить ответ на тел...             2.4
20  Получить ответ на телефон (звонок), Получить о...             2.4
21                            Получить ответ на почту             2.4

In [152]:
print('Доверительный интервал:', mean_confidence_interval(df_m_8['%'], 0.99))

Доверительный интервал: (2.9152317144887707, 4.559090909090911, 6.202950103693052)

In [153]:
df_m_9 = round(m.iloc[:,[9]].value_counts() / m.iloc[:,[9]].value_counts().sum() * 100, 1).reset_index()
df_m_9.columns = ['Вы когда-нибудь покупали мерч?', '%']
df_m_9

  Вы когда-нибудь покупали мерч?     %
0               Нет, но планирую  50.0
1                             Да  38.1
2              Нет и не планирую  11.9

In [154]:
print('Доверительный интервал:', mean_confidence_interval(df_m_9['%'], 0.72))

Доверительный интервал: (16.82120550411319, 33.333333333333336, 49.84546116255348)

In [155]:
df_m_10 = round(m.iloc[:,[10]].value_counts() / m.iloc[:,[10]].value_counts().sum() * 100, 1).reset_index()
df_m_10.columns = ['Вам важно, какого размера будет логотип на мерче?', '%']
df_m_10

  Вам важно, какого размера будет логотип на мерче?     %
0    Да, нравится, когда логотип маленького размера  42.9
1               Да, нравится, когда логотип крупный  28.6
2    Нет, мне неважно, какого размера будет логотип  21.4
3             Не люблю, когда на мерче есть логотип   7.1

In [156]:
print('Доверительный интервал:', mean_confidence_interval(df_m_10['%'], 0.90))

Доверительный интервал: (7.45809988848535, 25.0, 42.54190011151465)

In [157]:
df_m_11 = round(m.iloc[:,[11]].value_counts() / m.iloc[:,[11]].value_counts().sum() * 100, 1).reset_index()
df_m_11.columns = ['Какой мерч вам интереснее всего?', '%']
df_m_11

              Какой мерч вам интереснее всего?     %
0                Одежда (футболки, худи и др.)  52.4
1  Канцтовары (блокноты, ручки, стикеры и др.)  31.0
2           Посуда (кружки, термокружки и др.)  11.9
3                                  значки-пины   2.4
4             Аксессуары (шоперы, шарфы и др.)   2.4

In [158]:
print('Доверительный интервал:', mean_confidence_interval(df_m_11['%'], 0.85))

Доверительный интервал: (2.8907015637618656, 20.020000000000003, 37.14929843623814)

In [159]:
df_m_12 = round(m.iloc[:,[12]].value_counts() / m.iloc[:,[12]].value_counts().sum() * 100, 1).reset_index()
df_m_12.columns = ['Вам был бы интересен мерч без логотипа, который отражал бы философию конкретного бренда? Пример - футболки с надписью "Иноагент", выпущенные "Медузой" совместно с другими брендами', '%']
df_m_12

,"Вам был бы интересен мерч без логотипа, который отражал бы философию конкретного бренда? Пример - футболки с надписью ""Иноагент"", выпущенные ""Медузой"" совместно с другими брендами",%
0,Да,69.0
1,Нет,31.0

In [160]:
print('Доверительный интервал:', mean_confidence_interval(df_m_12['%'], 0.49))

Доверительный интервал: (31.587719073060164, 50.0, 68.41228092693984)

In [161]:
df_m_13 = round(m.iloc[:,[13]].value_counts() / m.iloc[:,[13]].value_counts().sum() * 100, 1).reset_index()
df_m_13.columns = ['Вам нравятся цитаты в виде принта на мерче?', '%']
df_m_13

  Вам нравятся цитаты в виде принта на мерче?     %
0                                          Да  71.4
1                                         Нет  28.6

In [162]:
print('Доверительный интервал:', mean_confidence_interval(df_m_13['%'], 0.4999))

Доверительный интервал: (28.606721952165582, 50.0, 71.39327804783441)

In [163]:
df_m_14 = round(m.iloc[:,[14]].value_counts() / m.iloc[:,[14]].value_counts().sum() * 100, 1).reset_index()
df_m_14.columns = ['Как вы относитесь к юмористическим цитатам на мерче?', '%']
df_m_14

  Как вы относитесь к юмористическим цитатам на мерче?     %
0                                           Нравится    73.8
1                                        Не нравится    26.2

In [164]:
print('Доверительный интервал:', mean_confidence_interval(df_m_14['%'], 0.4999))

Доверительный интервал: (26.207475815959857, 50.0, 73.79252418404015)

In [165]:
df_m_15 = round(m.iloc[:,[15]].value_counts() / m.iloc[:,[15]].value_counts().sum() * 100, 1).reset_index()
df_m_15.columns = ['Вы обычно покупаете мерч после важных мероприятий? Например, после концерта или интересной отраслевой конференции', '%']
df_m_15

,"Вы обычно покупаете мерч после важных мероприятий? Например, после концерта или интересной отраслевой конференции",%
0,Я никогда не покупал мерч,42.9
1,Нет,33.3
2,Да,23.8

In [166]:
print('Доверительный интервал:', mean_confidence_interval(df_m_15['%'], 0.77))

Доверительный интервал: (23.923110661767055, 33.33333333333333, 42.7435560048996)

In [167]:
df_m_16 = round(m.iloc[:,[16]].value_counts() / m.iloc[:,[16]].value_counts().sum() * 100, 1).reset_index()
df_m_16.columns = ['Вам важно, чтобы вы сами могли придумать свой дизайн для мерча: выбрать уникальное сочетание цвета и принта?', '%']
df_m_16

,"Вам важно, чтобы вы сами могли придумать свой дизайн для мерча: выбрать уникальное сочетание цвета и принта?",%
0,"Нет, дизайнерам виднее",52.4
1,"Да, люблю эксперименты",47.6

In [168]:
print('Доверительный интервал:', mean_confidence_interval(df_m_16['%'], 0.4999))

Доверительный интервал: (47.600753863794274, 50.0, 52.399246136205726)

In [169]:
df_m_17 = round(m.iloc[:,[17]].value_counts() / m.iloc[:,[17]].value_counts().sum() * 100, 1).reset_index()
df_m_17.columns = ['Мерч в качестве бонуса мотивировал бы вас лучше учиться?', '%']
df_m_17

  Мерч в качестве бонуса мотивировал бы вас лучше учиться?     %
0                                                 Да        71.4
1                                                Нет        28.6

In [170]:
print('Доверительный интервал:', mean_confidence_interval(df_m_17['%'], 0.4999))

Доверительный интервал: (28.606721952165582, 50.0, 71.39327804783441)

In [171]:
df_m_18 = round(m.iloc[:,[18]].value_counts() / m.iloc[:,[18]].value_counts().sum() * 100, 1).reset_index()
df_m_18.columns = ['Вам важно, чтобы мерч был уникальным продуктом, который больше ни у кого не встретишь?', '%']
df_m_18

,"Вам важно, чтобы мерч был уникальным продуктом, который больше ни у кого не встретишь?",%
0,Да,78.6
1,Нет,21.4

In [172]:
print('Доверительный интервал:', mean_confidence_interval(df_m_18['%'], 0.4999))

Доверительный интервал: (21.4089835435484, 50.0, 78.5910164564516)

In [173]:
df_m_19 = round(m.iloc[:,[19]].value_counts() / m.iloc[:,[19]].value_counts().sum() * 100, 1).reset_index()
df_m_19.columns = ['Вы готовы платить за лимитированный мерч? Лимитированная коллекция - та, которая выпускается один раз ограниченным тиражом', '%']
df_m_19

,"Вы готовы платить за лимитированный мерч? Лимитированная коллекция - та, которая выпускается один раз ограниченным тиражом",%
0,Да,66.7
1,Нет,33.3

In [174]:
print('Доверительный интервал:', mean_confidence_interval(df_m_19['%'], 0.4999))

Доверительный интервал: (33.30524563556847, 50.0, 66.69475436443153)

In [175]:
df_m_20 = round(m.iloc[:,[20]].value_counts() / m.iloc[:,[20]].value_counts().sum() * 100, 1).reset_index()
df_m_20.columns = ['Обращаете ли вы внимание на экологичность товаров при покупке вещей?', '%']
df_m_20

  Обращаете ли вы внимание на экологичность товаров при покупке вещей?     %
0  Нет, для меня это неважный критерий при выборе...                    59.5
1         Да, большая часть моих вещей - экологичные                    40.5

In [176]:
print('Доверительный интервал:', mean_confidence_interval(df_m_20['%'], 0.4999))

Доверительный интервал: (40.50298404418565, 50.0, 59.49701595581435)

In [177]:
df_m_21 = round(m.iloc[:,[21]].value_counts() / m.iloc[:,[21]].value_counts().sum() * 100, 1).reset_index()
df_m_21.columns = ['Вы с большей вероятностью купите мерч, если будете знать, что вырученные средства пойдут на благотворительность?', '%']
df_m_21

,"Вы с большей вероятностью купите мерч, если будете знать, что вырученные средства пойдут на благотворительность?",%
0,Да,66.7
1,Нет,33.3

In [178]:
print('Доверительный интервал:', mean_confidence_interval(df_m_21['%'], 0.4999))

Доверительный интервал: (33.30524563556847, 50.0, 66.69475436443153)

In [179]:
df_m_22 = round(m.iloc[:,[22]].value_counts() / m.iloc[:,[22]].value_counts().sum() * 100, 1).reset_index()
df_m_22.columns = ['Вы бы купили мерч в подарок для благотворительного фонда/детского дома?', '%']
df_m_22

,Вы бы купили мерч в подарок для благотворительного фонда/детского дома?,%
0,Да,69.0
1,Нет,31.0

In [180]:
print('Доверительный интервал:', mean_confidence_interval(df_m_22['%'], 0.4999))

Доверительный интервал: (31.00596808837131, 50.0, 68.9940319116287)

# --------------------------------------------

### % опрошенных пользователей, которые так ответили:

In [181]:
df_f = df.loc[df['Укажите ваш пол'] == 'Женский']
df_m = df.loc[df['Укажите ваш пол'] == 'Мужской']

In [182]:
df1_f = round(df_f.iloc[:,[1]].value_counts() / df_f.iloc[:,[1]].value_counts().sum() * 100, 1).reset_index()
df1_f.columns = ['Укажите ваш возраст', 'Жен., %']
df1_f

  Укажите ваш возраст  Жен., %
0           30-39 лет     39.7
1           23-29 лет     23.0
2           40-49 лет     22.2
3       больше 50 лет      7.9
4           18-22 лет      4.8
5           до 18 лет      2.4

In [183]:
df1_m = round(df_m.iloc[:,[1]].value_counts() / df_m.iloc[:,[1]].value_counts().sum() * 100, 1).reset_index()
df1_m.columns = ['Укажите ваш возраст', 'Муж., %']
df1_m

  Укажите ваш возраст  Муж., %
0           30-39 лет     33.3
1           40-49 лет     26.2
2           23-29 лет     14.3
3       больше 50 лет      9.5
4           18-22 лет      9.5
5           до 18 лет      7.1

In [184]:
df2 = round(df.iloc[:,[2]].value_counts() / df.iloc[:,[2]].value_counts().sum() * 100, 1).reset_index()
df2.columns = ['Укажите ваш пол', '%']
df2

  Укажите ваш пол     %
0         Женский  75.0
1         Мужской  25.0

In [185]:
df3_f = round(df_f.iloc[:,[3]].value_counts() / df_f.iloc[:,[3]].value_counts().sum() * 100, 1).reset_index()
df3_f.columns = ['Укажите ваш город', 'Жен., %']
df3_f.head(10)

  Укажите ваш город  Жен., %
0            Москва     25.4
1   Санкт-Петербург     10.3
2       Новосибирск      4.8
3      Екатеринбург      3.2
4    Ростов-на-Дону      3.2
5           Алмере       2.4
6         Краснодар      2.4
7         Челябинск      2.4
8   Нижний Новгород      2.4
9             Пенза      1.6

In [186]:
df3_m = round(df_m.iloc[:,[3]].value_counts() / df_m.iloc[:,[3]].value_counts().sum() * 100, 1).reset_index()
df3_m.columns = ['Укажите ваш город', 'Муж., %']
df3_m.head(15)

   Укажите ваш город  Муж., %
0             Москва     21.4
1             Самара      9.5
2    Санкт-Петербург      7.1
3              Чехов      7.1
4        Симферополь      4.8
5              Минск      4.8
6          Тольятти       2.4
7          Краснодар      2.4
8        Владивосток      2.4
9           Владимир      2.4
10        Домодедово      2.4
11      Екатеринбург      2.4
12       Зеленокумск      2.4
13            Ижевск      2.4
14        Краматорск      2.4

In [187]:
df4_f = round(df_f.iloc[:,[4]].value_counts() / df_f.iloc[:,[4]].value_counts().sum() * 100, 1).reset_index()
df4_f.columns = ['Какая цветовая гамма интернет-магазина вам нравится?', 'Жен., %']
df4_f

  Какая цветовая гамма интернет-магазина вам нравится?  Жен., %
0          Сдержанные оттенки (белый, черный, серый)       46.0
1              Яркая (синий, красный, зеленый и тд.)       31.0
2                                            Неважно       23.0

In [188]:
df4_m = round(df_m.iloc[:,[4]].value_counts() / df_m.iloc[:,[4]].value_counts().sum() * 100, 1).reset_index()
df4_m.columns = ['Какая цветовая гамма интернет-магазина вам нравится?', 'Муж., %']
df4_m

  Какая цветовая гамма интернет-магазина вам нравится?  Муж., %
0          Сдержанные оттенки (белый, черный, серый)       59.5
1              Яркая (синий, красный, зеленый и тд.)       31.0
2                                            Неважно        9.5

In [189]:
df5 = round(df.iloc[:,[5]].value_counts() / df.iloc[:,[5]].value_counts().sum() * 100, 1).reset_index()
df5.columns = ['Сколько по времени вы готовы ждать свой заказ?', '%']
df5

  Сколько по времени вы готовы ждать свой заказ?     %
0                               4-7 рабочих дней  41.7
1                                1-3 рабочих дня  39.9
2                                        Неважно  10.7
3                           более 7 рабочих дней   7.7

In [190]:
df6 = round(df.iloc[:,[6]].value_counts() / df.iloc[:,[6]].value_counts().sum() * 100, 1).reset_index()
df6.columns = ['Что из перечисленного могло бы мотивировать вас к покупке?', '%']
df6

  Что из перечисленного могло бы мотивировать вас к покупке?     %
0                                             Скидка          20.8
1                          Наличие промокода, Скидка          20.8
2      Наличие промокода, Скидка, Система лояльности          17.9
3                                  Наличие промокода          10.7
4                         Скидка, Система лояльности          10.1
5                                 Система лояльности           8.9
6                           Ничего из перечисленного           6.0
7              Наличие промокода, Система лояльности           4.2
8                   Скидка, Ничего из перечисленного           0.6

In [191]:
df7 = round(df.iloc[:,[7]].value_counts() / df.iloc[:,[7]].value_counts().sum() * 100, 1).reset_index()
df7.columns = ['Как долго вы готовы ждать ответа от менеджера по вашему заказу?', '%']
df7

  Как долго вы готовы ждать ответа от менеджера по вашему заказу?     %
0                                     В течение часа               40.5
1                                    В течение суток               31.0
2                                           1-3 часа               25.0
3                                            Неважно                3.6

In [192]:
df8 = round(df.iloc[:,[8]].value_counts() / df.iloc[:,[8]].value_counts().sum() * 100, 1).reset_index()
df8.columns = ['Какой способ обратной связи с менеджером вам наиболее удобен?', '%']
df8

   Какой способ обратной связи с менеджером вам наиболее удобен?     %
0             Получить ответ в мессенджере/в соцсетях             13.7
1                                На самом сайте (чат)             11.9
2   На самом сайте (чат), Получить ответ в мессенд...              9.5
3   На самом сайте (чат), Получить ответ на почту,...              7.1
4   Получить ответ на почту, Получить ответ в месс...              6.0
5   Получить ответ на телефон (звонок), Получить о...              4.8
6                  Получить ответ на телефон (звонок)              4.8
7   Получить ответ на почту, Получить ответ на тел...              4.8
8                             Получить ответ на почту              4.2
9                     Получить ответ на телефон (смс)              4.2
10      На самом сайте (чат), Получить ответ на почту              3.6
11  Получить ответ на почту, Получить ответ на тел...              3.6
12  Получить ответ на телефон (смс), Получить отве...              3.0
13  Получить ответ на почту, Получить ответ на тел...              3.0
14  Получить ответ на почту, Получить ответ на тел...              2.4
15  На самом сайте (чат), Получить ответ на почту,...              1.8
16  Получить ответ на почту, Получить ответ на тел...              1.2
17  На самом сайте (чат), Получить ответ на телефо...              1.2
18  На самом сайте (чат), Получить ответ на телефо...              1.2
19  На самом сайте (чат), Получить ответ на телефо...              1.2
20  На самом сайте (чат), Получить ответ на почту,...              1.2
21  Получить ответ на почту, Получить ответ на тел...              1.2
22  Получить ответ на телефон (звонок), Получить о...              1.2
23                                            Неважно              1.2
24  На самом сайте (чат), Получить ответ на телефо...              0.6
25  На самом сайте (чат), Получить ответ на почту,...              0.6
26  На самом сайте (чат), Получить ответ на почту,...              0.6
27  На самом сайте (чат), Получить ответ на почту,...              0.6

In [193]:
df9 = round(df.iloc[:,[9]].value_counts() / df.iloc[:,[9]].value_counts().sum() * 100, 1).reset_index()
df9.columns = ['Вы когда-нибудь покупали мерч?', '%']
df9

  Вы когда-нибудь покупали мерч?     %
0                             Да  53.0
1               Нет, но планирую  33.3
2              Нет и не планирую  13.7

In [194]:
df10 = round(df.iloc[:,[10]].value_counts() / df.iloc[:,[10]].value_counts().sum() * 100, 1).reset_index()
df10.columns = ['Вам важно, какого размера будет логотип на мерче?', '%']
df10

  Вам важно, какого размера будет логотип на мерче?     %
0    Да, нравится, когда логотип маленького размера  55.4
1    Нет, мне неважно, какого размера будет логотип  21.4
2             Не люблю, когда на мерче есть логотип  11.9
3               Да, нравится, когда логотип крупный  11.3

In [195]:
df11 = round(df.iloc[:,[11]].value_counts() / df.iloc[:,[11]].value_counts().sum() * 100, 1).reset_index()
df11.columns = ['Какой мерч вам интереснее всего?', '%']
df11

                     Какой мерч вам интереснее всего?     %
0                       Одежда (футболки, худи и др.)  36.3
1         Канцтовары (блокноты, ручки, стикеры и др.)  31.0
2                    Аксессуары (шоперы, шарфы и др.)  17.3
3                  Посуда (кружки, термокружки и др.)  10.1
4                             канцтовары и аксессуары   0.6
5                                         значки-пины   0.6
6                                                 все   0.6
7   Одежды сликом много у всех - я бы предпочла те...   0.6
8                     Канцтовары, аксессуары и посуда   0.6
9                Всё из перечисленного и можно больше   0.6
10                              Всё вышеперечисленное   0.6
11                         Все, что касается здоровьч   0.6
12                                 Все перечисленное    0.6

In [196]:
df12 = round(df.iloc[:,[12]].value_counts() / df.iloc[:,[12]].value_counts().sum() * 100, 1).reset_index()
df12.columns = ['Вам был бы интересен мерч без логотипа, который отражал бы философию конкретного бренда? Пример - футболки с надписью "Иноагент", выпущенные "Медузой" совместно с другими брендами', '%']
df12

,"Вам был бы интересен мерч без логотипа, который отражал бы философию конкретного бренда? Пример - футболки с надписью ""Иноагент"", выпущенные ""Медузой"" совместно с другими брендами",%
0,Да,76.2
1,Нет,23.8

In [197]:
df13 = round(df.iloc[:,[13]].value_counts() / df.iloc[:,[13]].value_counts().sum() * 100, 1).reset_index()
df13.columns = ['Вам нравятся цитаты в виде принта на мерче?', '%']
df13

  Вам нравятся цитаты в виде принта на мерче?     %
0                                          Да  78.6
1                                         Нет  21.4

In [198]:
df14 = round(df.iloc[:,[14]].value_counts() / df.iloc[:,[14]].value_counts().sum() * 100, 1).reset_index()
df14.columns = ['Как вы относитесь к юмористическим цитатам на мерче?', '%']
df14

  Как вы относитесь к юмористическим цитатам на мерче?     %
0                                           Нравится    75.0
1                                        Не нравится    25.0

In [199]:
df15 = round(df.iloc[:,[15]].value_counts() / df.iloc[:,[15]].value_counts().sum() * 100, 1).reset_index()
df15.columns = ['Вы обычно покупаете мерч после важных мероприятий? Например, после концерта или интересной отраслевой конференции', '%']
df15

,"Вы обычно покупаете мерч после важных мероприятий? Например, после концерта или интересной отраслевой конференции",%
0,Да,37.5
1,Нет,31.5
2,Я никогда не покупал мерч,31.0

In [200]:
df16 = round(df.iloc[:,[16]].value_counts() / df.iloc[:,[16]].value_counts().sum() * 100, 1).reset_index()
df16.columns = ['Вам важно, чтобы вы сами могли придумать свой дизайн для мерча: выбрать уникальное сочетание цвета и принта?', '%']
df16

,"Вам важно, чтобы вы сами могли придумать свой дизайн для мерча: выбрать уникальное сочетание цвета и принта?",%
0,"Нет, дизайнерам виднее",56.0
1,"Да, люблю эксперименты",44.0

In [201]:
df17 = round(df.iloc[:,[17]].value_counts() / df.iloc[:,[17]].value_counts().sum() * 100, 1).reset_index()
df17.columns = ['Мерч в качестве бонуса мотивировал бы вас лучше учиться?', '%']
df17

  Мерч в качестве бонуса мотивировал бы вас лучше учиться?     %
0                                                 Да        70.8
1                                                Нет        29.2

In [202]:
df18 = round(df.iloc[:,[18]].value_counts() / df.iloc[:,[18]].value_counts().sum() * 100, 1).reset_index()
df18.columns = ['Вам важно, чтобы мерч был уникальным продуктом, который больше ни у кого не встретишь?', '%']
df18

,"Вам важно, чтобы мерч был уникальным продуктом, который больше ни у кого не встретишь?",%
0,Да,67.9
1,Нет,32.1

In [203]:
df19 = round(df.iloc[:,[19]].value_counts() / df.iloc[:,[19]].value_counts().sum() * 100, 1).reset_index()
df19.columns = ['Вы готовы платить за лимитированный мерч? Лимитированная коллекция - та, которая выпускается один раз ограниченным тиражом', '%']
df19

,"Вы готовы платить за лимитированный мерч? Лимитированная коллекция - та, которая выпускается один раз ограниченным тиражом",%
0,Да,50.6
1,Нет,49.4

In [204]:
df20 = round(df.iloc[:,[20]].value_counts() / df.iloc[:,[20]].value_counts().sum() * 100, 1).reset_index()
df20.columns = ['Обращаете ли вы внимание на экологичность товаров при покупке вещей?', '%']
df20

  Обращаете ли вы внимание на экологичность товаров при покупке вещей?     %
0         Да, большая часть моих вещей - экологичные                    54.2
1  Нет, для меня это неважный критерий при выборе...                    45.8

In [205]:
df21 = round(df.iloc[:,[21]].value_counts() / df.iloc[:,[21]].value_counts().sum() * 100, 1).head().reset_index()
df21.columns = ['Вы с большей вероятностью купите мерч, если будете знать, что вырученные средства пойдут на благотворительность?', '%']
df21

,"Вы с большей вероятностью купите мерч, если будете знать, что вырученные средства пойдут на благотворительность?",%
0,Да,59.5
1,Нет,40.5

In [206]:
df22 = round(df.iloc[:,[22]].value_counts() / df.iloc[:,[22]].value_counts().sum() * 100, 1).head().reset_index()
df22.columns = ['Вы бы купили мерч в подарок для благотворительного фонда/детского дома?', '%']
df22

,Вы бы купили мерч в подарок для благотворительного фонда/детского дома?,%
0,Да,64.9
1,Нет,35.1

In [ ]:
def mean_confidence_interval_1(data, confidence=0.95):
    a = 1.0 * np.array(data)
    n = len(a)
    m, se = np.mean(a), stats.sem(data)
    h = se * stats.t.ppf((1 + confidence) / 2., n-1)
    return m-h, m, m+h