# Домашняя работа к лекции «Функции и работа с данными»

## Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [2]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

def clas(rating):
    if rating < 2.5:
        return 'low rating'
    elif rating > 4:
        return 'high rating'
    else:
        return 'middle rating'
    
ratings['clas'] = ratings['rating'].apply(clas)
clas_movies = ratings.merge(movies, on='movieId', how='left')
clas_movies[['movieId', 'rating', 'clas', 'title']]

        movieId  rating           clas                           title
0             1     4.0  middle rating                Toy Story (1995)
1             3     4.0  middle rating         Grumpier Old Men (1995)
2             6     4.0  middle rating                     Heat (1995)
3            47     5.0    high rating     Seven (a.k.a. Se7en) (1995)
4            50     5.0    high rating      Usual Suspects, The (1995)
...         ...     ...            ...                             ...
100831   166534     4.0  middle rating                    Split (2017)
100832   168248     5.0    high rating   John Wick: Chapter Two (2017)
100833   168250     5.0    high rating                  Get Out (2017)
100834   168252     5.0    high rating                    Logan (2017)
100835   170875     3.0  middle rating  The Fate of the Furious (2017)

[100836 rows x 4 columns]

## Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

           'Центр': ['москва', 'тула', 'ярославль'],

           'Северо-Запад': ['петербург', 'псков', 'мурманск'],

           'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
           }

Результат классификации запишите в отдельный столбец region.

In [3]:
keywords = pd.read_csv('keywords.csv')

def region(geo):
    if ('москв' and 'тул' and 'ярославл' in geo):
        return 'Центр'
    elif ('петербург' and 'псков' and 'мурманск' in geo):
        return 'Северо-Запад'
    elif ('владивосток' and 'сахалин' and 'хабаровск' in geo):
        return 'Дальний Восток'
    else:
        return 'undefined'

keywords['region'] = keywords['keyword'].apply(region)
keywords.groupby(['region', 'keyword']).count()

                                               shows
region    keyword
undefined 0                                        1
          00                                       1
          000                                      1
          001                                      1
          003                                      1
...                                              ...
Центр     юла ярославль                            1
          яроблтур ярославль официальный сайт      1
          ярославль                                1
          ярославль достопримечательности          1
          ярославль погода                         1

[100000 rows x 1 columns]

In [4]:
keywords['region'].unique()

array(['undefined', 'Центр', 'Дальний Восток', 'Северо-Запад'],
      dtype=object)