## 1. Загрузка данных

In [ ]:
import pandas as pd

In [ ]:
ratings = pd.read_csv('u.data.csv', names = ['User_id', 'Film_id', 'Rating', 'Timestamp'], sep='\t')
ratings

       User_id  Film_id  Rating  Timestamp
0          196      242       3  881250949
1          186      302       3  891717742
2           22      377       1  878887116
3          244       51       2  880606923
4          166      346       1  886397596
...        ...      ...     ...        ...
99995      880      476       3  880175444
99996      716      204       5  879795543
99997      276     1090       1  874795795
99998       13      225       2  882399156
99999       12      203       3  879959583

[100000 rows x 4 columns]

In [ ]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   User_id    100000 non-null  int64
 1   Film_id    100000 non-null  int64
 2   Rating     100000 non-null  int64
 3   Timestamp  100000 non-null  int64
dtypes: int64(4)
memory usage: 3.1 MB

In [ ]:
ratings.describe()

            User_id        Film_id         Rating     Timestamp
count  100000.00000  100000.000000  100000.000000  1.000000e+05
mean      462.48475     425.530130       3.529860  8.835289e+08
std       266.61442     330.798356       1.125674  5.343856e+06
min         1.00000       1.000000       1.000000  8.747247e+08
25%       254.00000     175.000000       3.000000  8.794487e+08
50%       447.00000     322.000000       4.000000  8.828269e+08
75%       682.00000     631.000000       4.000000  8.882600e+08
max       943.00000    1682.000000       5.000000  8.932866e+08

In [ ]:
movies = pd.read_csv('u.item.csv', names = ['Film_id', 'Film_name', 'Release_date', 'Video_date', 'IMDb URL', '?', 'Action',\
                                            'Adventure', 'Animation', 'Child', 'Comedy', 'Detective', 'Docs', 'Drama',\
                                            'Fantasy', 'Noir', 'Horror', 'Musical', 'Mystiс', 'Romantic', 'Science',\
                                            'Thriller', 'War', 'Western'], sep='|', engine = 'python')
movies

      Film_id                                  Film_name  ... War  Western
0           1                           Toy Story (1995)  ...   0        0
1           2                           GoldenEye (1995)  ...   0        0
2           3                          Four Rooms (1995)  ...   0        0
3           4                          Get Shorty (1995)  ...   0        0
4           5                             Copycat (1995)  ...   0        0
...       ...                                        ...  ...  ..      ...
1677     1678                          Mat' i syn (1997)  ...   0        0
1678     1679                           B. Monkey (1998)  ...   0        0
1679     1680                       Sliding Doors (1998)  ...   0        0
1680     1681                        You So Crazy (1994)  ...   0        0
1681     1682  Scream of Stone (Schrei aus Stein) (1991)  ...   0        0

[1682 rows x 24 columns]

In [ ]:
from datetime import datetime
movies['Release_year'] = pd.DatetimeIndex(movies['Release_date']).year
movies['Release_year'] = movies.Release_year.astype('Int64')
movies = movies[['Film_id', 'Film_name', 'Release_year', 'Action', 'Adventure', 'Animation', 'Child', 'Comedy', 'Detective',\
                 'Docs', 'Drama', 'Fantasy', 'Noir', 'Horror', 'Musical', 'Mystiс', 'Romantic', 'Science', 'Thriller', 'War',\
                 'Western']]
movies

      Film_id                                  Film_name  ...  War  Western
0           1                           Toy Story (1995)  ...    0        0
1           2                           GoldenEye (1995)  ...    0        0
2           3                          Four Rooms (1995)  ...    0        0
3           4                          Get Shorty (1995)  ...    0        0
4           5                             Copycat (1995)  ...    0        0
...       ...                                        ...  ...  ...      ...
1677     1678                          Mat' i syn (1997)  ...    0        0
1678     1679                           B. Monkey (1998)  ...    0        0
1679     1680                       Sliding Doors (1998)  ...    0        0
1680     1681                        You So Crazy (1994)  ...    0        0
1681     1682  Scream of Stone (Schrei aus Stein) (1991)  ...    0        0

[1682 rows x 21 columns]

In [ ]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1682 entries, 0 to 1681
Data columns (total 21 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Film_id       1682 non-null   int64
 1   Film_name     1682 non-null   object
 2   Release_year  1681 non-null   Int64
 3   Action        1682 non-null   int64
 4   Adventure     1682 non-null   int64
 5   Animation     1682 non-null   int64
 6   Child         1682 non-null   int64
 7   Comedy        1682 non-null   int64
 8   Detective     1682 non-null   int64
 9   Docs          1682 non-null   int64
 10  Drama         1682 non-null   int64
 11  Fantasy       1682 non-null   int64
 12  Noir          1682 non-null   int64
 13  Horror        1682 non-null   int64
 14  Musical       1682 non-null   int64
 15  Mystiс        1682 non-null   int64
 16  Romantic      1682 non-null   int64
 17  Science       1682 non-null   int64
 18  Thriller      1682 non-null   int64
 19  War           1682 non-null   int64
 20  Western       1682 non-null   int64
dtypes: Int64(1), int64(19), object(1)
memory usage: 277.7+ KB

In [ ]:
movies.describe()

           Film_id  Release_year  ...          War      Western
count  1682.000000    1681.00000  ...  1682.000000  1682.000000
mean    841.500000    1989.38608  ...     0.042212     0.016052
std     485.695893      14.25358  ...     0.201131     0.125714
min       1.000000    1922.00000  ...     0.000000     0.000000
25%     421.250000    1993.00000  ...     0.000000     0.000000
50%     841.500000    1995.00000  ...     0.000000     0.000000
75%    1261.750000    1996.00000  ...     0.000000     0.000000
max    1682.000000    1998.00000  ...     1.000000     1.000000

[8 rows x 20 columns]

## 2. Пользователь, поставивший больше всего оценок

In [ ]:
most_active_user = ratings.groupby('User_id').count()[['Timestamp']].sort_values('Timestamp', ascending=False).reset_index()
most_active_user.head(1)

   User_id  Timestamp
0      405        737

### или так

In [ ]:
most_active_user_df = ratings.User_id.value_counts().reset_index().head(1)
most_active_user_df.columns = ['User_id', 'Rating']
most_active_user_df

   User_id  Rating
0      405     737

## 3. Фильмы, которые оценил пользователь 405

In [ ]:
films_user405 = ratings.loc[ratings.User_id == 405]
films_names_user405 = films_user405.merge(movies, how='left', on='Film_id')
films_names_user405 = films_names_user405[['Film_id','Film_name', 'Release_year', 'Rating']]
films_names_user405['Release_year'] = films_names_user405.Release_year.astype('int64')
films_names_user405

     Film_id  ... Rating
0         56  ...      4
1        592  ...      1
2       1582  ...      1
3        171  ...      1
4        580  ...      1
..       ...  ...    ...
732      375  ...      1
733      445  ...      4
734     1246  ...      1
735      196  ...      1
736      958  ...      1

[737 rows x 4 columns]

In [ ]:
films_names_user405.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 737 entries, 0 to 736
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Film_id       737 non-null    int64
 1   Film_name     737 non-null    object
 2   Release_year  737 non-null    int64
 3   Rating        737 non-null    int64
dtypes: int64(3), object(1)
memory usage: 28.8+ KB

## 4. Формирование df для построения модели

In [ ]:
ratings_pivot_table = ratings.groupby('Film_id').agg({'Rating': ['sum', 'count']})['Rating']\
                             .sort_values('count', ascending=False).reset_index()
ratings_pivot_table

      Film_id   sum  count
0          50  2541    583
1         258  1936    509
2         100  2111    508
3         181  2032    507
4         294  1531    485
...       ...   ...    ...
1677     1576     1      1
1678     1577     1      1
1679     1348     1      1
1680     1579     1      1
1681     1682     3      1

[1682 rows x 3 columns]

In [ ]:
ratings_pivot_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1682 entries, 0 to 1681
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Film_id  1682 non-null   int64
 1   sum      1682 non-null   int64
 2   count    1682 non-null   int64
dtypes: int64(3)
memory usage: 39.5 KB

In [ ]:
genre_df = movies[['Film_id', 'Action', 'Adventure', 'Animation', 'Child', 'Comedy', 'Detective', 'Docs',\
                                'Drama', 'Fantasy', 'Noir', 'Horror', 'Musical', 'Mystiс', 'Romantic', 'Science',\
                                'Thriller', 'War', 'Western']]
model_df = films_names_user405.merge(ratings_pivot_table, how='left', on='Film_id')\
                              .merge(genre_df, how='left', on='Film_id')
model_df = model_df[['Release_year', 'sum', 'count', 'Action', 'Adventure', 'Animation', 'Child',\
                     'Comedy', 'Detective', 'Docs', 'Drama', 'Fantasy', 'Noir', 'Horror', 'Musical', 'Mystiс', 'Romantic',\
                     'Science', 'Thriller', 'War', 'Western', 'Rating']]
model_df

     Release_year   sum  count  Action  ...  Thriller  War  Western  Rating
0            1994  1600    394       0  ...         0    0        0       4
1            1995    30      9       0  ...         1    0        0       1
2            1947     1      1       0  ...         0    0        0       1
3            1991   252     65       0  ...         0    0        0       1
4            1995   108     32       0  ...         0    0        0       1
..            ...   ...    ...     ...  ...       ...  ...      ...     ...
732          1995    45     23       0  ...         0    0        0       1
733          1945    77     22       0  ...         0    0        0       4
734          1995    11      7       0  ...         0    0        0       1
735          1989   983    251       0  ...         0    0        0       1
736          1994    53     14       0  ...         0    0        0       1

[737 rows x 22 columns]

In [ ]:
model_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 737 entries, 0 to 736
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Release_year  737 non-null    int64
 1   sum           737 non-null    int64
 2   count         737 non-null    int64
 3   Action        737 non-null    int64
 4   Adventure     737 non-null    int64
 5   Animation     737 non-null    int64
 6   Child         737 non-null    int64
 7   Comedy        737 non-null    int64
 8   Detective     737 non-null    int64
 9   Docs          737 non-null    int64
 10  Drama         737 non-null    int64
 11  Fantasy       737 non-null    int64
 12  Noir          737 non-null    int64
 13  Horror        737 non-null    int64
 14  Musical       737 non-null    int64
 15  Mystiс        737 non-null    int64
 16  Romantic      737 non-null    int64
 17  Science       737 non-null    int64
 18  Thriller      737 non-null    int64
 19  War           737 non-null    int64
 20  Western       737 non-null    int64
 21  Rating        737 non-null    int64
dtypes: int64(22)
memory usage: 132.4 KB

## 5. Определение признаков

In [ ]:
df = model_df[['Release_year', 'sum', 'count', 'Action', 'Adventure', 'Animation', 'Child', 'Comedy', 'Detective',\
               'Docs', 'Drama', 'Fantasy', 'Noir', 'Horror', 'Musical', 'Mystiс', 'Romantic', 'Science', 'Thriller',\
               'War', 'Western']]
res = model_df.Rating

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df, res, test_size=0.30) # разделяю выборку на тренировочную и тестовую
y_test = y_test.reset_index().Rating # сбрасываю индекс y_test

## 6.1 Построение модели Линейной Регрессии

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
lr.coef_

array([-0.00892324, -0.00264535,  0.01932654, -0.20003747, -0.23256243,
       -0.10279901,  0.33573532,  0.12507483, -0.21950404,  0.19868927,
        0.24968136, -0.25950467, -0.18116786,  0.21622508,  0.37013343,
        0.20016339, -0.11607909, -0.18326187, -0.03011323, -0.31201733,
        0.00474174])

In [ ]:
lr.intercept_

18.79748393578151

In [ ]:
y_pred = lr.predict(X_test)
y_pred

array([1.14840394, 1.22319747, 3.02979308, 1.21688538, 1.23142358,
       1.56631558, 1.2050816 , 1.33341736, 2.9822725 , 1.70427517,
       1.39235697, 1.27220137, 1.57790184, 1.47113603, 1.52208126,
       1.57467525, 1.57300153, 2.73770772, 1.16413938, 2.0736794 ,
       1.47401614, 1.52321748, 2.56709917, 1.49140596, 2.14229485,
       1.23018172, 1.92792778, 3.44105042, 1.30741792, 1.28011573,
       1.20025938, 1.46710347, 2.24457821, 1.30149622, 0.96639105,
       1.25597589, 1.2138711 , 1.48278321, 3.71242408, 1.50377936,
       1.4117469 , 2.10246348, 4.01007605, 2.17521044, 1.82414978,
       2.1044976 , 3.75916548, 1.34719656, 2.50436064, 1.30744791,
       1.83284568, 1.15291335, 2.13953422, 2.19730895, 1.80127953,
       3.54941748, 3.30674583, 1.38050083, 1.15065348, 1.04074872,
       1.41778882, 2.46904454, 2.23357789, 2.28960553, 0.95070094,
       2.40461294, 1.20169375, 2.16914945, 1.3487966 , 1.77902496,
       0.93147862, 4.36255581, 3.24672986, 1.48614668, 1.17887617,
       1.44322435, 3.27468829, 2.88396305, 1.55770766, 1.26993014,
       4.35701469, 1.2925151 , 1.28228991, 1.09263505, 1.37248452,
       2.0092159 , 1.09274715, 1.3399712 , 1.26471035, 1.44744236,
       1.70411105, 1.68051067, 1.8839895 , 1.88734085, 1.34609895,
       1.41356488, 2.02660663, 1.32201439, 1.59172513, 3.62393664,
       1.85560455, 1.795493  , 2.90508249, 3.39577956, 1.46958869,
       1.49314826, 1.23903501, 1.3409196 , 1.49521483, 2.12981921,
       1.26754167, 1.08889142, 1.17552987, 1.45843695, 1.28475716,
       1.21710308, 2.06121252, 1.6559437 , 2.27388181, 1.29978019,
       1.04857193, 2.72770724, 2.71422728, 6.05928835, 2.37418061,
       3.52878556, 1.81829431, 1.30372621, 1.77792177, 3.14441533,
       1.7175159 , 1.76165997, 1.33140301, 2.59872095, 1.34964566,
       1.90637466, 2.24780944, 2.28651318, 2.08495277, 1.46034888,
       1.2882116 , 1.54169496, 4.24088904, 2.37668957, 2.057019  ,
       2.32421924, 1.46143426, 1.89701531, 1.18529101, 2.30743807,
       1.21100329, 1.23277787, 1.44746042, 1.63786612, 1.15750528,
       2.19712613, 1.17070734, 2.05384261, 1.30639111, 1.28491953,
       1.17079777, 2.16102773, 2.04820009, 0.9624153 , 1.26955602,
       1.77775079, 3.28564585, 1.65143569, 1.30870344, 1.30816913,
       2.00708753, 2.51413294, 1.49757142, 3.36555153, 1.21266144,
       1.46439034, 2.71892294, 1.86776725, 1.14346944, 1.08124156,
       0.90379557, 1.81269931, 0.78214412, 3.05157694, 2.68222936,
       1.51129456, 1.71323586, 1.397487  , 0.89249177, 1.86762375,
       1.31018349, 1.53203166, 1.08804555, 1.36227394, 1.63567107,
       1.25944264, 0.83283798, 2.09030386, 1.55706684, 1.89516736,
       2.04827462, 1.19463951, 1.17730298, 0.88772724, 1.80337866,
       1.31247263, 1.78981685, 1.6992151 , 1.74675576, 2.40070121,
       3.21747592, 2.04726996, 1.28359186, 1.78765119, 1.55198428,
       2.73967673, 1.64818575, 1.3303578 , 3.40302199, 1.77706343,
       4.33322603, 2.50060787])

In [ ]:
lr.score(X_test, y_test) # значение коэффициента детерминации

0.4234652490121158

## 7.1 Оценка качества модели Линейной Регрессии

In [ ]:
# разница факта и прогноза
result_lr = pd.DataFrame([y_test, lr.predict(X_test)]).T
result_lr.columns = ['Rating_test', 'Rating_pred']
result_lr

     Rating_test  Rating_pred
0            1.0     1.148404
1            1.0     1.223197
2            5.0     3.029793
3            1.0     1.216885
4            1.0     1.231424
..           ...          ...
217          1.0     1.330358
218          4.0     3.403022
219          3.0     1.777063
220          5.0     4.333226
221          1.0     2.500608

[222 rows x 2 columns]

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
mean_squared_error(y_test, lr.predict(X_test))

1.1205952614769785

In [ ]:
mean_squared_error(y_train, lr.predict(X_train))

1.229553725243911

## 6.2 Построение модели Дерева

In [ ]:
from sklearn.tree import DecisionTreeRegressor

In [ ]:
tree=DecisionTreeRegressor()
tree.fit(X_train, y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

## 7.2 Оценка качества модели Дерева

In [ ]:
# разница факта и прогноза
result_tree = pd.DataFrame([y_test, tree.predict(X_test)]).T
result_tree.columns = ['Rating_test', 'Rating_pred']
result_tree

     Rating_test  Rating_pred
0            1.0          1.0
1            1.0          1.0
2            5.0          2.0
3            1.0          1.0
4            1.0          1.0
..           ...          ...
217          1.0          2.0
218          4.0          1.0
219          3.0          1.0
220          5.0          5.0
221          1.0          1.0

[222 rows x 2 columns]

In [ ]:
mean_squared_error(y_test, tree.predict(X_test))

2.195945945945946

In [ ]:
mean_squared_error(y_train, tree.predict(X_train))

0.008737864077669903

## LinearDiscriminantAnalysis

In [ ]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

In [ ]:
lda = LinearDiscriminantAnalysis()
lda.fit(X_train, y_train)

LinearDiscriminantAnalysis(n_components=None, priors=None, shrinkage=None,
                           solver='svd', store_covariance=False, tol=0.0001)

In [ ]:
lda.predict(X_test)

array([1, 1, 2, 1, 1, 1, 1, 1, 5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       2, 1, 1, 2, 1, 5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 1, 1, 1, 5, 1,
       1, 1, 3, 1, 1, 2, 2, 1, 1, 1, 1, 5, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 5, 5, 1, 2, 1, 5, 5, 2, 1, 5, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 5, 1, 1, 4, 5, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 5, 3, 5, 2, 1, 1, 3, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 5, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 5, 1, 1, 1, 1, 1, 2, 5, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 5, 1, 1, 1, 1, 5, 1, 1, 5, 2,
       5, 1])

In [ ]:
# разница факта и прогноза
result_lda = pd.DataFrame([y_test, lda.predict(X_test)]).T
result_lda.columns = ['Rating_test', 'Rating_pred']
result_lda

     Rating_test  Rating_pred
0              1            1
1              1            1
2              5            2
3              1            1
4              1            1
..           ...          ...
217            1            1
218            4            5
219            3            2
220            5            5
221            1            1

[222 rows x 2 columns]

In [ ]:
mean_squared_error(y_test, lda.predict(X_test))

1.4414414414414414

In [ ]:
mean_squared_error(y_train, lda.predict(X_train))

1.9941747572815534