# Домашнее задание к лекции "Статистика. Практика"

### Задание 1
Вернемся к набору данных о видеоиграх.

Ответьте на следующие вопросы: 

 1) Как критики относятся к спортивным играм?  
 2) Критикам нравятся больше игры на PC или на PS4?  
 3) Критикам больше нравятся стрелялки или стратегии?  

Для каждого вопроса:

- сформулируйте нулевую и альтернативную гипотезы;  
- выберите пороговый уровень статистической значимости;  
- опишите полученные результаты статистического теста.

In [7]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/stat_case_study/vgsales.csv')
df['User_Score'].replace('tbd', np.NaN, inplace=True)

In [10]:
# исправим типы данных
df['Year_of_Release'] = df.Year_of_Release.astype('Int64')
df['User_Count'] = df.User_Count.astype('Int64')
df['User_Score'] = df.User_Score.astype('Float64')
df['Critic_Count'] = df.Critic_Count.astype('Int64')
df['Critic_Score'] = df.Critic_Score.astype('Float64')

# переводим оценки в один формат
df['User_Score'] = df['User_Score'] * 10

df

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51,80.0,322,Nintendo,E
1,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,<NA>,NaN,<NA>,NaN,NaN
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73,83.0,709,Nintendo,E
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73,80.0,192,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,<NA>,NaN,<NA>,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,<NA>,NaN,<NA>,NaN,NaN
16715,LMA Manager 2007,X360,2006,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,<NA>,NaN,<NA>,NaN,NaN
16716,Haitaka no Psychedelica,PSV,2016,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,<NA>,NaN,<NA>,NaN,NaN
16717,Spirits & Spells,GBA,2003,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,<NA>,NaN,<NA>,NaN,NaN
16718,Winning Post 8 2016,PSV,2016,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,<NA>,NaN,<NA>,NaN,NaN

In [15]:
df.Critic_Score.unique()

array([76., nan, 82., 80., 89., 58., 87., 91., 61., 97., 95., 77., 88.,
       83., 94., 93., 85., 86., 98., 96., 90., 84., 73., 74., 78., 92.,
       71., 72., 68., 62., 49., 67., 81., 66., 56., 79., 70., 59., 64.,
       75., 60., 63., 69., 50., 25., 42., 44., 55., 48., 57., 29., 47.,
       65., 54., 20., 53., 37., 38., 33., 52., 30., 32., 43., 45., 51.,
       40., 46., 39., 34., 35., 41., 36., 28., 31., 27., 26., 19., 23.,
       24., 21., 17., 22., 13.])

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  Int64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   Int64
 12  User_Score       7590 non-null   float64
 13  User_Count       7590 non-null   Int64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: Int64(3), float64(7), object(6)
memory usage: 2.1+ MB

In [12]:
critic_games = df[['Name', 'Genre', 'Platform', 'Publisher', 'Critic_Score', 'Critic_Count', 'Year_of_Release', 'Global_Sales', 'Rating']]
critic_games

,Name,Genre,Platform,Publisher,Critic_Score,Critic_Count,Year_of_Release,Global_Sales,Rating
0,Wii Sports,Sports,Wii,Nintendo,76.0,51,2006,82.53,E
1,Super Mario Bros.,Platform,NES,Nintendo,NaN,<NA>,1985,40.24,NaN
2,Mario Kart Wii,Racing,Wii,Nintendo,82.0,73,2008,35.52,E
3,Wii Sports Resort,Sports,Wii,Nintendo,80.0,73,2009,32.77,E
4,Pokemon Red/Pokemon Blue,Role-Playing,GB,Nintendo,NaN,<NA>,1996,31.37,NaN
...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,Action,PS3,Tecmo Koei,NaN,<NA>,2016,0.01,NaN
16715,LMA Manager 2007,Sports,X360,Codemasters,NaN,<NA>,2006,0.01,NaN
16716,Haitaka no Psychedelica,Adventure,PSV,Idea Factory,NaN,<NA>,2016,0.01,NaN
16717,Spirits & Spells,Platform,GBA,Wanadoo,NaN,<NA>,2003,0.01,NaN
16718,Winning Post 8 2016,Simulation,PSV,Tecmo Koei,NaN,<NA>,2016,0.01,NaN

In [100]:
critic_games.describe()

       Critic_Score  Critic_Count  Year_of_Release  Global_Sales
count   8137.000000   8137.000000     16450.000000  16719.000000
mean      68.967679     26.360821      2006.487356      0.533543
std       13.938165     18.980495         5.878995      1.547935
min       13.000000      3.000000      1980.000000      0.010000
25%       60.000000     12.000000      2003.000000      0.060000
50%       71.000000     21.000000      2007.000000      0.170000
75%       79.000000     36.000000      2010.000000      0.470000
max       98.000000    113.000000      2020.000000     82.530000

#### 1. Как критики относятся к спортивным играм?

In [106]:
critic_score_sport = critic_games.groupby('Genre').Critic_Score.mean().reset_index()
critic_score_sport.sort_values('Critic_Score', ascending=False)

           Genre  Critic_Score
7   Role-Playing     72.652646
11      Strategy     72.086093
10        Sports     71.968174
8        Shooter     70.181144
2       Fighting     69.217604
9     Simulation     68.619318
4       Platform     68.058350
6         Racing     67.963612
5         Puzzle     67.424107
0         Action     66.629101
3           Misc     66.619503
1      Adventure     65.331269

In [98]:
critic_count_sport = critic_games.groupby('Genre').Critic_Count.sum().reset_index()
critic_count_sport.sort_values('Critic_Count', ascending=False)

           Genre  Critic_Count
0         Action         52506
8        Shooter         33616
10        Sports         25110
7   Role-Playing         23945
6         Racing         17087
4       Platform         11778
2       Fighting         11415
3           Misc         11262
11      Strategy          8538
9     Simulation          7549
1      Adventure          7143
5         Puzzle          4549

In [99]:
# H0: Критикам нравятся спортивные игры, в среднем, не более, чем на 69%, т.е. Critic_Score.mean() <= 69
# H1: Критикам нравятся спортивные игры, в среднем, более, чем на 69%, т.е. Critic_Score.mean() > 69
# (Critic_Score.mean() == 69 - из critic_games.describe())

#### 2. Критикам нравятся больше игры на PC или на PS4?

In [104]:
ritic_score_platforms = critic_games.groupby('Platform').Critic_Score.mean().reset_index()
ritic_score_platforms.sort_values('Critic_Score', ascending=False).loc[ritic_score_platforms.Platform.isin(['PC','PS4'])]

   Platform  Critic_Score
13       PC     75.928671
18      PS4     72.091270

In [105]:
critic_count_platforms = critic_games.groupby('Platform').Critic_Count.sum().reset_index()
critic_count_platforms.sort_values('Critic_Count', ascending=False).loc[critic_count_platforms.Platform.isin(['PC','PS4'])]

   Platform  Critic_Count
13       PC         19963
18      PS4          9820

In [101]:
# H0: Критикам нравятся игры на PS4 не менее, чем на PC, т.е. PS4.Critic_Score.mean() >= PC.Critic_Score.mean()
# H1: Критикам нравятся игры на PS4 более, чем на PC, т.е. PS4.Critic_Score.mean() < PC.Critic_Score.mean()

#### 3. Критикам больше нравятся стрелялки или стратегии?

In [102]:
critic_score_genres = critic_games.groupby('Genre').Critic_Score.mean().reset_index()
critic_score_genres.sort_values('Critic_Score', ascending=False).loc[critic_score_genres.Genre.isin(['Shooter','Strategy'])]

       Genre  Critic_Score
11  Strategy     72.086093
8    Shooter     70.181144

In [103]:
critic_count_genres = critic_games.groupby('Genre').Critic_Count.sum().reset_index()
critic_count_genres.sort_values('Critic_Count', ascending=False).loc[critic_count_genres.Genre.isin(['Shooter','Strategy'])]

       Genre  Critic_Count
8    Shooter         33616
11  Strategy          8538

In [ ]:
# H0: Критикам нравятся стратегии не менее, чем стрелялки, т.е. Strategy.Critic_Score.mean() >= Shooter.Critic_Score.mean()
# H1: Критикам нравятся стратегии меньше, чем стрелялки, т.е. Strategy.Critic_Score.mean() < Shooter.Critic_Score.mean()

In [ ]:
import matplotlib.pyplot as plt
from pylab import rcParams
rcParams['figure.figsize'] = 11,5
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

## Задание 2
Реализуйте базовую модель логистической регрессии для классификации текстовых сообщений (используемые данные здесь) по признаку спама. Для этого:  

1) Привидите весь текст к нижнему регистру;  
2) Удалите мусорные символы;  
3) Удалите стоп-слова;  
4) Привидите все слова к нормальной форме;  
5) Преобразуйте все сообщения в вектора TF-IDF. Вам поможет следующий код:  

    from sklearn.feature_extraction.text import TfidfVectorizer

    tfidf = TfidfVectorizer()
    tfidf_matrix = tfidf.fit_transform(df.Message)
    names = tfidf.get_feature_names()
    tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=names)
    
Можете поэкспериментировать с параметрами TfidfVectorizer;  
6) Разделите данные на тестовые и тренировочные в соотношении 30/70, укажите random_state=42. Используйте train_test_split;  
7) Постройте модель логистической регрессии, укажите random_state=42, оцените ее точность на тестовых данных;  
8) Опишите результаты при помощи confusion_matrix;  
9) Постройте датафрейм, который будет содержать все исходные тексты сообщений, классифицированные неправильно (с указанием фактического и предсказанного).