## Лабораторная работа по курсу «Python для анализа данных»

### При выполнении работы допускается использование любых внешних модулей и пакетов.

#### Задача 1

Дана строка:

In [1]:
string_01 = "History is always written by the winners. When two cultures clash, the loser is obliterated, and the winner writes the history books - books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?'"

In [2]:
string = string_01[0:]
string

"History is always written by the winners. When two cultures clash, the loser is obliterated, and the winner writes the history books - books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?'"

1. Посчитайте, сколько в строке символов, исключая пробелы:

In [3]:
len(string_01) - string_01.count(' ')

225

In [4]:
symbols = string_01.replace(' ', '')
symbols

"Historyisalwayswrittenbythewinners.Whentwoculturesclash,theloserisobliterated,andthewinnerwritesthehistorybooks-bookswhichglorifytheirowncauseanddisparagetheconqueredfoe.AsNapoleononcesaid,'Whatishistory,butafableagreedupon?'"

In [5]:
len(symbols)

225

In [6]:
import re

In [7]:
symbols_re = re.findall(r'\S', string_01)
symbols_re

['H',
 'i',
 's',
 't',
 'o',
 'r',
 'y',
 'i',
 's',
 'a',
 'l',
 'w',
 'a',
 'y',
 's',
 'w',
 'r',
 'i',
 't',
 't',
 'e',
 'n',
 'b',
 'y',
 't',
 'h',
 'e',
 'w',
 'i',
 'n',
 'n',
 'e',
 'r',
 's',
 '.',
 'W',
 'h',
 'e',
 'n',
 't',
 'w',
 'o',
 'c',
 'u',
 'l',
 't',
 'u',
 'r',
 'e',
 's',
 'c',
 'l',
 'a',
 's',
 'h',
 ',',
 't',
 'h',
 'e',
 'l',
 'o',
 's',
 'e',
 'r',
 'i',
 's',
 'o',
 'b',
 'l',
 'i',
 't',
 'e',
 'r',
 'a',
 't',
 'e',
 'd',
 ',',
 'a',
 'n',
 'd',
 't',
 'h',
 'e',
 'w',
 'i',
 'n',
 'n',
 'e',
 'r',
 'w',
 'r',
 'i',
 't',
 'e',
 's',
 't',
 'h',
 'e',
 'h',
 'i',
 's',
 't',
 'o',
 'r',
 'y',
 'b',
 'o',
 'o',
 'k',
 's',
 '-',
 'b',
 'o',
 'o',
 'k',
 's',
 'w',
 'h',
 'i',
 'c',
 'h',
 'g',
 'l',
 'o',
 'r',
 'i',
 'f',
 'y',
 't',
 'h',
 'e',
 'i',
 'r',
 'o',
 'w',
 'n',
 'c',
 'a',
 'u',
 's',
 'e',
 'a',
 'n',
 'd',
 'd',
 'i',
 's',
 'p',
 'a',
 'r',
 'a',
 'g',
 'e',
 't',
 'h',
 'e',
 'c',
 'o',
 'n',
 'q',
 'u',
 'e',
 'r',
 'e',
 'd',
 'f',
 'o',
 'e',
 '.',
 'A',
 's',
 'N',
 'a',
 'p',
 'o',
 'l',
 'e',
 'o',
 'n',
 'o',
 'n',
 'c',
 'e',
 's',
 'a',
 'i',
 'd',
 ',',
 "'",
 'W',
 'h',
 'a',
 't',
 'i',
 's',
 'h',
 'i',
 's',
 't',
 'o',
 'r',
 'y',
 ',',
 'b',
 'u',
 't',
 'a',
 'f',
 'a',
 'b',
 'l',
 'e',
 'a',
 'g',
 'r',
 'e',
 'e',
 'd',
 'u',
 'p',
 'o',
 'n',
 '?',
 "'"]

In [8]:
len(symbols_re)

225

In [9]:
list_symbol = []
for symbol in string_01:
    if symbol != ' ':
        list_symbol.append(symbol)
        continue
print(list_symbol)

['H', 'i', 's', 't', 'o', 'r', 'y', 'i', 's', 'a', 'l', 'w', 'a', 'y', 's', 'w', 'r', 'i', 't', 't', 'e', 'n', 'b', 'y', 't', 'h', 'e', 'w', 'i', 'n', 'n', 'e', 'r', 's', '.', 'W', 'h', 'e', 'n', 't', 'w', 'o', 'c', 'u', 'l', 't', 'u', 'r', 'e', 's', 'c', 'l', 'a', 's', 'h', ',', 't', 'h', 'e', 'l', 'o', 's', 'e', 'r', 'i', 's', 'o', 'b', 'l', 'i', 't', 'e', 'r', 'a', 't', 'e', 'd', ',', 'a', 'n', 'd', 't', 'h', 'e', 'w', 'i', 'n', 'n', 'e', 'r', 'w', 'r', 'i', 't', 'e', 's', 't', 'h', 'e', 'h', 'i', 's', 't', 'o', 'r', 'y', 'b', 'o', 'o', 'k', 's', '-', 'b', 'o', 'o', 'k', 's', 'w', 'h', 'i', 'c', 'h', 'g', 'l', 'o', 'r', 'i', 'f', 'y', 't', 'h', 'e', 'i', 'r', 'o', 'w', 'n', 'c', 'a', 'u', 's', 'e', 'a', 'n', 'd', 'd', 'i', 's', 'p', 'a', 'r', 'a', 'g', 'e', 't', 'h', 'e', 'c', 'o', 'n', 'q', 'u', 'e', 'r', 'e', 'd', 'f', 'o', 'e', '.', 'A', 's', 'N', 'a', 'p', 'o', 'l', 'e', 'o', 'n', 'o', 'n', 'c', 'e', 's', 'a', 'i', 'd', ',', "'", 'W', 'h', 'a', 't', 'i', 's', 'h', 'i', 's', 't', 'o', 'r', 'y', ',', 'b', 'u', 't', 'a', 'f', 'a', 'b', 'l', 'e', 'a', 'g', 'r', 'e', 'e', 'd', 'u', 'p', 'o', 'n', '?', "'"]

In [10]:
len(list_symbol)

225

2. Посчитайте, сколько в строке слов.

In [11]:
string_01 = "History is always written by the winners. When two cultures clash, the loser is obliterated, and the winner writes the history books - books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?'"

In [12]:
string = string_01[0:]
string

"History is always written by the winners. When two cultures clash, the loser is obliterated, and the winner writes the history books - books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?'"

In [13]:
words_split = string.split(' ')
words_split

['History',
 'is',
 'always',
 'written',
 'by',
 'the',
 'winners.',
 'When',
 'two',
 'cultures',
 'clash,',
 'the',
 'loser',
 'is',
 'obliterated,',
 'and',
 'the',
 'winner',
 'writes',
 'the',
 'history',
 'books',
 '-',
 'books',
 'which',
 'glorify',
 'their',
 'own',
 'cause',
 'and',
 'disparage',
 'the',
 'conquered',
 'foe.',
 'As',
 'Napoleon',
 'once',
 'said,',
 "'What",
 'is',
 'history,',
 'but',
 'a',
 'fable',
 'agreed',
 "upon?'"]

In [14]:
len(words_split)

46

In [15]:
words_re = re.findall(r'\w+', string_01)
words_re

['History',
 'is',
 'always',
 'written',
 'by',
 'the',
 'winners',
 'When',
 'two',
 'cultures',
 'clash',
 'the',
 'loser',
 'is',
 'obliterated',
 'and',
 'the',
 'winner',
 'writes',
 'the',
 'history',
 'books',
 'books',
 'which',
 'glorify',
 'their',
 'own',
 'cause',
 'and',
 'disparage',
 'the',
 'conquered',
 'foe',
 'As',
 'Napoleon',
 'once',
 'said',
 'What',
 'is',
 'history',
 'but',
 'a',
 'fable',
 'agreed',
 'upon']

In [16]:
len(words_re)

45

3. Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на эту букву (например, “w”).

In [17]:
import re

In [18]:
string_01 = "History is always written by the winners. When two cultures clash, the loser is obliterated, and the winner writes the history books - books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?'"

In [19]:
def first_words_start_with(letter):
    words_split = string_01[0:].split()
    for word in words_split:
        if word.startswith(letter.lower()) or word.startswith(letter.upper()):
            print(word)
first_words_start_with('w')

written
winners.
When
winner
writes
which

In [25]:
inp_letter = input('Введите букву: ')

words_split = string_01[0:].split()
words_split_list = []
for element in words_split:
    if inp_letter == element[0]:
        words_split_list.append(element)
print(words_split_list)

Введите букву: w
['written', 'winners.', 'winner', 'writes', 'which']

In [26]:
inp_letter = input('Введите букву: ')

words_re = re.findall(r'\w+', string_01)
words_re_list = []
for element in words_re:
    if inp_letter == element[0]:
        words_re_list.append(element)
print(words_re_list)

Введите букву: w
['written', 'winners', 'winner', 'writes', 'which']

In [31]:
string_01 = "History is always written by the winners. When two cultures clash, the loser is obliterated, and the winner writes the history books - books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?'"
print(re.findall(r'(?i)(\b[w]+\w+)', string_01))

['written', 'winners', 'When', 'winner', 'writes', 'which', 'What']

In [ ]:
def check(letter):
    letter = input('Введите букву: ')
    pattern = r'(?i)(\b[w]+\w+)'
    result = re.findall(pattern, string_01)
    if result:
        print(result)
    else:
        print('С такой буквы не найдено ни одного слова')

check(w)

In [ ]:
pattern = r'b\ [' + letter.upper() + letter.lower() + ']\w+'

#### Задача 2

Напишите код, который будет генерировать случайную последовательность из 6 цифр, одна из которых должна быть 3. Позиция цифры 3 должна
определяться случайным образом. Результат должен быть строкой. Например: "456309" или "330127".

In [35]:
import random

In [51]:
number = [str(random.randint(0, 9)) for i in range(5)]
number.append('3')
random.shuffle(number)
number = ''.join(number)

In [52]:
number

'853842'

In [55]:
def random3():
    digit = str(random.randint(100000, 999999))
    if digit.find('3') > 0:
        return digit
    else:
        return random3()
random3()

'696230'

#### Задача 3

Дан список:

In [57]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]

Напишите алгоритм, который выводит число, равное сумме элементов списка, которые больше 10, но меньше 100, и которые больше 200, но меньше 500.

In [61]:
[x for x in list_01 if 10 < x < 100 or 200 < x < 500]

[13, 21, 34, 55, 89, 233, 377, 14, 46, 273, 22, 99, 15]

In [62]:
sum([x for x in list_01 if 10 < x < 100 or 200 < x < 500])

1291

In [50]:
list_02 = []

for element in list_01:
    if 10 < element < 100 or 200 < element < 500:
        list_02.append(element)        
    else:
        None

print(list_02, 'Сумма:', sum(list_02))

[13, 21, 34, 55, 89, 233, 377, 14, 46, 273, 22, 99, 15] Сумма: 1291

#### Задача 4

Данные студентов представлены в виде списка списков:

In [64]:
students = [
["0001", "Антонов", "Антон", "Игоревич", "20.08.2009","БСТ161"],
["1102", "Богов", "Артем", "Игоревич", "25.01.2010","БСТ162"],
["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],
["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],
["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],
["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],
["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"]
    ]

1. Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.

In [67]:
students_dict = {}   #dict()
for student in students:
#    students_dict[key] = value
    students_dict[student[0]] = student[1:]

In [68]:
students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

In [53]:
key_list = []
values_list = []

for element in students:
    key_list.append(element[0])
    values_list.append(element[1:])
    
#print(key_list)
#print(values_list)
students_dict = dict(zip(key_list, values_list))
students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

2. Напишите функцию, которая принимает в качестве аргумента номер студента и новый номер группы и позволяет изменить номер группы этого студента на новый внутри созданного словаря.

In [71]:
def change_group(student_number, new_group):
    students_dict[student_number][4] = new_group

In [73]:
change_group('0001', 'PYDA-21')

In [74]:
students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'PYDA-21'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

In [54]:
def change_num_group(students_dict):
    inp_num_student = input('Введите номер студента: ')
    inp_new_num_group = input('Введите новый номер группы: ')
    print('')
    for num_student in students_dict:
        if inp_num_student in students_dict.keys():
            print(f"Номер студента: {num_student}")            
            for line in students_dict.values():
                first_name, sur_name, second_name, date, group_num = line
                group_number = group_num[num_student.index(num_student):]
                print(f"Номер группы: {group_number}")
                return f"Новый номер группы: {group_number.replace(group_number, inp_new_num_group)}"
                
            break
        else:
            return 'Нет такого студента'
change_num_group(students_dict), students_dict

Введите номер студента: 0001
Введите новый номер группы: БСТ164

Номер студента: 0001
Номер группы: БСТ161

('Новый номер группы: БСТ164',
 {'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
  '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
  '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
  '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
  '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
  '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
  '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']})

3. Напишите функцию, которая принимает номер группы и выводит список (фамилии, имена, отчества) всех студентов этой группы. Необходимо обращаться к словарю.

In [75]:
def print_student(group_number):
    for student in students_dict.values():
        if student[-1] == group_number:
            print(student[0], student[1], student[2])

In [76]:
print_student('БСТ162')

Богов Артем Игоревич
Сиропова Виолетта Эдуардовна

In [55]:
def get_fio(students_dict):
    inp_num_group = input('Введите номер группы: ')
    for num_student in students_dict:
        for line in students_dict.values():
            first_name, sur_name, second_name, date, group_num = line
            group_number = group_num[num_student.index(num_student):]
            if inp_num_group == group_num:
                print([first_name[num_student.index(num_student):], \
                       sur_name[num_student.index(num_student):], \
                       second_name[num_student.index(num_student):]])
        break
        
get_fio(students_dict)

Введите номер группы: БСТ161
['Антонов', 'Антон', 'Игоревич']
['Степанова', 'Наталья', 'Александровна']
['Боков', 'Игорь', 'Харитонович']

#### Задача 5

Дана матрица:

In [77]:
matrix = [ 
    [0,1,2,4,8], 
    [6,2,2,1,9], 
    [3,3,3,3,3], 
    [4,6,7,1,2], 
    [5,7,3,4,0] 
]

1. Выведите результат сложения всех элементов матрицы.

In [79]:
sum([sum(row) for row in matrix])

89

In [57]:
sum(sum(matrix, []))

89

2. Напишите алгоритм вычисления максимума из сумм элементов каждого столбца.

In [80]:
max(sum(item) for item in zip(*matrix))

22

In [81]:
matrix

[[0, 1, 2, 4, 8],
 [6, 2, 2, 1, 9],
 [3, 3, 3, 3, 3],
 [4, 6, 7, 1, 2],
 [5, 7, 3, 4, 0]]

In [83]:
print(*matrix)

[0, 1, 2, 4, 8] [6, 2, 2, 1, 9] [3, 3, 3, 3, 3] [4, 6, 7, 1, 2] [5, 7, 3, 4, 0]

In [87]:
zip(*matrix)

In [88]:
for item in zip(*matrix):
    print(item)

(0, 6, 3, 4, 5)
(1, 2, 3, 6, 7)
(2, 2, 3, 7, 3)
(4, 1, 3, 1, 4)
(8, 9, 3, 2, 0)

In [84]:
# сумма максимальных значений сирок матрицы

In [58]:
summ = 0
for element in matrix:
    summ += max(element)    
print(summ)

34

In [131]:
import random
# Щепотка цифр
str1 = '123456789'
# Щепотка строчных букв
str2 = 'qwertyuiopasdfghjklzxcvbnm'
# Щепотка прописных букв. Готовится преобразованием str2 в верхний     регистр.
str3 = str2.upper()
print(str3)
# Выведет: 'QWERTYUIOPASDFGHJKLZXCVBNM'

# Соединяем все строки в одну
str4 = str1+str2+str3
print(str4)
# Выведет: '123456789qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNM'

# Преобразуем получившуюся строку в список
ls = list(str4)
# Тщательно перемешиваем список
random.shuffle(ls)
# Извлекаем из списка 12 произвольных значений
psw = ''.join([random.choice(ls) for x in range(12)])
# Пароль готов
print(psw)
# Выведет: '1t9G4YPsQ5L7'

QWERTYUIOPASDFGHJKLZXCVBNM
123456789qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNM
1TGMR4rYdBtp